---
{
  "layout": "base.njk",
  "permalink": "centerfire/centerfire.html",
  "title": "CENTERFIRE RIFLE 2026 — Pine Tree Rifle Club",
  "description": "Pine Tree Rifle Club - Centerfire - 2026 Centerfire Registration Form Centerfire Benchrest score sheet Rules and Procedures Rifleman's Series (2024 rules s",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<div class="legacy-c353af57b2">
<br>
<div class="legacy-c353af57b2"><h1>Pine Tree Rifle Club - Centerfire -</h1></div>
<br>
<a href="FORM2026CFBRleaguereg.pdf">2026 Centerfire Registration Form</a>
<br>
<br>
<a href="FORMPTRCCFBRscoresheet.pdf">Centerfire Benchrest score sheet</a>
<br>
<br>
<a href="2024rulesprocedures.pdf">Rules and Procedures Rifleman's Series (2024 rules still ineffect)</a>
<br>
<br>
<a href="../rimfire/targeframe01.pdf">Target Frame</a>
<br>
<br>
<h2 class="legacy-h1">Center Fire League Schedule for 2026</h2>
<h2>
Saturday May 16th 100yd for Score 9AM
<br>
Saturday June 13th 200yd for Score 9AM
<br>
Saturday August 1st 100yd for Score 9AM
<br>
Saturday September 26th 200yd for Score 9AM
</h2>
<h2 class="legacy-h1">Rifleman's Top Gun Schedule for 2026</h2>
<h2>
Saturday May 7th Rifleman's Challenge 9AM
<br>
Saturday June 6th Rifleman's Team Challenge 9AM
<br>
Saturday July 18th Rifleman's X-Treem Challenge 9AM
<br>
Saturday August 8th Rifleman's Scramble 9AM
<br>
</h2>
<h2 class="legacy-h1">IBS Matches at PTRC 2026</h2>
<h2>
June 27th 100yd &amp; 28th 200yd Moretzo Group 9AM
<br>
July 25th 100yd 9AM
<br>
August 28th early registration for wkend match
<br>
August 29th 100yd 30th 200yd for Score 9AM
<br>
September 12th 200yd 9AM
</h2>
<br>

</div>
