---
{
  "layout": "base.njk",
  "permalink": "centerfire/cfire2019.html",
  "title": "Pine Tree Rifle Club Centerfire/IBS",
  "description": "PTRC/IBS Center Fire Bench Rest Matches 2019 Ken Benton; Match Director 158 Kingsboro Avenue Gloversville, NY 12078-3915 khbear334@gmail.com PTRC/IBS 2019 ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---

<br>
<br>
<div class="legacy-c353af57b2"><img src="../pics/06292013200ydcfm.jpg" width="1000" height="641" alt="06292013200ydcfm (32K)"></div>
<br>
<table class="legacy-border-5 legacy-c0c2970bfa">
			 <tbody><tr>
			 		 <td colspan="2" class="legacy-fb5ec070f2">
					 		 <h1><b> PTRC/IBS Center Fire Bench Rest Matches 2019</b></h1>
 					</td>
			</tr>
 <tr>
        <td colspan="2" class="legacy-fb5ec070f2">
<br>
Ken Benton; Match Director
<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;158 Kingsboro Avenue
<br>
 &nbsp;&nbsp;Gloversville, NY 12078-3915
 <br>
<a href="mailto:khbear334@gmail.com">khbear334@gmail.com</a>
 <br><br>
 </td>
</tr>
<tr>

       <td colspan="2" class="legacy-fb5ec070f2"><span class="legacy-b902eeb30e">PTRC/IBS 2019 PROGRAM</span></td>
</tr>
<tr>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">IBS Registration Form - update shortly</span> </td>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">IBS Release of Liability Form - update shortly</span></td>
</tr>
<tr>
       <td colspan="2" class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">SCHEDULED IBS MATCHES</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">May 12th 100yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e"><a href="../missing-content.html#3cdfe1ee9934">Results</a></span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">June 09th 200yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results IBS</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">July 21st 100yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results IBS</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">August 18th 100yd NYS Championship</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results IBS</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">August 19th 200yd NYS Championship</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results IBS</span> <a href="https://1drv.ms/f/s!Akg5kIga9ueWw1s9DFX0KX2UH5c2" target="_blank" rel="noopener noreferrer">Photos of Match 2018</a></td>
</tr>
<tr>
		 	 <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">September 23rd 200yd</span></td>
			 <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results IBS</span></td>
</tr>
<tr>
       <td colspan="2" class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">SCHEDULED PTRC MATCHES</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">May 12th 100yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">June 09th 200yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">July 21st 100yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">August 18th 100yd</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">August 19th 200yd</span></td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">Sept 22nd 200yd and Donaldson Match</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">Match Results PTRC</span></td>
</tr>
</tbody></table>
<br>
<br>


