---
{
  "layout": "base.njk",
  "permalink": "travelleaguerifle/trl.html",
  "title": "Eastern New York Rifle League 2025/26 — Pine Tree Rifle Club",
  "description": "Pine Tree Marksmen Eastern New York Rifle League The Pine Tree Marksmen shoot in the winter months (December - March) in the Eastern NY Rifle league. We sh",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><span class="legacy-43e254f1ee"><b>Pine Tree Marksmen</b></span></div>
<br>
<div class="legacy-c353af57b2"><b><span class="legacy-8f05af8d3a">Eastern New York Rifle League</span></b></div>
<br>
<div class="legacy-c353af57b2"><p>
The Pine Tree Marksmen shoot in the winter months (December - March) in the Eastern NY Rifle league.
<br>
We shoot on our indoor range here and travel to other clubs
<br>
and shoot indoors on Friday nights throughout the season.
<br>
We shoot according to NRA position rifle rules with target .22 rifles, scopes or iron sights.
<br>
It's lots of fun, the food is always good (even if the scores aren't!) and a good time is
had by all.
<br>
We have shooters 12-18 (with supervision), adults, ladies, seniors, etc.
<br>
Everyone is welcome as long as they are a member of one of the participating clubs.
<br>
The Team is at the club every Tuesday evening for practice - join us.
<br><br>
For information contact:
bruceg2756@yahoo.com
</p></div>
<br><br><div class="legacy-f98591319f">
<div class="legacy-c353af57b2">
ENYRL 2023-2024 Schedule
<br>
All Teams Shoot At One Location per Match
<br></div>
<br>
<table class="legacy-border-5 legacy-e29d3827b9">
<tbody><tr>
<td>
December 01,2023
<br>
Iroquois
</td>
<td>
December 08, 2023
<br>
Pine Tree
</td>
<td>
December 15, 2023
<br>
Forbes
</td>
</tr>
<tr><td>
January 05, 2024
<br>
Iroquois
</td>
<td>
January 12,2024
<br>
Pine Tree
</td>
<td>
January 19, 2023
<br>
Forbes
</td>
</tr><tr>
<td>
January 26, 2024
<br>
Iroquois
</td>
<td>
February 02, 2024
<br>
Pine Tree
</td>
<td>
February 09,2024
<br>
Forbes
</td>
</tr><tr>
<td>
February 16, 2024
<br>
Iroquois
</td>
<td>
February 23, 2024
<br>
Pine Tree
</td>
<td>
March 01, 2024
<br>
Forbes
</td>
</tr><tr>
<td>
March 08. 2024
<br>
Iroquois
</td>
<td>
Tenative March 15, 2024
<br>
Pine Tree
</td>
<td>
March 22, 2024
<br>
Forbes
</td>
</tr>
</tbody></table>


</div>
