---
{
  "layout": "base.njk",
  "permalink": "rimfire/2015.html",
  "title": "Pine Tree Rifle Club Rimfire League 2015",
  "description": "RIMFIRE LEAGUE 2015",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---


<div class="legacy-c353af57b2"><b><span class="legacy-63a7ce21a5">RIMFIRE LEAGUE 2015</span></b></div>



