---
{
  "layout": "base.njk",
  "permalink": "rimfire/2026brlsch.htm",
  "title": "2026brlsch — Pine Tree Rifle Club",
  "description": "PTRC Rimfire Benchrest League Schedule 2026 Mon April 27 Registration/Practice Day Mon May 04 RFL #01 Mon May 11 RFL #02 Mon May 18 RFL #03 Mon May 25 none",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<div class="legacy-c353af57b2"><h2>PTRC Rimfire Benchrest League Schedule 2026</h2><div></div></div>
<br>
<table class="legacy-padding-3772b3a1 legacy-border-1 legacy-ef4d633622">
<tbody><tr>
<td>
Mon
</td>
<td>
April
</td>
<td>
27
</td>
<td>
 Registration/Practice
</td>
<td>
Day
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
May
</td>
<td>
04
</td>
<td>
RFL
</td>
<td>
#01
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
May
</td>
<td>
11
</td>
<td>
RFL
</td>
<td>
#02
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
May
</td>
<td>
18
</td>
<td>
RFL
</td>
<td>
#03
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
May
</td>
<td>
25
</td>
<td>
none
</td>
<td>
#04
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
June
</td>
<td>
01
</td>
<td>
RFL
</td>
<td>
#04
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
June
</td>
<td>
08
</td>
<td>
RFL
</td>
<td>
#05
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
June
</td>
<td>
15
</td>
<td>
RFL
</td>
<td>
#06
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
June
</td>
<td>
22
</td>
<td>
RFL
</td>
<td>
#07
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
June
</td>
<td>
29
</td>
<td>
RFL
</td>
<td>
#08
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
July
</td>
<td>
00
</td>
<td>
RFL
</td>
<td>
00
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
July
</td>
<td>
13
</td>
<td>
RFL
</td>
<td>
#09
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
July
</td>
<td>
20
</td>
<td>
RFL
</td>
<td>
#10
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
July
</td>
<td>
27
</td>
<td>
RFL
</td>
<td>
#11
</td>
</tr>


<tr>
<td>
Mon
</td>
<td>
August
</td>
<td>
03
</td>
<td>
RFL
</td>
<td>
#12
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
August
</td>
<td>
10
</td>
<td>
RFL
</td>
<td>
#13
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
August
</td>
<td>
17
</td>
<td>
RFL
</td>
<td>
#14
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
August
</td>
<td>
24
</td>
<td>
RFL
</td>
<td>
#15
</td>
</tr>
<tr>
<td>
Mon
</td>
<td>
August
</td>
<td>
31
</td>
<td>
RFL
</td>
<td>
#16
</td>
</tr>
<tr><td>
Mon
</td>
<td>
September
</td>
<td>
TBA
</td>
<td>
Banquet
</td>
<td>
#00
</td>
</tr>
</tbody></table>

