---
{
  "layout": "base.njk",
  "permalink": "rimfire/kyl.htm",
  "title": "kyl — Pine Tree Rifle Club",
  "description": "KYL .22 LR Rimfire Rifle Guidlines The KYL (Know Your Limits) target sets are great fun for people of all ages and skill sets, but also a great challenge f",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<table class="legacy-border-5 legacy-d53b84a256">
<tbody><tr>
<td>
<div class="legacy-c353af57b2"><div class="legacy-f98591319f"><h2>KYL .22 LR Rimfire Rifle Guidlines</h2></div>

The KYL (Know Your Limits) target sets are great fun for people of all ages and skill sets, but also a
great challenge for all as well. The targets shall be set anywhere between 15 and 100 yards.
<br><br>
Targets are 8 swinging steel targets ranging in size from 2" diameter to ¼" diameter in ¼" increments.
<br>
You have 8 rounds MAXIMUM to score as many hits as possible.
<br>
Targets must be shot in order of largest to smallest within 60 seconds.
<br>
Targets must visibly "swing" to be counted as a hit (Match Director's decision is final).
<br>
If a target is shot at and missed, you lose all points accumulated to that point.
<br>
If a target is shot out of order, you lose all points accumulated to that point.
<br>
Shooter may stop at any time and record all points scored to that point.
<br>
If time runs out prior to a miss or completion of all 8 shots the shooter records all points accumulated to that point.
<br><br>
<b>Rifle restrictions:</b>
<br>
No lead sleds
<br>
No rear mono pods
<br>
No tripod configuration fixtures
<br>
No mechanical rear support devices
<br>
Bipods and small bags are ok
<br><br>
Standard shooting positions shall be prone, sitting and bench. "Actual positions and target distance tba at match time".
<br>
The starting position for a bolt rifle is an empty chamber, full magazine with bolt open w/ECI.
<br>
Semi autos is empty chamber, full magazine with bolt closed w/ECI.
<br>
Safety can be in the off position on either, after making ready.
<br>
Ammo limitations: Must be less than 1300 feet per second muzzle velocity.
<br><br>
</div></td></tr><tr>
<td>
<br>
<div class="legacy-c353af57b2">
One minute with 8 rounds - may stop anytime - a miss is a zero score
<br><br>
<br>
2.00" =  10 points
<br>
1.75" =  10 points
<br>
1.15" =  15 points
<br>
1.25" =  15 points
<br>
1.00" =  20 points
<br>
0.75" =  20 points
<br>
0.50" =  25 points
<br>
0.25" =  30 points
</div>
<br><br>
</td>
</tr>
</tbody></table>



