---
{
  "layout": "base.njk",
  "permalink": "rimfire/rimfire.htm",
  "title": "RIMFIRE RIFLE 2026 — Pine Tree Rifle Club",
  "description": "Pine Tree Rifle Club RIMFIRE BENCH REST DIVISION 2025 Bench Rest Registration Form 2025 SCHEDULE 2025 Benceh Rest Rules Target Frame 2025 Rimfire Scores SE",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<div class="legacy-f98591319f"><div class="legacy-474947d329"><div class="legacy-c353af57b2"><h1>Pine Tree Rifle Club RIMFIRE</h1></div></div></div>
<table role="presentation" class="legacy-2dda5cd5ef">
<tbody><tr>
<td>
<hr>
<div class="legacy-f98591319f"><h2>BENCH REST DIVISION</h2></div>
<div class="legacy-bd81c657ae"><a href="2025rimfirereg.pdf">2025 Bench Rest Registration Form</a>
<br>
<br>
<a href="../missing-content.html#4abb2cec1fb6">2025 SCHEDULE</a>
<br><br>
<a href="2025RFLRules.pdf">2025 Benceh Rest Rules</a>
<br><br>
<a href="targeframe01.pdf">Target Frame</a>
<br><br>
<a href="https://docs.google.com/spreadsheets/d/1mfpG0LIGkOzkNTnHXqpZ-x9wgVzpL--HUixlWYIQxEA/edit#gid=0"><h3><b>2025 Rimfire Scores</b></h3></a>
<br>
<hr>
</div><h3><b>SELF and GROUP COMPETITION MATCHES</b></h3>
<hr>
<h3><b>FUN Shoots/Matches</b></h3>
<a href="2023golfflyer.pdf">Golf Ball Challenge Guidlines</a>
<br>
<br>
<a href="kyl.htm">Know Your Limits Steel Challenge Guidlines</a>
<br>
<br>
<hr>
<br>
<br>
<table role="presentation" class="legacy-a2a1383143">
<tbody><tr>
<td>
</td>
</tr>
</tbody></table>

</td></tr></tbody></table>
