---
{
  "layout": "base.njk",
  "permalink": "store/store.html",
  "title": "PTRC STORE — Pine Tree Rifle Club",
  "description": "PTRC Items for Sale Polo Shirt $30.00 Polo Shirt w/pocket $32.00 Short Sleeve Tee $16.00 Long Sleeve Tee $21.00 CLUB JACKET $80.00 Carhart Jacket $160.00 S",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false,
  "legacyBodyClass": "legacy-d88cf34850"
}
---

<br><br>
<div class="legacy-c353af57b2"><h2>PTRC Items for Sale</h2></div>
<br>
<div class="legacy-c353af57b2">
<table class="legacy-border-5 legacy-eda03d0da4">
<tbody><tr>
<td>
Polo Shirt
</td>
<td>
$30.00
</td>
</tr>
<tr>
<td>
Polo Shirt w/pocket
</td>
<td>
$32.00
</td>
</tr>
<tr>
<td>
Short Sleeve Tee
</td>
<td>
$16.00
</td>
</tr>
<tr>
<td>
Long Sleeve Tee
</td>
<td>
$21.00
</td>
</tr>
<tr>
<td>
CLUB JACKET
</td>
<td>
$80.00
</td>
</tr>
<tr>
<td>
Carhart Jacket
</td>
<td>
$160.00
</td>
</tr>
<tr>
<td>
Sweat Shirt
</td>
<td>
$23.00
</td>
</tr>
<tr>
<td>
Zipper Sweat Shirt
</td>
<td>
$36.00
</td>
</tr>
<tr>
<td>
Hoodie Pullover Sweat Shirt
</td>
<td>
$33.00
</td>
</tr>
<tr>
<td>
Pistol League Polo
</td>
<td>
$24.00
</td>
</tr>
<tr>
<td>
Club Hat Full Green or Black
</td>
<td>
$12.00
</td></tr>
<tr>
<td>
Club Hat mesh Green or Black
</td>
<td>
$14.00
</td></tr>
<tr>
<td>
Club Logo Patch
</td>
<td>
$5.00
</td></tr>
<tr>
<td>
Club Logo Decals
</td>
<td>
$2.00
</td></tr>
<tr><td>

</td>
</tr><tr>
<td>
All prices listed include sales tax execpt
</td>
</tr>
<tr>
<td>
Larger Sizes Add listed sum (+4% Sales Tax)
</td>
<td>

</td>
</tr>
<tr>
<td>
2X $2.00&nbsp; 3X $3.00&nbsp; 4X $4.00&nbsp; Talls $4.00
</td>
<td>

</td>
</tr>
<tr>
<td>
.
</td>
<td>

</td>
</tr>
<tr>
<td>
All garments include Logo/Flag/Name
</td>
<td>

</td>
</tr>
<tr><td>
.
</td>
</tr>
<tr><td>
<b>ALL Orders are PRE-PAID ONLY</b>
</td>
</tr>
<tr><td>
<br>
<a href="Form%20order%20merch.pdf">ORDER FORM in PDF</a>
</td>
</tr>
</tbody></table>
<br><br>
<br><br><br>
<img src="storeclubjacket.jpg" width="370" height="400" alt="storeclubjacket (30K)">
<br>
Club 3 season jacket with logo, flag and name $80.00
<br>
<img src="carhartt-Carhartt-Brown-Duck-Detroit-Jacket.jpeg" width="368" height="368" alt="carhartt-Carhartt-Brown-Duck-Detroit-Jacket (33K)">
<br>
Carhartt Jacket $140.00 Colors:Carhartt Brown/Navy/Black
<hr>
<h2>Club items on sale in stock at our Club House</h2>
</div>
<br>
<br>
<div class="legacy-c353af57b2"><img src="winhat.jpg" width="480" height="360" alt="winhat (84K)"></div>
<br>
<br>
<div class="legacy-c353af57b2">Wool cap in stock only $10.00
<br>
<br>
<div class="legacy-c353af57b2">
<img src="hatblackfull.jpg" width="360" height="472" alt="hatblackfull (52K)">
<img src="hatgreenfull.jpg" width="360" height="472" alt="hatgreenfull (40K)">
</div>
<br>
<br>
<img src="storelogopatch.jpg" width="304" height="288" alt="storelogopatch (39K)">
<img src="storelogodecal.jpg" width="295" height="299" alt="storelogodecal (29K)">
<br><br>
3 inch club logo patch $5.00 &nbsp;&nbsp; 3 inch club decal $2.00 &nbsp;3 inch club magnet decal $2.00</div>
<br>
<br>
<br>
<hr>
<br>


