---
{
  "layout": "base.njk",
  "permalink": "index.html",
  "title": "Pine Tree Rifle Club",
  "description": "{% include \"club-navigation.njk\" %} The Rifle range road is open for the season, 9AM till dusk The gate turns off at dusk! So be aware. June 18th 2026 at 4",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": true,
  "hasHeading": false,
  "historical": false
}
---
<table role="presentation" class="legacy-padding-33a3c91b legacy-fd6c2dd0ca">
<tbody><tr>
<th scope="col">

</th>
</tr>
<tr>
<td rowspan="3" class="legacy-d9490a65a5">{% include "club-navigation.njk" %}</td>

<td class="legacy-44a73fcf55">
<table role="presentation" class="legacy-998df004cc">
<tbody><tr>
<td>
</td>
</tr>
</tbody></table>
<br>
<hr>
<h3>The Rifle range road is open for the season, 9AM till dusk</h3>
<h3>The gate turns off at dusk! So be aware.</h3>
<br>
<hr>
<h2>
June 18th 2026 at 4PM a $3.00 special for Skeet &amp; Trap
<br>
At 5:30 a Spaghetti dinner with meatballs, sausage and bread.
</h2>
<hr>
<br>
<a href="travelleaguerifle/trl.html">The 2025 2026 Schedule for the Eastern New York Rifle League is here!</a>
<br>
<br>
<hr>
<b></b><h3><b>JULY 7th 5:30PM a 22lr Pistol Bowling Pin Challenge will be held on our outdoor pistol range.</b></h3>
ALL WELCOME (fee $10.00)&nbsp; <a href="pistol/22LR%20Pistol%20Bowling%20Pin%20Challenge%20Rules.pdf">Detailed information</a>
<br>
<br>
<hr>
<br>
<br>
<div class="legacy-c353af57b2"><b>MENU OF THE MONTH</b></div>
<br>
<br>
<b>June 2026 NO Club Dinner due to K9 17</b>
<br>
<br>
<b>July 15th 2026</b>
<br>
Lobster Bake $20.00 per <u>Ticket sale only</u>
<br>
<br>
<b>August 19th 2026</b>
<br>
Annual Chicken BBQ $12.00 per <u>Ticket sale only</u>
<br>
<br>
<hr>
<h2 class="legacy-h1"><b>K9 17 2026 was a HUGE SUCCESSSSSSSS</b></h2>
<br>
Link to photo's by Mark A Perfetti =  copy and past link below and enjoy
<br>.https://www.markperfettiphotography.com/Events/PTRC-17th-Annual-K9-Ride-June-14th-2026/n-MQhth3/i-BL3GdXP
<br>
<br>
<hr>
<br>
<h2><b>VETERIANS PICNIC DATE IS AUGUST 20 AT CONCORDIA CLUB</b></h2>
<br>
<hr>
<u>NEW YORK STATE PISTOL LICENSE CLASS</u>
<br>
Our class has been approved by Fulton County, Montgomery County,
<br>
Schenectady County, Herkimer County and Saratoga County to date!
<br>
<br>
Our next classes =
<br>
July 17th 18th and 20th 2026
<br>
September 18th, 19th and 21st 2026
<br>
November 13th, 14th, and 16th 2026
<br>
The class will start at 6:00 p.m. on Friday night until 10:00 p.m.
<br>
On Saturday we will start again at 8:00 a.m. and it'll run until 5:00.
<br>
On Monday we will once again start at 6:00 pm till
<br>
All students are asked to bring a bag lunch on Saturday and bring snacks for yourself. We will provide water and coffee Friday and Saturday.
<br>
Any questions <a href="mailto:pinetreepaulc@gmail.com">email Paul</a>. The total cost that a class will be $175.
<br>
You can either submit full payment of $175.00 or get your name on the list you may submit a $100.00 deposit that is non-refundable.
<br>
The size of the class will be a limited number of students, so it will be on a first come first serve basis.
<br>
We will not register anyone for the class unless at least the deposit of $100.00 is submitted.
<br>
Thank you in advance for your cooperation.
<br>
Mail check to:
<br>
Pine Tree Rifle Club
<br>
C/O Paul Catucci
<br>
PO BOX 45
<br>
JOHNSTOWN NY 12095
<br>
<br>
Please be sure to submit your full name, email address and phone number to ensure proper communications if needed.
</td>
</tr>
<tr>
<td class="legacy-541a9510a2">
<span class="legacy-5f09164048"> </span>
<hr>
<a href="programs/scholarship.html">PTRC SCHOLARSHIP FUND</a>
<hr>
Every WEDNESDAY is our regular work party day 9AM till! Have some extra time, Join Us!
<hr>
<b>
Handgun and Rifle Ranges are open daily 9AM till dusk "EXCEPT <u>WEDNESDAY - ALL RANGES ARE CLOSED"</u>
</b>
<hr>
<h3>
<a href="programs/2026classes.html">2026 Training Classes at Pine Tree Rifle Club</a>
</h3>
<a href="https://decals.events.east.licensing.app/em/programs"><b>NEW&nbsp; NYS Hunter Education Program Event Locations</b></a>
<br>
<br>
<a href="http://www.dec.ny.gov/outdoor/7860.html">Hunter Education Program Information with links to course materials</a>
<br>
<br>
<hr>
</td>
</tr>
<tr>
<td class="legacy-44a73fcf55">
<div class="legacy-c353af57b2">To contact Paul Catucci via&nbsp;<a href="mailto:pinetreepaulc@gmail.com">Email</a></div>
<a href="https://www.facebook.com/pinetreerifleclub" target="_blank" rel="noopener noreferrer">Visit PTRC's Facebook page by Paul Catucci</a>
<br>
<hr>
<a href="https://safeact.ny.gov/pistol-permit-recertification">NYS Pistol Revolver License Recertification</a>
<br>
If your permit was issued before January 15, 2013, the deadline to submit your recertification was January 31, 2018.
<br>
If your permit was issued on or after January 15, 2013, the deadline to recertify is five years after the date the permit was issued.
<br>
As a permit holder, it is your responsibility to recertify your permit whether you receive a notification letter or not.
<hr>
<a href="http://www.nra.org"><img src="pics/NRA%20LOGO%20002.jpg" width="171" height="88" alt="National Rifle Association"></a>
<a href="https://www.nysrpa.org"><img src="pics/nysrpa.jpg" width="88" height="67" alt="New York State Rifle and Pistol Association"></a>
<a href="http://www.thecmp.org"><img src="assets/images/external/cmp-logo.jpg" alt="CMP Logo seal" width="200" height="67" class="legacy-a8488901d5"></a>
<hr>
<br>
<br>
<br>

</td>
</tr>
</tbody></table>





