---
{
  "layout": "base.njk",
  "permalink": "newsletter/ptrcnewsletter.html",
  "title": "Newsletter — Pine Tree Rifle Club",
  "description": "December 2025 Seasons Greeting's one and all! This is my last communications to you as President. Time to semi retire again. The past two years have gone b",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<div class="legacy-c353af57b2">
<img src="2025/2025pg1.jpg" width="945" height="977" alt="2025pg1 (358K)">
</div>
<div class="legacy-c353af57b2">
<img src="2025/2025pg3.jpg" width="933" height="946" alt="2025pg3 (317K)">
</div>
<div class="legacy-c353af57b2">
<img src="2025/2025pg4.jpg" width="935" height="800" center="" alt="">
<table role="presentation" class="legacy-bfb0673502">
<tbody><tr>
<td class="legacy-4555334f95">
December 2025
<br>
Seasons Greeting's one and all!
<br>
<p>
This is my last communications to you as President. Time to semi retire again. The past two years have gone by rather quickly to be sure.
Together we have maintained as well as improved many areas of our great club. The Wednesday crew, the range/target crews long gun crews, handgun crew and 3D archery!
</p>
<p>
December 17th, we held our annual Prime Rib Dinner organized by VP Rick O'Dell who did half of the cooking, the other half by Ed Sturgess (these two did most of the cooking for dinners the past two years) along with a group of again Volunteers.
Another great meal enjoyed by all! Could list all the great events activities and functions held the past two years, it would take up many many pages for sure.
</p>
<p>
The list of volunteers is really not all that long - I do wish to thank each and every one for all they have done, will try to do so in person as well.
</p>
<p>
A very special thanks to the 2024-2025 Officers, they made my position a whole lot easier.
<br>
Vice President Rick O'Dell
<br>
Membership Joe Meek
<br>
Treasure Bill Meyers + Audit Chairwoman - Andrea Hauser
</p>
<br>
<p>
Your 2026 2027 slate of officers are:
<br>
President: Paul Catucci
<br>
Vice President: Rob Hutchins
<br>
Membership: Barry Chapin
<br>
Treasure: Cory Goodspeed
<br>
Recording Sec: Mark Wendt
</p>
From the Riach family we wish every one of you a very Merry Christmas and a Happy New Year
<br>
Steven H Riach   riachsh@outlook.com    BE SAFE and ENJOY hope to see you at our club
<br>
</td>
</tr>
</tbody></table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


