---
{
  "layout": "base.njk",
  "permalink": "centerfire2014/cfire2014.html",
  "title": "Pine Tree Rifle Club Centerfire 2014",
  "description": "PTRC/IBS Center Fire Bench Rest Matches 2014 Pre-registration is required by all competitors prior to one week before the IBS Match dates in May and August",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---

<br>
<br>
<table class="legacy-border-5 legacy-c0c2970bfa">
			 <tbody><tr>
			 		 <td colspan="2" class="legacy-fb5ec070f2">
					 		 <h1><b> PTRC/IBS Center Fire Bench Rest Matches 2014</b></h1>
 					</td>
			</tr>
 <tr>
        <td colspan="2" class="legacy-fb5ec070f2">
				<br>
				Pre-registration is required by all competitors prior to one week before the IBS Match dates in May and August.
<br>
Pre-registration is not required for the PTRC Club Matches in June, July, and September.
<br>
Pre-registration will assure entry for the IBS Matches as they will be <u><b>limited to 50 competitors</b></u>
<br>
Send no funds as they will be collected at sign-in the morning of the match.
<br>
You must pre-register by email or by US Mail prior to one week before the match.
<br><br>
<a href="mailto:jads@citlink.net">jads@citlink.net</a>
<br><br>
John Del Savio
<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;238 East Fulton Street
<br>
 &nbsp;&nbsp;Gloversville, NY 12078-3915
 <br><br>
 </td>
</tr>
<tr>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><a href="../missing-content.html#6d3ec3cf0020">PTRC Match Announcement</a></span> </td>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><a href="../missing-content.html#cc3a62b6ee6e">IBS Match Announcement</a></span></td>
</tr>
<tr>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><a href="../missing-content.html#3a9d2fdfbbcf">IBS Registration Form</a></span> </td>
       <td class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><a href="../missing-content.html#ba32733fa461">IBS Release of Liability Form</a></span></td>
</tr>
<tr>
       <td colspan="2" class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">SCHEDULED IBS MATCHES</span> </td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">May 31st 100 Yard</span> </td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e"><a href="../missing-content.html#bf876de43031">Match Results IBS</a></span></td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">August 30th and 31st NYS Championship</span> </td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e"><a href="../missing-content.html#fd28b72d737b">Match Report</a> &nbsp;Match Results IBS <a href="../missing-content.html#5cc9a4d96e62">100yd</a> &nbsp;<a href="../missing-content.html#6aea449668f5">200yd</a> &nbsp;<a href="../missing-content.html#e94bb27565b2">GA</a></span></td>
</tr>
<tr>
       <td colspan="2" class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">SCHEDULED PTRC MATCHES</span> </td>
</tr>
<tr>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e">May 31st 100 Yard</span> </td>
       <td class="legacy-faa7a8b3a5"><span class="legacy-8820222f5e"><a href="../missing-content.html#bf876de43031">Match Results PTRC</a></span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">June 28th 200 Yard</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e"><a href="../missing-content.html#60acc2d19895">Match Results PTRC</a></span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">July 26th 100 Yard</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e"><a href="../missing-content.html#ce68a5f4b2a2">Match Results PTRC</a></span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">August 30th and 31st 100/200 Yard</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e"><a href="../missing-content.html#fd28b72d737b">Match Report</a> &nbsp;<a href="../missing-content.html#c1d36d335c18">Match Results PTRC</a></span></td>
</tr>
<tr>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e">Sept 27th 200 Yard and Donaldson Match</span></td>
       <td class="legacy-4555334f95"><span class="legacy-8820222f5e"><a href="../missing-content.html#e4929cdc3fd5">Match Results PTRC</a></span></td>
</tr>
</tbody></table>
<br><br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: range (640x410) (188K)</span></div>
<br>
<br>

<div class="legacy-fb5ec070f2"></div>



