<nav aria-label="Club sections">
			   <img src="pics/dtonme.jpg" width="50" height="50" alt="Don't Tread on Me flag">
				 <div class="legacy-f98591319f"><h2>Admin</h2></div>
		      	<a href="admin/missionstatement.html">Mission Statement</a>
		      	<br><a href="admin/history.html">Club History</a>
		        <br><a href="admin/board.html">OFFICERS/TRUSTEES/COMMITTEES</a>
						<br><a href="newsletter/ptrcnewsletter.html" target="_blank" rel="noopener noreferrer">Newsletter</a> &nbsp;<small><small>Updated 01/22/2026</small></small>
						<br><a href="calendar.html">Calendar</a>
		        <br><a href="admin/life.html">Newest LIFE Member</a>
		        <br><a href="admin/mr.html">Membership Requirememts</a>
		        <br><a href="admin/membershipapplication.pdf">Membership Application</a>
		        <br>
						<br><a href="admin/srr.html">Safety Rules and Regulations</a>
		        <br><a href="admin/rangesch.html">Range Schedule</a>
						<br><a href="admin/bylaws2023a.pdf">PTRC BY LAWS</a> &nbsp; <small><small>Updated 11/09/2023</small></small>
		        <br><a href="admin/2026raffle.html">27th ANNUAL AUGUST RAFFLE</a>
						<br><a href="store/store.html"><b>PTRC STORE</b></a>&nbsp;  <small><small>Updated 03/28/2025</small></small>&nbsp;
						<br>
						<br><a href="http://www.nysrpa.org" target="_blank" rel="noopener noreferrer">NYSRPA</a>
						<br><a href="http://www.nra.org" target="_blank" rel="noopener noreferrer">NRA</a>
		        <br><a href="http://www.nrapublications.org" target="_blank" rel="noopener noreferrer">NRA Digital Publications</a>

				<div class="legacy-f98591319f"><h2>Activities</h2></div>
						<a href="3D/3D.html">PTRC 3D Archery Schedule 2025</a>
						<br><a href="travelleaguerifle/trl.html">Eastern New York Rifle League 2025/26</a>
		        <br><a href="pistol/pistol202526.html">Bullseye Pistol League Info</a>
						<br><a href="pistol/pistol6.html">WINTER Bullseye Pistol League Scores</a>
						<br><a href="pistol/2025summerpistol.html"><b>SUMMER Bullseye PISTOL LEAGUE 2025</b></a>
						<br><a href="centerfire/centerfire.html">CENTERFIRE RIFLE 2026</a>
						<br><a href="rimfire/rimfire.htm">RIMFIRE RIFLE 2026</a>
						<br><a href="activities/skeet.html">Skeet</a>
						<br><a href="activities/trap.html">Trap</a>
						<br><a href="index.html">Kowalski Schutzenfest 09/20/2025 9AM </a>
						<br><a href="index.html">PTRC Fun Shoots</a>

		   <div class="legacy-f98591319f"><h2>Events</h2></div>
		      	<a href="events/bikerun.htm"><b>PTRC's K9 Shirt Supporters</b></a> <small><small>Updated 03/31/2026</small></small>
						<br><a href="events/2026swapshop.html"><b>SWAP SHOP 2026</b></a> <small><small>Updated 03/03/2026</small></small>
		        <br><a href="index.html">Steak Bake</a>
						<br><a href="index.html">Lobster Special July TBA</a>
						<br><a href="index.html">Chicken BBQ August TBA</a>
		        <br><a href="index.html">Club Veteran's Dinner November</a>

		    <div class="legacy-f98591319f"><h2>Programs</h2></div>
						<a href="programs/wot.html">NRA Women On Target</a>
		        <br><a href="programs/rtbav.html">NRA Refuse to be A Victim</a>
						<br><a href="programs/nrahfs.html">NRA Firearm Safety</a>
						<br><a href="programs/rso.html">NRA Range Safety Officer</a>
						<br><a href="programs/mcr.html">NRA Metallic Cartridge Reloading</a>
						<br><a href="programs/nrariflecourse.html">NRA Basic Rifle</a>
						<br><a href="programs/nrashotguncourse.html">NRA Basic Shotgun</a>
						<br><a href="programs/nrapistolcourseil.html">NRA Basic Pistol Instructor Led Training</a>
		        <br><a href="programs/nrapphome.pdf">NRA In Home Defense</a>
						<br><a href="programs/nraoutsidehome.pdf">NRA Personal Protection Outside the Home</a>
						<br><a href="programs/ptrcl4.html">PTRC LEVEL “4” DEFENSIVE SHOOTING</a>
		        <br><a href="programs/dechuntsafety.htm">DEC Hunter ED</a>
			      <br><a href="programs/decbowsafety.html">DEC Bow Hunter ED</a>
		        <br><a href="programs/ppc.html">Pistol License Class</a>

		        <br><a href="programs/toys.html">Toys For Kids</a>
		        <br><a href="programs/scholarship.html"><b>PTRC SCHOLARSHIP FUND</b></a> &nbsp;<small><small>Updated 02/27/2026</small></small>

						<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</nav>

