---
{
  "layout": "base.njk",
  "permalink": "activities/ppsl/ppsl.html",
  "title": "PTRC Practical Pistol Shooting — Pine Tree Rifle Club",
  "description": "Practical Pistol Shooting Shooters meet Tuesdays 4:30pm till complet at the outdoor pistol range. (\"Durning this time period 50yd range is closed to all ot",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><h2>Practical Pistol Shooting</h2></div>
<br>
<div class="legacy-c353af57b2">Shooters meet Tuesdays 4:30pm till complet at the outdoor pistol range.
<br>
("Durning this time period 50yd range is closed to all others" - Indoor range is open)
<br>
The fourth Tuesday of each month is the formal match!
<br><br>
This 16 page Getting Started guide is a must read and understand! <a href="../../missing-content.html#7069e188103e">Getting Started in "Practical Shooting" (USPSA) - SAFELY </a>
<br><br><br>
Here are three of the many good Youtube videos on the subject
<br><br>
<a href="https://www.youtube.com/watch?v=jswJqBvGwoM">What to Expect at Your First USPSA Match</a>
<br><br>
<a href="https://www.youtube.com/watch?v=y7i50yn6-qM">Introduction to Practical Pistol Shooting</a>
<br><br>
<a href="https://www.youtube.com/watch?v=jXbdbHReqQ8">Beginner's Guide To Shooting Competitions-USPSA</a>
</div>


