---
{
  "layout": "base.njk",
  "permalink": "events/2026swapshop.html",
  "title": "SWAP SHOP 2026 — Pine Tree Rifle Club",
  "description": "PTRC Swap Shop 2026 Sat April 18th 9AM-3PM",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br>
<div class="legacy-c353af57b2">
<h2>PTRC Swap Shop 2026 Sat April 18th 9AM-3PM</h2>
</div>
<div class="legacy-c353af57b2"><img src="SSFlyer2026.jpg" width="1000" height="1000" alt="SSFlyer2026 (210K)"></div>


