---
{
  "layout": "base.njk",
  "permalink": "events/annvetsdinner.htm",
  "title": "Annual Veterans Dinner — Pine Tree Rifle Club",
  "description": "",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<div class="legacy-c353af57b2"><img src="vetsdinner21.jpg" width="1080" height="1559" alt="vetsdinner21 (181K)"></div>


