---
{
  "layout": "base.njk",
  "permalink": "events/bikerun.htm",
  "title": "PTRC's K9 Shirt Supporters — Pine Tree Rifle Club",
  "description": "PTRC 16th Annual Bike Ride/K9 Fund Raiser June 22nd 2025 Cost just for rider $20.00 passenger additional $10.00. e Listing of 2025 sponsors. We apprciate t",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><h1>PTRC <u>16th</u> Annual Bike Ride/K9 Fund Raiser June 22nd 2025</h1>
<br>
Cost just for rider $20.00 passenger additional $10.00.
<br>e
<br>
Listing of 2025 sponsors. We apprciate their continued support!
<br>
<div class="legacy-list">
Patti's Greenhouses
</div>
<div class="legacy-list">
Jackie's Diner
</div>
<div class="legacy-list">
Mike Patino
</div>
<div class="legacy-list">
Peter Betz
</div>
<div class="legacy-list">
Mayor Emory Chase
</div>
<div class="legacy-list">
Adirondack Express Lube
</div>
<div class="legacy-list">
Assemblyman Robert Smullen
</div>
<div class="legacy-list">
Adk Realty
</div>
<div class="legacy-list">
Gary &amp; Linda Stoller
</div>
<div class="legacy-list">
Terry &amp; Robin Horton
</div>
<div class="legacy-list">
Athena Riach
</div>
<div class="legacy-list">
Patricia Buell
</div>
<div class="legacy-list">
James Brennan Memorial Humane Society
</div>
<div class="legacy-list">
Scott's Quality Car Service
</div>
<div class="legacy-list">
Pat &amp; Kim Malagisi
</div>
<div class="legacy-list">
Peter &amp; Barb Tautznik
</div>
<div class="legacy-list">
Anne Campbell Family NP in Health PLLC
</div>
<div class="legacy-list">
Rick &amp; Tina O'Dell
</div>
<div class="legacy-list">
Western Contractors
</div>
<div class="legacy-list">
Kasson &amp; Keller
</div>
<div class="legacy-list">
Catucci Bros, &amp; Sis
</div>
<div class="legacy-list">
Harold Achzet
</div>
<div class="legacy-list">
Century Club of Amsterdam NY
</div>
<div class="legacy-list">
Goodlew Enterprise LLC
</div>
<div class="legacy-list">
Debi's Barbershop
</div>
<div class="legacy-list">
Running's
</div>
<div class="legacy-list">
Broadalbin Manufactoring
</div>
<div class="legacy-list">
Love 2 Train W/Jes
</div>
<div class="legacy-list">
Tanner Lumber Inc.
</div>
<div class="legacy-list">
Kountry Roots Photography
</div>
<div class="legacy-list">
Kingsboro Lumber
</div>
<div class="legacy-list">
Mangino Chevrolet Inc
</div>
<div class="legacy-list">
Mike Ostrander
</div>
<div class="legacy-list">
VFW Post 8690
</div>
<div class="legacy-list">
Broadalbin Veteran's Club
</div>
<div class="legacy-list">
P &amp; N Services
</div>
<div class="legacy-list">
Mark Perfetti Photography LLC
</div>
<div class="legacy-list">
S &amp; S Landscaping &amp; Excavation
</div>
<div class="legacy-list">
Brittany's Diner &amp; Edwards Softball Park
</div>
<div class="legacy-list">
Outdoor Motor Sports &amp; Trailer Sales
</div>
<div class="legacy-list">
4x Heaven Inc.
</div>
<div class="legacy-list">
North Country Ecological Services Inc
</div>
<div class="legacy-list">
Women's Republican Club of Fulton County
</div>
<div class="legacy-list">
Leisa D'Amore Fulton County Clerk
</div>
<div class="legacy-list">
Amsterdam Auto Parts Car Quest
</div>
<div class="legacy-list">
Adirondack Harley Davidson
</div>
<div class="legacy-list">
Fulton County Sheriff's Association
</div>
<div class="legacy-list">
Mike Peters Roofing
</div>

BNB Property Services

<div class="legacy-list">
James Chevrolet
</div>
<div class="legacy-list">
RH Crown Inc
</div>
<div class="legacy-list">
Alaw Valerie Capobianco
</div>
<div class="legacy-list">
Enviro-Master of Albany
</div>
<div class="legacy-list">
Spraker's Unlimited
</div>
<div class="legacy-list">
Plaza Italian Bistro
</div>
<div class="legacy-list">
Hulten Speed Sports
</div>
<div class="legacy-list">
Lynch Heating &amp; Cooling
</div>
<div class="legacy-list">
DA. Michael &amp; Karen Poulin
</div>
<div class="legacy-list">
Rich Giardino Podcast
</div>
<div class="legacy-list">
Wayne D. Schermerhorn
</div>
<div class="legacy-list">
518 Renovations
</div>
<div class="legacy-list">
Hilltop Acres Farm
</div>
<div class="legacy-list">
Anna &amp; Lev Zelikman
</div>
<div class="legacy-list">
In Memory of Paul &amp; Sandi Christman
</div>
<div class="legacy-list">
Brown's Ford
</div>
<div class="legacy-list">
Midnight Oil Company
</div>
<div class="legacy-list">
Nac's Meat Market
</div>
<div class="legacy-list">
Hart's Motorsports
</div>
<div class="legacy-list">
Nix Autobody
</div>
<div class="legacy-list">
Hairific
</div>
<div class="legacy-list">
Jankowski Agency
</div>
<div class="legacy-list">
Attorney Ronald Schur Jr.
</div>
<div class="legacy-list">
General Hydraulics Inc.
</div>
<div class="legacy-list">
CM Protective Coating
</div>
<div class="legacy-list">
DeGiulio Brother's Flooring
</div>
<div class="legacy-list">
In Memory of Shawn M Wellman
</div>
<div class="legacy-list">
Fuel -N- Food
</div>
<div class="legacy-list">
B &amp; B Equipment Co Inc
</div>
<div class="legacy-list">
Mark Fettinger
</div>
<div class="legacy-list">
Ruby &amp; Quiri
</div>
<div class="legacy-list">
Algonquin Ammo
</div>
<div class="legacy-list">
Re-Elect Heather Scribner Fulton County Treasurer
</div>
<div class="legacy-list">
Scotch Church Garage LLC
</div>
<div class="legacy-list">
Buanno's Custom Body Shop LLC
</div>
<div class="legacy-list">
Salvione Ins Agency
</div>
<div class="legacy-list">
Great Sacandaga Brewing Company
</div>
<div class="legacy-list">
Green  Acres Sheds &amp; Coops
</div>
<div class="legacy-list">
Robert St John Construction
</div>
<div class="legacy-list">
Hill's Discount Beverage and Grocery
</div>
<div class="legacy-list">
Service Deli Provisions Dist
</div>
<div class="legacy-list">
Paul's Self Storage .com
</div>
<div class="legacy-list">
The Ellis Family
</div>
<div class="legacy-list">
Kyle Knapik &amp; Family
</div>
<div class="legacy-list">
Nanny and Pop's
</div>
<div class="legacy-list">
Sheriff Richard C Giardino
</div>
<div class="legacy-list">
Alpin Haus
</div>
<div class="legacy-list">
Smith and Son's Fuels
</div>
<div class="legacy-list">
Concordia Ladies Auxiliary
</div>
<div class="legacy-list">
Exterior Plus Painting, Joseph Sheils
</div>
<div class="legacy-list">
Haberek's Auto Diesel Machine
</div>
<div class="legacy-list">
In Memory Of Lee Avery
</div>
<div class="legacy-list">
Main Motorcar
</div>
<div class="legacy-list">
A. Mormile &amp; Son Plumbing &amp; Heating Inc
</div>
<div class="legacy-list">
Kimball Industries
</div>
<div class="legacy-list">
Ken &amp; Nancy Flecks
</div>
<div class="legacy-list">
In Memory of Betty and Wayne Weaver
</div>
<div class="legacy-list">
In Memory of AJ Smullen
</div>
<div class="legacy-list">
Bob &amp; Deb Landrio
</div>
<div class="legacy-list">
Sunset Bay Vacation Resort
</div>
<div class="legacy-list">
Spitzies Motorcycle Center
</div>
<div class="legacy-list">
TW Services LLC
</div>
<div class="legacy-list">
Rustic Ties Wedding &amp; Event Center
</div>
<div class="legacy-list">
In Memory of one of Our Founders,  Joan A. Catucci
</div>
<div class="legacy-list">
Sturgess Family Catering/BBQ
</div>
<div class="legacy-list">
Diana &amp; Joe Jr. Giardino
</div>
<div class="legacy-list">
Bloom's Blind Date with a Book
</div>
<div class="legacy-list">
Southern Adirondack Snowmobile Assoc.
</div>
<div class="legacy-list">
Bella Vita Dobermans Cindi Balestra
</div>
<div class="legacy-list">
On the Side Security
</div>
<div class="legacy-list">
Nethaway's And Son LLC
</div>
<div class="legacy-list">
Dennis &amp; Marsha Roberts
</div>
<div class="legacy-list">
Price Chopper/Market 32
</div>
<div class="legacy-list">
In Memory of Dick Martish
</div>
<div class="legacy-list">
Southern Adirondack Snowmobile Assoc.
</div>
<div class="legacy-list">
Alteri's Tree Service
</div>
<div class="legacy-list">
Harmony Harvest &amp; Herd
</div>
<div class="legacy-list">
The Smrtic Family
</div>
<div class="legacy-list">
Gus &amp; Sandy Sacerio
</div>
<div class="legacy-list">
Fritz's Pizza
</div>
<div class="legacy-list">
In Memory of Jerome J.Lewis
</div>
<div class="legacy-list">
Big Mike's
</div>
<div class="legacy-list">
The Local Dining &amp; Spirits
</div>
<div class="legacy-list">
Historic Hotel Broadalbin
</div>
<div class="legacy-list">
Brandon Lehr Mayfield Town Supervisor
</div>
<div class="legacy-list">
L&amp;M; Entertainment
</div>
<div class="legacy-list">
Utterly Delicious
</div>
<div class="legacy-list">
Kathleen &amp; Tom Georgia
</div>
<div class="legacy-list">
Montgomery County DA Christina Pearson
</div>
<div class="legacy-list">
Gabriel Construction
</div>
<div class="legacy-list">
Junell Realty LLC
</div>
<br>
<br>
<br>
<hr>
<br>


<div class="legacy-c353af57b2"><h2 class="legacy-h1">PTRC <u>15th</u> Annual Bike Ride/K9 Fund Raiser June 22nd 2024</h2>
<br>
Cost just for rider $20.00 passenger additional $10.00.
<br>
<h3>Listing of 2024 sponsors. We apprciate their continued support!</h3>
<br>
<div class="legacy-list">
Patti's Greenhouses
</div>
<div class="legacy-list">
Kountry Roots Photography
</div>
<div class="legacy-list">
David &amp; Bonnie Rote
</div>
<div class="legacy-list">
RH Crown Inc
</div>
<div class="legacy-list">
Adirondack Express Lube
</div>
<div class="legacy-list">
Mayor Emory Chase
</div>
<div class="legacy-list">
Kyle Knapik&amp; Family
</div>
<div class="legacy-list">
Creative Tees &amp; More
</div>
<div class="legacy-list">
Love 2 Train W/Jes
</div>
<div class="legacy-list">
Kingsboro Lumber
</div>
<div class="legacy-list">
Hunt with Heros Wyoming
</div>
<div class="legacy-list">
Jankowski Agency
</div>
<div class="legacy-list">
Assemblyman Robert Smullen
</div>
<div class="legacy-list">
P &amp; N Services
</div>
<div class="legacy-list">
Roger Paul Public Defender
</div>
<div class="legacy-list">
Jackie's Diner
</div>
<div class="legacy-list">
Broadalbin Manufactoring
</div>
<div class="legacy-list">
Peter Betz
</div>
<div class="legacy-list">
Patricia Buell
</div>
<div class="legacy-list">
James Brennan Memorial Humane Society
</div>
<div class="legacy-list">
Mike Patino
</div>
<div class="legacy-list">
Anne Campbell Family NP in Health PLLC
</div>
<div class="legacy-list">
Adk Realty
</div>
<div class="legacy-list">
What Sharon Likes
</div>
<div class="legacy-list">
Christina Pearson For Montgomery County District Attorney
</div>
<div class="legacy-list">
Mark Fettinger
</div>
<div class="legacy-list">
Women's Republican Club of Fulton County
</div>
<div class="legacy-list">
Marilyn J Salvione
</div>
<div class="legacy-list">
Mike Ostrander
</div>
<div class="legacy-list">
Ralph Desiderio for K-9
</div>
<div class="legacy-list">
Century Club of Amsterdam NY
</div>
<div class="legacy-list">
The Ellis Family
</div>
<div class="legacy-list">
Mark Perfetti Photography LLC
</div>
<div class="legacy-list">
Rick &amp; Tina O'Dell
</div>
<div class="legacy-list">
John H Blackmon Fulton County Supervisor
</div>
<div class="legacy-list">
Sheriff Richard C Giardino
</div>
<div class="legacy-list">
Peter &amp; Kat Migliorini
</div>
<div class="legacy-list">
Gary &amp; Linda Stoller
</div>
<div class="legacy-list">
Terry &amp; Robin Horton
</div>
<div class="legacy-list">
Harold Achzet
</div>
<div class="legacy-list">
Sturgess Family Catering/BBQ
</div>
<div class="legacy-list">
Spitzies Motorcycle Center
</div>
<div class="legacy-list">
Peter &amp; Barb Tautznik
</div>
<div class="legacy-list">
Richard Giardino (2nd 1 pending)
</div>
<div class="legacy-list">
Catucci
</div>
<div class="legacy-list">
Nethaway's And Son LLC
</div>
<div class="legacy-list">
General Hydraulics Inc.
</div>
<div class="legacy-list">
North Country Ecological Services Inc
</div>
<div class="legacy-list">
In Memory of Betty &amp; Wayne Weaver
</div>
<div class="legacy-list">
Anna &amp; Lev Zelikman
</div>
<div class="legacy-list">
Noelle Smrtic Family
</div>
<div class="legacy-list">
Athena Riach
</div>
<div class="legacy-list">
Allan Macvean Financial Services
</div>
<div class="legacy-list">
Alpin Haus
</div>
<div class="legacy-list">
Southern Adirondack Snowmobile Assoc.
</div>
<div class="legacy-list">
Tanner Lumber Inc.
</div>
<div class="legacy-list">
Smith and Son's Fuels
</div>
<div class="legacy-list">
Chuck Swatling
</div>
<div class="legacy-list">
Paulsselfstorage.com
</div>
<div class="legacy-list">
Kimball Industries
</div>
<div class="legacy-list">
MSC Superintendent Chris Harper
</div>
<div class="legacy-list">
Hoose Construction
</div>
<div class="legacy-list">
Hoosey's
</div>
<div class="legacy-list">
Security Supply
</div>
<div class="legacy-list">
Spraker's Unlimited
</div>
<div class="legacy-list">
Hulten Speed Sports
</div>
<div class="legacy-list">
Lynch Heating &amp; Cooling
</div>
<div class="legacy-list">
Fuel -N- Food
</div>
<div class="legacy-list">
Mister Pizza
</div>
<div class="legacy-list">
Amsterdam Auto Parts Car Quest
</div>
<div class="legacy-list">
Stump City Brewing
</div>
<div class="legacy-list">
Haberek's AutoDiesel Machine
</div>
<div class="legacy-list">
Stewart's Shops
</div>
<div class="legacy-list">
Western Contractors
</div>
<div class="legacy-list">
TW Services
</div>
<div class="legacy-list">
Mayfield Grill
</div>
<div class="legacy-list">
Buanno's Custom Body Shop
</div>
<div class="legacy-list">
Service Deli Provisions Dist
</div>
<div class="legacy-list">
BNB Property Services
</div>
<div class="legacy-list">
In Memory of Shawn M. Wellman
</div>
<div class="legacy-list">
In Memory of AJ Smullen
</div>
<div class="legacy-list">
DA. Michael &amp; Karen Poulin
</div>
<div class="legacy-list">
Outdoor Motor Sports &amp; Trailer Sales
</div>
<div class="legacy-list">
Harmony Harvest &amp; Herd
</div>
<div class="legacy-list">
Brown's Collision
</div>
<div class="legacy-list">
Brown's Ford
</div>
<div class="legacy-list">
Adirondack Harley Davidson
</div>
Stanyon Law Office

<div class="legacy-list">
John Lucas Jr. Certified Chimney Sweep
</div>
<div class="legacy-list">
Attorney Ronald Schur Jr.
</div>
<div class="legacy-list">
Junell Realty LLC
</div>
<div class="legacy-list">
Lorraine Diamond Montgomery County DA
</div>
<div class="legacy-list">
A Free and Independent Taiwan
</div>
<div class="legacy-list">
Main Motorcar
</div>
<div class="legacy-list">
In Memory of Paul &amp; Sandi Christman
</div>
<div class="legacy-list">
H &amp; B Heating Oil Co
</div>
<div class="legacy-list">
On the Side Security
</div>
<div class="legacy-list">
Scotch Church Garage
</div>
<div class="legacy-list">
Nix Autobody
</div>
<div class="legacy-list">
Hairific
</div>
<div class="legacy-list">
Powerhouse Motorsports
</div>
<div class="legacy-list">
Bare ArmsGun Shop
</div>
<div class="legacy-list">
Nac's Meat Market
</div>
<div class="legacy-list">
Hart's Motorsports
</div>
<div class="legacy-list">
Sunset Bay Vacation Resort
</div>
<div class="legacy-list">
Nanny &amp; Pops Small Town Café
</div>
<div class="legacy-list">
Great Sacandaga Brewing Company
</div>
<div class="legacy-list">
Rob St. John Construction
</div>
<div class="legacy-list">
Green Essentials Naturally LLC
</div>
<div class="legacy-list">
Timothy Spoth
</div>
<div class="legacy-list">
James Chevrolet
</div>
<div class="legacy-list">
Operation At Ease
</div>
Jeffrey &amp; Georgia Baldwin

<div class="legacy-list">
Kasson &amp; Keller
</div>
<div class="legacy-list">
Jason Vosburgh
</div>
<div class="legacy-list">
Price Chopper/ Market 32
</div>
<div class="legacy-list">
Tom &amp; Kathleen Georgia
</div>
<div class="legacy-list">
Brandon Lehr
</div>
<div class="legacy-list">
Fulton County Regional SPCA Inc
</div>
<div class="legacy-list">
Big Mike's
</div>
<div class="legacy-list">
Tom &amp; Kathleen Georiga
</div>
<div class="legacy-list">
Ann &amp; Sean Mahon
</div>
<div class="legacy-list">
Bob's Bargin Outlet LLC
</div>
<div class="legacy-list">
Louie &amp; Layla
</div>
<div class="legacy-list">
Midnight Oil Company
</div>
<div class="legacy-list">
Anonymous
</div>
<div class="legacy-list">
Reale Landscaping &amp; Snow Removal
</div>
<div class="legacy-list">
Hickery Hill Fruit Farm- Albrecht
</div>
<div class="legacy-list">
Vaughan Bohne Foundation
</div>
<div class="legacy-list">
In Memory of Toby - The Katz
</div>
<div class="legacy-list">
4X Heaven Inc.
</div>




<br>
<br>
<hr>
<br>
<div class="legacy-c353af57b2"><h3>PTRC 14th Annual Bike Ride/K9 Fund Raiser June 24th 2023</h3>
<br>
<h3>Listing of 2023 sponsors. We apprciate their support!</h3>
<br>
<div class="legacy-list">
Patti's Greenhouses
</div>
<div class="legacy-list">
Sloyoung Home Repair
</div>
<div class="legacy-list">
Kountry Roots Photography
</div>
<div class="legacy-list">
Southern Adirondack Dog Club Handling Class
</div>
<div class="legacy-list">
Michael Patino
</div>
<div class="legacy-list">
Peter Betz
</div>
<div class="legacy-list">
Northampton Diner
</div>
<div class="legacy-list">
Fuel -N- Food
</div>
<div class="legacy-list">
Mountain View Plumbing &amp; Heating
</div>
<div class="legacy-list">
Marsha And Dennis Roberts
</div>
<div class="legacy-list">
ADK Realty
</div>
<div class="legacy-list">
Adirondack Express Lube
</div>
<div class="legacy-list">
Arthur,Corrine &amp; Nordine Posluszny
</div>
<div class="legacy-list">
Mark Malagisi's Family
</div>
<div class="legacy-list">
Mark Perfetti Photography LLC
</div>
<div class="legacy-list">
Patricia Buell
</div>
<div class="legacy-list">
James Brennan Memorial Humane Society
</div>
<div class="legacy-list">
Creative Tees and More
</div>
<div class="legacy-list">
Rick &amp; Tina O'Dell
</div>
<div class="legacy-list">
General Hydraulics INC 5187623712
</div>
<div class="legacy-list">
Patriot Asset Management Inc.
</div>
<div class="legacy-list">
Gary &amp; Linda Stoller
</div>
<div class="legacy-list">
Terry &amp; Robin Horton
</div>
<div class="legacy-list">
Montgomery County District Attorney Lorraine Diamond
</div>
<div class="legacy-list">
4X Heaven
</div>
<div class="legacy-list">
Century Club of Amsterdam NY
</div>
<div class="legacy-list">
In Memory of Robert R. Munn
</div>
<div class="legacy-list">
Mark Fettinger
</div>
<div class="legacy-list">
John Lucas Jr. Certified Chimney Sweep
</div>
<div class="legacy-list">
Security Supply
</div>
<div class="legacy-list">
Evergreen Construction
</div>
<div class="legacy-list">
Amsterdam Auto Parts Car Quest
</div>
<ul></ul></div></div></div>
