---
{
  "layout": "base.njk",
  "permalink": "events/k9ride.html",
  "title": "PINE TREE RIFLE CLUB K9 RIDE",
  "description": "6th ANNUAL K9 RIDE = JUNE 13th, 2015 PIN FOR 2015 Image unavailable: K92015pin (27K) Image unavailable: K92015 (131K) Youtube video of event = a must see! ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br><br>
<table class="legacy-padding-3772b3a1 legacy-border-5 legacy-903e734851">
<tbody><tr>
		<td>
		<div class="legacy-c353af57b2"><h1>6th ANNUAL K9 RIDE = JUNE 13th, 2015</h1>
		<br>
		 PIN FOR 2015<br><span class="missing-image">Image unavailable: K92015pin (27K)</span>
		<br>
		<span class="missing-image">Image unavailable: K92015 (131K)</span></div>
		<div class="legacy-c353af57b2"><br><br><a href="https://www.youtube.com/watch?v=CgL0I7XfIr8" target="blank">Youtube video of event = a must see!</a>
		<div class="legacy-f98591319f"><h2 class="legacy-h1">5th Annual K9 Ride = JUNE 28th 2014</h2></div>
		We Had A Great Day! PTRC <u>raised over $6,000.00 for the K9 team</u>. Their were 97+ bikes this year.
		<br><br>
		</div>
		</td>
</tr>
<tr>
       <td>
	   <div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2">

<br>
<img src="../pics/k95.jpg" width="338" height="333" alt="k95.jpg (30K)">
		 </div></div>
		 </td>
</tr>
<tr>
		<td>
		<br>

		<br>
		</td>
</tr>
</tbody></table>
<br>
<br>


