---
{
  "layout": "base.njk",
  "permalink": "events/schutzenfest.html",
  "title": "SCHUTZENFEST Pine Tree Rifle Club",
  "description": "Schutzenfest 2015 The Annual Schutzenfest and Oktoberfest was celebrated in coordination with the Concordia Club and the Pine Tree Rifle Club on Saturday, ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2">
<b><span class="legacy-b902eeb30e">Schutzenfest 2015</span></b>
<br> &nbsp;The Annual Schutzenfest and Oktoberfest was celebrated in coordination with the Concordia Club and the Pine Tree Rifle Club on Saturday, September 19. Schutzenfest directors,
<br>Clif Wassel and Mark Wendt both agreed that the event was very successful and weather truly cooperated. Mark Duesler captured the championship followed in second place by Harold Miller,
<br>and third place, John Quackenbush. The Schutzenfest was hosted at the Pine Tree Rifle Club and is one of many special shoots that are open to the public.
<br>Competitor Photo (l to r): Ken Benton, Chris Bouck, Mark Wendt, John Quackenbush, Wayne VanDetta, Harold Miller, Garry Sprung, Mark Duesler,
<br>Peter Betz, Clif Wassel, and Doug Sterling. Photo coutesty (Peter Betz).
<br><div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: 2015schuetzenf (168K)</span></div>


<br>
<b><span class="legacy-b902eeb30e">Schutzenfest 2014</span></b>
<br>
The Pine Tree Rifle Club in conjunction with the Concordia Singing Society's Oktoberfest celebration will once again hold a SCHUTZENFEST.
<br>SEPTEMBER 20TH, 2014 at 9AM.
</div>
<br>
<hr>
<div class="legacy-c353af57b2"><b><span class="legacy-8820222f5e">Schutzenfest 2013</span></b></div>
<br>
&nbsp;&nbsp;Schutzenfest 2013 was held on Saturday September 21 in near perfect conditions.  The match was held in conjunction with the Concordia Singing Society's Oktoberfest celebration.  Schutzenfest matches are traditionally held during Oktoberfest periods in many German towns and here in the United States.
<br>
<br>
&nbsp;&nbsp;Fifteen shooters competed for the high desirable "Pinetree Chuck" mugs that were awarded to the top three shooters. The course of fire included first downing a bowling pin and metal plate from the off hand firing position before engaging the 100 yard woodchuck target for score.  The total points possible were 120.  The first place shooter Gerhard Steading had a score of 110.  Second place went to Harold Miller with third place going to Blaine McRay.
<br>
<br>
&nbsp;&nbsp;Thank you for those assisting in the shoot who were Junior Dean, Nick Valkovich, Paul Adamkowski, Frank Van Auskas, Rick Maxian, Harold Miller, Tom Bielle, Mike Kowalski, Marian Lachanski, Ziggy Duggand, Garry Sprung, Mark Wendt, and Steve Riach.  If I missed anyone, my apologies.
<br>
<br>
<div class="legacy-c353af57b2"><a href=""><span class="missing-image">Image unavailable: 201309schuetzenfest.jpg</span></a></div>


