---
{
  "layout": "base.njk",
  "permalink": "events/swapshop.html",
  "title": "Pine Tree Rifle Club Swap Shop",
  "description": "PINE TREE RIFLE CLUB ANNUAL SWAP SHOP PTRC Annual Swap Shop 2014 Sunday April 27th 2014 9AM-3PM 2014 Swap Shop was a great success for the club and this ye",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br>
<div class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><b>PINE TREE RIFLE CLUB ANNUAL SWAP SHOP</b></span></div>
<br>
<br>
		<div class="legacy-fb5ec070f2">PTRC Annual Swap Shop 2014
<br>
Sunday April 27th 2014 9AM-3PM</div>
<br>
<div class="legacy-fb5ec070f2">2014 Swap Shop was a great success for the club and this years community recipient S.O.C.K.S awarded $720.00</div>
<br>
<hr>
<br>
<div class="legacy-fb5ec070f2">PTRC SWAP SHOP 2015<br>Sunday April 26, 2015<br>9AM - 3PM
This year $2.00 of every paid admission will go to the Leather Stocking Honor Flight</div>
<br>
<hr>
<br>
<div class="legacy-fb5ec070f2"><h1>PTRC SWAP SHOP 2016<br>Sunday April 24, 2016<br>9AM - 3PM</h1>
<br><b>Mark your calendars!</b></div>
<br>
<br>


