---
{
  "layout": "base.njk",
  "permalink": "events/vets.html",
  "title": "Pine Tree Rifle Clubs Annual VETERANS Dinner",
  "description": "ANNUAL VETERANS DINNER Our annual Veteran’s Dinner is to be held Wednesday night November 16th 2022 @ 6:30 PM! All Veterans that are club members are free ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false,
  "legacyBodyClass": "legacy-52956f66e0"
}
---

<br><br><br><br>
<table role="presentation" class="legacy-a9742ed6ed">
<tbody><tr><td>
<br>
<div class="legacy-fb5ec070f2"><img src="../pics/aflag.jpg" width="520" height="423" alt="aflag (48K)"></div>
<br>
<div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-b902eeb30e"><b>ANNUAL VETERANS DINNER</b></span></div>
<br>
Our <u>annual Veteran’s Dinner</u> is to be held Wednesday night November 16th 2022 @ 6:30 PM!
<br><br>
All Veterans that are club members are free and they may bring one guest for $10.00.</div>
<br><br>
</td></tr>
</tbody></table>


