---
{
  "layout": "base.njk",
  "permalink": "pistol/2024summerpistol.htm",
  "title": "2024 Summer Pistol League — Pine Tree Rifle Club",
  "description": "2024 PINE TREE RIFLE CLUB SUMMER PISTOL LEAGUE Program shall be held on the following dates Tuesday 5:30PM April 30th 2024 PRACTICE/INTRODUCTION The follow",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

<br>
<div class="legacy-c353af57b2"><h2>2024 PINE TREE RIFLE CLUB SUMMER PISTOL LEAGUE</h2></div>
<br>
Program shall be held on the following dates
<div class="legacy-list">
Tuesday 5:30PM April 30th 2024 &nbsp;PRACTICE/INTRODUCTION
</div>
<div class="legacy-list">
The following matches held on the fourth Tuesday 5:30PM of each month listed.
</div>
<div class="legacy-list">
May 28th 2024 &nbsp;Match #01
</div>
<div class="legacy-list">
June 25th 2024 &nbsp;Match #02
</div>
<div class="legacy-list">
July 23rd 2024 &nbsp;Match #03
</div>
<div class="legacy-list">
August 27th 2024 &nbsp;Match #04
</div>
<div class="legacy-list">
May compete using rimfire or both rimfire and centerfire (two separate matches)
</div>
COURSE OF FIRE
<br>
Range 25 yards Slow Fire 10 minutes 10 Rounds - Target used B-16
<br>
Range 25 yards Timed Fire 20 Seconds 2 Strings of 5 rounds - Target used B-8
<br>
Range 25 yards Rapid Fire 10 Seconds 2 Strings of 5 rounds - Target used B-8
<br>
<b>All PTRC &amp; NRA range safety rules apply</b>.
<br>
For scoring:
<br>
GROUP 1: Rimfire One Hand IRON SIGHTS
<br>
GROUP 2: Rimfire One Hand OPTIC SIGHTS
<br>
GROUP 3: Centerfire One Hand IRON SIGHTS
<br>
GROUP 4: Centerfire One Hand OPTIC SIGHTS
<br>
<br>
<b>Members who wish to participate but wish to use two hand method may do so.</b>
<br>
GROUP 5: Rimfire Two Handed IRON SIGHTS
<br>
GROUP 6: Rimfire Two Handed OPTIC SIGHTS
<br>
GROUP 7: Centerfire Two Handed IRON SIGHTS
<br>
GROUP 8: Centerfire Two Handed OPTIC SIGHTS
<br>
<br>
<br>
MATERIAL
<br>
Rimfire target type pistol chambered in 22 long rifle with 4 inch or more barrel length.
<br>
Center Fire pistols chambered in 9mm, 38spc, 40acp, 45acp with 4 inch or more barrel length.
<br>
Total of 30 rounds of ammo needed for one relay.
<br>
FEE'S
<br>
Rimfire $10.00 per relay/course of fire.
<br>
Centerfire $10.00 per relay/course of fire.
<br>
<br>


