---
{
  "layout": "base.njk",
  "permalink": "pistol/2024summerscores.html",
  "title": "PTRC SUMMER Bullseye PISTOL LEAGUE SCORES — Pine Tree Rifle Club",
  "description": "PTRC 2024 SUMMER BULLSEYE PISTOL LEAGUE SCORES NAME Group M1 X M2 X M3 X M4 x Rob Hutchins 1 77 0 211 1 212 1 214 2 3 172 0 x x 128 1 108 0 Peter Tautznik ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <br>
    <div class="legacy-c353af57b2">
      <h2><b>PTRC 2024 SUMMER BULLSEYE PISTOL LEAGUE SCORES </b></h2>
      <table class="legacy-padding-74761400 legacy-border-1 legacy-1f844e8723">
        <tbody>
          <tr>
            <td class="legacy-4d524dc3cb"><b>NAME</b><b><br>
              </b> </td>
            <td class="legacy-4d524dc3cb"><b>Group</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>M1</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>X</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>M2</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>X</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>M3</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>X</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>M4</b><b><br>
              </b> </td>
            <td class="legacy-57cb26864a"><b>x<br>
              </b> </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-0297ebdee3">Rob Hutchins<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">77<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">211<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">212<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">214<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">172<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">128<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">108<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Peter Tautznik<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">135<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">95<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">151<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">55<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">116<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Doug Simek<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">228<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">208<br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">219<br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">227<br>
            </td>
            <td class="legacy-57cb26864a">5<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">187<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">164<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">186<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">132<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Steven H Riach<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">205<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">206<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">64<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">179<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">78<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">93<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">178<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">169<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Mike Johnson<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">135<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">154<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">142<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">189<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Lev Zelikmam<br>
            </td>
            <td class="legacy-57cb26864a">5<br>
            </td>
            <td class="legacy-57cb26864a">73<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">211<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">242<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">7<br>
            </td>
            <td class="legacy-57cb26864a">236<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">133<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">John Symakowski<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">140<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">111<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">142<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Bruce&nbsp; Hauser<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">105<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">34<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Bob Furman<br>
            </td>
            <td class="legacy-57cb26864a">6<br>
            </td>
            <td class="legacy-57cb26864a">270<br>
            </td>
            <td class="legacy-57cb26864a">5<br>
            </td>
            <td class="legacy-57cb26864a">254<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">269<br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">254<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">8<br>
            </td>
            <td class="legacy-57cb26864a">220<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">248<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">224<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">222<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Dave Dumar<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">8<br>
            </td>
            <td class="legacy-57cb26864a">225<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">233<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">223<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Dennis Haggerty<br>
            </td>
            <td class="legacy-57cb26864a">6<br>
            </td>
            <td class="legacy-57cb26864a">245<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">253<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">253<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Richard Fredericks<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">193<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">195<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">206<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">235<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Yvonne Zajaceskowski<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">80<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">124<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">86<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">101<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Warren Christman<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">264<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">263<br>
            </td>
            <td class="legacy-57cb26864a">3<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Phil Oppel<br>
            </td>
            <td class="legacy-57cb26864a">7<br>
            </td>
            <td class="legacy-57cb26864a">118<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-57cb26864a">95<br>
            </td>
            <td class="legacy-57cb26864a">0<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">147<br>
            </td>
            <td class="legacy-57cb26864a">1<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Tom Fernandez<br>
            </td>
            <td class="legacy-57cb26864a">5<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a">7<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb">Annie Haggerty<br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">171<br>
            </td>
            <td class="legacy-57cb26864a">2<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-57cb26864a">x<br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
          <tr>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-57cb26864a"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
            <td class="legacy-4d524dc3cb"><br>
            </td>
          </tr>
        </tbody>
      </table>
      <b><br>
      </b></div>


