---
{
  "layout": "base.njk",
  "permalink": "pistol/2025summerpistol.html",
  "title": "2025 Summer Pistol League — Pine Tree Rifle Club",
  "description": "2025 PINE TREE RIFLE CLUB SUMMER PISTOL LEAGUE Program shall be held on the following dates Tuesday 5:30PM April 38th 2025 PRACTICE/INTRODUCTION The follow",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><h2>2025 PINE TREE RIFLE CLUB SUMMER PISTOL LEAGUE</h2></div>
<br>
Program shall be held on the following dates
<div class="legacy-list">
Tuesday 5:30PM April 38th 2025 &nbsp;PRACTICE/INTRODUCTION
</div>
<div class="legacy-list">
The following matches held on the fourth Tuesday 5:30PM of each month listed.
</div>
<div class="legacy-list">
May 06h 2025 &nbsp;Match #01
</div>
<div class="legacy-list">
May 20th 2025 &nbsp;Match #02
</div>
<div class="legacy-list">
June 03rd 2025 &nbsp;Match #03
</div>
<div class="legacy-list">
June 17th 2025 &nbsp;Match #04
</div>
<div class="legacy-list">
July 01st 2025 &nbsp;Match #05
</div>
<div class="legacy-list">
July 15th 2025 &nbsp;Match #06
</div>
<div class="legacy-list">
July 29th 2025 &nbsp;Special Match 50yd slow target B6P
</div>
<div class="legacy-list">
August 12th 2025 &nbsp;Match #07
</div>
<div class="legacy-list">
August 26th 2025 &nbsp;Match #08
</div>
<ul></ul>
