---
{
  "layout": "base.njk",
  "permalink": "pistol/2025summerleaguescorespistol.html",
  "title": "2025summerpistoleagescores — Pine Tree Rifle Club",
  "description": "NAME G M1 X M2 X M3 X M4 X M5 X M6 X M7 X M8 X M9 X Peter Tautzink 1 158 1 165 0 x x x x 137 0 170 0 154 0 x x 3 128 0 121 0 x x 99 0 x x 55 0 110 0 x x Mi",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

    <table class="legacy-padding-74761400 legacy-border-1 legacy-60767bb7fe">

      <tbody>
        <tr>
          <td class="legacy-57cb26864a">NAME<br>
          </td>
          <td class="legacy-57cb26864a">G<br>
          </td>
          <td class="legacy-57cb26864a">M1<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M2<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M3<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M4<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M5<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M6<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M7<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M8<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
          <td class="legacy-57cb26864a">M9<br>
          </td>
          <td class="legacy-57cb26864a">X<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Peter Tautzink<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">158<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">165<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">137<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">170<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">154<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">128<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">121<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">99<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">55<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">110<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Mike Johnson<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">136<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">125<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">155<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">173<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">183<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">145<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">96<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Steven H Riach<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">224<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">174<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">206<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">230<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">210<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">216<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">55<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">143<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">123<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">81<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Rob Huchins<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">236<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">235<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">232<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">235<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">205<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">151<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">214<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">221<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">80<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">131<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Ron O'Bryan<br>
          </td>
          <td class="legacy-57cb26864a">6<br>
          </td>
          <td class="legacy-57cb26864a">242<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">234<br>
          </td>
          <td class="legacy-57cb26864a">4<br>
          </td>
          <td class="legacy-57cb26864a">257<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">245<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">262<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">241<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">8<br>
          </td>
          <td class="legacy-57cb26864a">256<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">253<br>
          </td>
          <td class="legacy-57cb26864a">4<br>
          </td>
          <td class="legacy-57cb26864a">254<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">262<br>
          </td>
          <td class="legacy-57cb26864a">4<br>
          </td>
          <td class="legacy-57cb26864a">249<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">248<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">John Synakowski<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">118<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">118<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">113<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Yvonne Zajaceskowsk<br>
          </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a">67<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">56<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">31<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Bruce H<br>
          </td>
          <td class="legacy-57cb26864a">6<br>
          </td>
          <td class="legacy-57cb26864a">214<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">153<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">124<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">183<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">127<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">163<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">7<br>
          </td>
          <td class="legacy-57cb26864a">34<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">31<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">38<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">25<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">33<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">38<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Marty Skotarczak </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a">207<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">193<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">205<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">206<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">190<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">190<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">233<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">7<br>
          </td>
          <td class="legacy-57cb26864a">206<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">202<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">169<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">210<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">201<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">217<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">188<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Lev Zelikman<br>
          </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a">244<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">229<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">207<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">238<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">237<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">237<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">227<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">257<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">7<br>
          </td>
          <td class="legacy-57cb26864a">99<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">58<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">22<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Chris Nellis<br>
          </td>
          <td class="legacy-57cb26864a">8<br>
          </td>
          <td class="legacy-57cb26864a">54<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">56<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">69<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">46<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">59<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">75<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">93<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Bob Furman<br>
          </td>
          <td class="legacy-57cb26864a">6<br>
          </td>
          <td class="legacy-57cb26864a">253<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">246<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">262<br>
          </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a">256<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">251<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">247<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">268<br>
          </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a">242<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">8<br>
          </td>
          <td class="legacy-57cb26864a">240<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">233<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">240<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">244<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">223<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">220<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">226<br>
          </td>
          <td class="legacy-57cb26864a">4<br>
          </td>
          <td class="legacy-57cb26864a">238<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Doug Smiek<br>
          </td>
          <td class="legacy-57cb26864a">5<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a">251<br>
          </td>
          <td class="legacy-57cb26864a">21<br>
          </td>
          <td class="legacy-57cb26864a">213<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">202<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">221<br>
          </td>
          <td class="legacy-57cb26864a">3<br>
          </td>
          <td class="legacy-57cb26864a">219<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">231<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">220<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a">7<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a">198<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">152<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">131<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">160<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">157<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">137<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">Laura Iwan<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a">173<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">180<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">204<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">191<br>
          </td>
          <td class="legacy-57cb26864a">0<br>
          </td>
          <td class="legacy-57cb26864a">168<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb">W Christman<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a">207<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">251<br>
          </td>
          <td class="legacy-57cb26864a">1<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">250<br>
          </td>
          <td class="legacy-57cb26864a">2<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a">x<br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
        <tr>
          <td class="legacy-4d524dc3cb"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
          <td class="legacy-57cb26864a"><br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>


