---
{
  "layout": "base.njk",
  "permalink": "pistol/45acpchallenge.html",
  "title": "45acpchallenge — Pine Tree Rifle Club",
  "description": "",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---




