---
{
  "layout": "base.njk",
  "permalink": "pistol/pistol202324.html",
  "title": "Pine Tree Rifle CLub Bullseye Pistol League 2023/24",
  "description": "PTRC Pistol League 2023/24 The organizational meeting was held September 28th, 2023 6:00PM at the club house! Our season shall begin with match one 5:30PM ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <br>
    <br>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PTRC Pistol League 2023/24</span> <br>
      <br>
			The organizational meeting was held September 28th, 2023 6:00PM at the club house!
			<br>
      Our season shall begin with match one 5:30PM Thursday October 5th,2023
			<br>
      and shall run Thursday's thru March 2024, March 21st will be the last score match.
      <br>
      March 28th, 2024 shall be our FUN SHOOT/PARTY
      <br>
      <b>Registration is open to all members - a fee of $30.00 per shooter</b>
      <br>
			<br>
      The basic guidelines are-
			<br>
      There are 24 matches scheduled (may drop one or two to possible conflicts) plus a special fun shoot.
			<br>
			Must have at least 10 consecutive scores iron sights or 10 consecutive scores using optic sights
			<br>
			The top 10 scores are averaged for a final score.
			<br>
			If one misses a week there is no makeup permitted!
			<br>
			<b>All PTRC &amp; NRA range safety rules apply</b>.
			<br>
			<br>
  		<b>NRA Bullseye course of fire with Rimfire and Centerfire</b>
			<br>
For scoring:
<br>
GROUP 1: Rimfire One Hand IRON SIGHTS
<br>
GROUP 2: Rimfire One Hand OPTIC SIGHTS
<br>
GROUP 3: Centerfire One Hand IRON SIGHTS
<br>
GROUP 4: Centerfire One Hand OPTIC SIGHTS
<br>
<br>
<b>Members who wish to participate but wish to use two hand method may do so.</b>
<br>
GROUP 5: Rimfire Two Handed IRON SIGHTS
<br>
GROUP 6: Rimfire Two Handed OPTIC SIGHTS
<br>
GROUP 7: Centerfire Two Handed IRON SIGHTS
<br>
GROUP 8: Centerfire Two Handed OPTIC SIGHTS
<br>
<br>
<br>

</div>
