---
{
  "layout": "base.njk",
  "permalink": "pistol/pistol201415.html",
  "title": "Pine Tree Rifle CLub Pistol League 2013/14",
  "description": "PTRC Pistol League 2014/15 The first organizational meeting September 25, 2014 - Thursday 6PM The second organizational meeting October 02, 2014 - Thursday",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <br>
    <br>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PTRC Pistol League 2014/15</span>
      <br>
      <br>
      <b>The first organizational meeting September 25, 2014 - Thursday
        6PM</b>
      <br>
      <b>The second organizational meeting October 02, 2014 - Thursday
        6PM</b>
      <br>
      Our season will begin with match one 6PM Thursday October 9, 2014
      <br>
      and shall run every Thursday thru April 2, 2015 last score match.
      <br>
      April 9th, 2015 shall be our FUN SHOOT///
      <br>
      <span class="legacy-c3b97501f8">(<u>no matches November 27th, December 25, 2014 or
          January 1st 2015</u>)</span> <br>
      <br>
      Registration is open to all members - a fee of $20.00 per shooter
      requested - <br>
      <br>
      The basic guide lines are-
      <br>
      There are 23 matches plus a special fun shoot. (Of the 23 matches
      you only need 10). The top 10 scores are averaged for a final
      score.
      <br>
      All PTRC &amp; NRA range safety rules apply.
      <br>
    </div>


