---
{
  "layout": "base.njk",
  "permalink": "pistol/pistol202526.html",
  "title": "Bullseye Pistol League Info — Pine Tree Rifle Club",
  "description": "PTRC Pistol League 2025/26 The organizational meeting was held September 25th, 2025 5:30PM at the club house! Our season shall begin with match one 5:30PM ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

    <br>
    <br>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PTRC Pistol League 2025/26</span> <br>
      <br>
			The organizational meeting was held September 25th, 2025 5:30PM at the club house!
			<br>
      Our season shall begin with match one 5:30PM Thursday October 2nd, 2025
			<br>
      and shall run Thursday's thru March 2026, March 19th will be the last score match.
      <br>
      March 26th, 2026 shall be our FUN SHOOT/PARTY
      <br>
      <b>Registration is open to all members - fee is $20.00 for one gun and $30.00 for two guns</b>
      <br>
			<br>
      The basic guidelines are-
			<br>
      There are 23 matches scheduled (may drop one or two to possible conflicts) plus a special fun shoot.
			<br>
			Must have at least 10 consecutive scores iron sights or 10 consecutive scores using optic sights
			<br>
			The top 10 scores are averaged for a final score.
			<br>
			If one misses a week there is no makeup permitted!
			<br>
			<b>All PTRC &amp; NRA range safety rules apply</b>.
			<br>
			<br>
  		<b>NRA Bullseye course of fire with Rimfire and Centerfire</b>
			<br>
For scoring:
<br>
GROUP 1: Rimfire One Hand IRON SIGHTS
<br>
GROUP 2: Rimfire One Hand OPTIC SIGHTS
<br>
GROUP 3: Centerfire One Hand IRON SIGHTS
<br>
GROUP 4: Centerfire One Hand OPTIC SIGHTS
<br>
<br>
<b>Members who wish to participate with the two handed method may do so.</b>
<br>
GROUP 5: Rimfire Two Handed IRON SIGHTS
<br>
GROUP 6: Rimfire Two Handed OPTIC SIGHTS
<br>
GROUP 7: Centerfire Two Handed IRON SIGHTS
<br>
GROUP 8: Centerfire Two Handed OPTIC SIGHTS
<br>
<br>
<br>

</div>
