---
{
  "layout": "base.njk",
  "permalink": "pistol/pistol202122.html",
  "title": "Pine Tree Rifle CLub Bullseye Pistol League 2021/22",
  "description": "PTRC Pistol League 2021/22 The organizational meeting was held September 30th, 2021 6:00PM at the club house! Our season shall begin with match one 5:30PM ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <br>
    <br>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PTRC Pistol League 2021/22</span> <br>
      <br>
			The organizational meeting was held September 30th, 2021 6:00PM at the club house!
			<br>
      Our season shall begin with match one 5:30PM Thursday October 7th,2021
			<br>
      and shall run every Thursday thru March 10th, 2021 last score match.
      <br>
      March 17th, 2021 shall be our FUN SHOOT/PARTY
      <br>
      <b>Registration is open to all members - a fee of $25.00 per shooter</b>.
      <br>
			Do to CV19 special conditions may be imposed for everyones safety!
      <br>
			<br>
      The basic guidelines are-
			<br>
      There are 22 matches scheduled (may drop one or two to possible conflicts) plus a special fun shoot.
			<br>
Must have at least 10 consecutive scores iron sights or 10 consecutive scores using optic sights
<br>
The top 10 scores are averaged for a final score.
<br>
<br>
<b>All PTRC &amp; NRA range safety rules apply</b>.
<br>
<br>
<b>NRA Bullseye course of fire with Rimfire and Centerfire</b>
<br>
For scoring:
<br>
GROUP 1: Rimfire One Hand IRON SIGHTS
<br>
GROUP 2: Rimfire One Hand OPTIC SIGHTS
<br>
GROUP 3: Centerfire One Hand IRON SIGHTS
<br>
GROUP 4: Centerfire One Hand OPTIC SIGHTS
<br>
<br>
<b>NEW = Members who wish to participate but wish to use two hand method may do so.</b>
<br>
GROUP 5: Rimfire Two Handed IRON SIGHTS
<br>
GROUP 6: Rimfire Two Handed OPTIC SIGHTS
<br>
GROUP 7: Centerfire Two Handed IRON SIGHTS
<br>
GROUP 8: Centerfire Two Handed OPTIC SIGHTS
<br>
<br>
<br>

</div>
