---
{
  "layout": "base.njk",
  "permalink": "programs/2021classes.html",
  "title": "2021 Training Classes — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2021 Training Classes NRA WOMEN ON TARGET: Saturday's 8am-5pm $45.00 May 15th Sept 11th NRA BASIC PISTOL: Saturday's 8am-5pm $80.00 Ma",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---

<br>
<br>
<div class="legacy-c353af57b2"><h1>PINE TREE RIFLE CLUB 2021 Training Classes</h1></div>
<table class="legacy-padding-74761400 legacy-border-5 legacy-05699fdbb8">
<tbody><tr>
<td>
NRA WOMEN ON TARGET:
<br>
Saturday's 8am-5pm
<br>
$45.00
</td>
<td>
May 15th
<br>
Sept 11th
</td>
</tr>
<tr>
<td>
NRA BASIC PISTOL:
<br>
Saturday's 8am-5pm
<br>
$80.00
</td>
<td>
March 13th
<br>
April 17th
<br>
July 24th
<br>
</td>
</tr>
<tr>
<td>
NRA BASIC RIFLE;
<br>
Saturday 8am-5pm
<br>
$45.00
</td>
<td>
April 10th
</td>
</tr>
<tr>
<td>
NRA BASIC SHOTGUN
<br>
Saturday' 8am-5pm
<br>
$45.00
</td>
<td>
June 12th
</td>
</tr>
<tr>
<td>
NRA/IN HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$80.00
</td>
<td>
May 28th &amp; 29th
<br>
August 20th &amp; 21st
</td>
</tr>
<tr>
<td>
NRA/OUTSIDE THE HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$80.00
</td>
<td>
<s>July 9th &amp; 10th</s>
<br>
Sept 24th &amp; 25th
</td></tr>
<tr>
<td>
PTRC Level 4 DEFENSIVE SHOOTING
<br>
Saturday 8am-5pm
<br>
$110.00
</td>
<td>
?
<br>
</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for above classes
<br>CONTACT: Doug Simek  &nbsp;518-773-3716  &nbsp;dougsimek99@gmail.com</b>
</td>
</tr>
<tr>
<td>
<br><br>
</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for the following classes
<br>CONTACT Steven at riachsh@outlook.com</b>
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION Instructor Refresher Class at Pine Tree
<br>
Tuesday 6-9
</td>
<td>
<s>March</s>
</td>
</tr>
<tr>
<td>
NRA RANGE SAFETY OFFICER
<br>
Saturday 8-5PM
<br>
$85.00 (<u>PTRC Members $65.00</u>)
</td>
<td>
Januaray 30, 2021
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
<s>April 3rd</s>
<br>

</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
<s>May 1st</s>
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
August 7th
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
September 4th
</td>
</tr>
</tbody></table>
<br>
<br>


