---
{
  "layout": "base.njk",
  "permalink": "programs/2022classes.html",
  "title": "2022 Training Classes — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2022 Training Classes Fulton Co Required Safety Pistol Liscence Class Held the First Wednesday of each month 6-9PM! Submit $20.00 and ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---

<br>
<br>
<div class="legacy-c353af57b2"><h1>PINE TREE RIFLE CLUB 2022 Training Classes</h1></div>
<table class="legacy-padding-74761400 legacy-border-5 legacy-05699fdbb8">
<tbody><tr>
<td>
Fulton Co Required Safety Pistol Liscence Class
<br>
Held the First Wednesday of each month 6-9PM!
<br>
Submit $20.00 and a phone number per person to:
<br><br>
PINE TREE RIFLE CLUB
<br>
C/O Paul Catucci
<br>
P.O. Box 45
<br>
Johnstown, NY 12095
<br><br>
Contact phone 649-7617
</td>
<td>
January 5th
<br>
Feburary 2nd
<br>
March 2nd
<br>
April 6th
<br>
May 4th
<br>
June 1st
<br>
July 6th
<br>
August 3rd
<br>
September 7th
<br>
October 5th
<br>
November 2nd
<br>
December 7th
</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for the following NRA classes below.
<br>CONTACT: Doug Simek  &nbsp;518-773-3716  &nbsp;dougsimek99@gmail.com</b>
</td>
</tr>
<tr><td>
NRA WOMEN ON TARGET:
<br>
Saturday's 8am-5pm
<br>
$45.00
</td>
<td>
March 19th
<br>
June 4th
<br>
October 15th
</td>
</tr>
<tr>
<td>
NRA BASIC PISTOL:
<br>
Saturday's 8am-5pm
<br>
$80.00
</td>
<td>
Feb 12th
<br>
April 16th
<br>
July 23rd
<br>
</td>
</tr>
<tr>
<td>
NRA BASIC RIFLE;
<br>
Saturday 8am-5pm
<br>
$45.00
</td>
<td>
xxxx
</td>
</tr>
<tr>
<td>
NRA BASIC SHOTGUN
<br>
Saturday' 8am-5pm
<br>
$45.00
</td>
<td>
xxxx
</td>
</tr>
<tr>
<td>
NRA/IN HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$80.00
</td>
<td>
May 20 &amp; May 21
<br>
July 15 &amp; July 16
</td>
</tr>
<tr>
<td>
NRA/OUTSIDE THE HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$80.00
</td>
<td>
June 17 &amp; June 18
<br>
Aug 19 &amp; Aug 20
</td></tr>
<tr>
<td>
NRA Conceal Carry
<br>
Saturday 7am-5pm
<br>
Fee
</td>
<td>
xxx
<br>
</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for the programs listed below.
<br>CONTACT: Steven H Riach &nbsp;riachsh@twc.com  &nbsp;518-224-3437</b>
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION Instructor Refresher Class at Pine Tree
<br>
xxxx
</td>
<td>
xxxx
</td>
</tr>
<tr>
<td>
NRA RANGE SAFETY OFFICER
<br>
Saturday 8-5PM
<br>
$85.00 (<u>PTRC Members $65.00</u>)
</td>
<td>
January 29th
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
April 2nd
<br>

</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
May CANCELLED
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
August 6th
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
September 3rd
</td>
</tr>
</tbody></table>
<br>
<br>


