---
{
  "layout": "base.njk",
  "permalink": "programs/2024classes.html",
  "title": "2024 Training Classes — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2024 Training Classes PISTOL LICENSE CLASSES: NYS & Fulton Co Required Safety Pistol Liscence Class You can either submit full payment",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---

<br>
<br>
<div class="legacy-c353af57b2"><h1>PINE TREE RIFLE CLUB 2024 Training Classes</h1></div>
<table class="legacy-padding-74761400 legacy-border-5 legacy-05699fdbb8">
<tbody><tr>
<td>
PISTOL LICENSE CLASSES:
<br>
NYS &amp; Fulton Co Required Safety Pistol Liscence Class
<br>
You can either submit full payment of $175.00 or to get your name on the list you may submit a $100.00 deposit that is non-refundable
<br><br>
PINE TREE RIFLE CLUB
<br>
C/O Paul Catucci
<br>
P.O. Box 45
<br>
Johnstown, NY 12095
<br>
&nbsp;<a href="mailto:paul.catucci@gmail.com">Paul's Email</a>
</td>
<td>
January
<br>
Pt#1 19th 6pm-9pm Pt#2 20st 8am-5pm Pt#3 22rd 6pm till
<hr>
March
<br>
Pt#1 15th 6-9PM Pt#2 16th 8-5pm Pt#3 18th 6pm till
<hr>
May
<br>
Pt#1 17th 6pm-9pm Pt#2 18th 8am-5pm Pt#3 20th 6pm till
<hr>
July
<br>
Pt#1 19th 6pm-9pm Pt#2 20th 8am-5pm Pt#3 22nd 6pm till
<hr>
September
<br>
Pt#1 20th 6pm-9pm Pt#2 21st 8am-5pm Pt#3 23rd 6pm till
<hr>
November
<br>
Pt#1 15th 6pm-9pm Pt#2 16th 8am-5pm Pt#3 18th 6pm till
<br>

</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for the following NRA classes below.
<br>CONTACT: Doug Simek  &nbsp;518-773-3716  &nbsp;dougsimek99@gmail.com</b>
</td>
</tr>
<tr><td>
NRA WOMEN ON TARGET:
<br>
Saturday's 8am-5pm
<br>
$55.00
</td>
<td>
April 27th
<br>

<br>
October 24th
</td>
</tr>
<tr>
<td>
Refuse to be a Victum
<br>
TBA
<br>
$20.00
</td>
<td>
TBA
<br>
</td>
</tr>
<tr>
<td>
NRA BASIC PISTOL:
<br>
Saturday's 8am-5pm
<br>
$150.00
</td>
<td>
January 27th
<br>
February 24th
<br>
March 23
<br>
August 24th
<br>
</td>
</tr>
<tr>
<td>
NRA BASIC RIFLE;
<br>
Saturday 8am-5pm
<br>
$85.00
</td>
<td>
TBA
</td>
</tr>
<tr>
<td>
NRA BASIC SHOTGUN
<br>
Saturday' 8am-
<br>
$85.00
</td>
<td>
April 13th
</td>
</tr>
<tr>
<td>
NRA/IN HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$150.00
</td>
<td>

<br>
Aug 9th 10th
</td>
</tr>
<tr>
<td>
NRA/OUTSIDE THE HOME DEFENSE
<br>
Friday 6-9pm &amp; Saturday 8am-5pm
<br>
$150.00
</td>
<td>
<s>June 14th 15th</s>
<br>
<s>September 13th 14th</s>
</td></tr>
<tr>
<td>
NRA Conceal Carry
<br>
Saturday 7am-5pm
<br>
Fee
</td>
<td>
TBA
<br>
</td>
</tr>
<tr>
<td>
<b>FOR REGISTRATION INFORMATION for the programs listed below.
<br>CONTACT: Steven H Riach &nbsp;riachsh@twc.com  &nbsp;518-224-3437</b>
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION Instructor Refresher Class at Pine Tree
<br>
</td>
<td>
TBA
</td>
</tr>
<tr>
<td>
NRA RANGE SAFETY OFFICER
<br>
Saturday 8-5PM
<br>
$100.00
</td>
<td>
March 30th
<br>

</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
April 6th
<br>
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
May 4h
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION RIFLE
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE    Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
August 3rd
</td>
</tr>
<tr>
<td>
DEC HUNTER EDUCATION BOW
<br>
Saturday 8am-4pm
<br>
FREE OF CHARGE   Must register on line at <a href="https://register-ed.com/programs/new_york">DEC site</a>
</td>
<td>
September 7th
</td>
</tr>
</tbody></table>
<br>
<br>


