---
{
  "layout": "base.njk",
  "permalink": "programs/decbowsafety.html",
  "title": "DEC Bow Hunter ED — Pine Tree Rifle Club",
  "description": "Bowhunter Education This course is required for learning the necessary safety techniques and responsibilities when using a bow and arrow to pursue deer and",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br>
<table role="presentation" class="legacy-3f28fdfe19">
			 <tbody><tr>
			 		 <td>
					 <h1><b>Bowhunter Education</b></h1>
This course is required for learning the necessary safety techniques and responsibilities when using a bow and arrow to pursue deer and bear.
<br>
While this course is not required for small game or turkey, DEC encourages you to take this course to learn general bow and tree stand safety techniques.
<br>
<b>Additional Requirements:</b>
<br>
Hunter Education is required in addition to this course to obtain a bowhunting privilege. It doesn't matter which course is taken first.
<br>
<br>

					<b> General Course Details and Requirements</b>
<br>
Course Topics Covered
<br>
•Aspects that make bowhunting challenging
<br>
•Becoming a more successful bowhunter
<br>
•Tree stand safety
<br>
•Archery techniques
<br>
•Hunter ethics
<br>
•Hunter responsibility toward wildlife, the environment, landowners and the general public
<br><br>
<b>Age Restriction/Requirement</b>
<br>
Students must be 11 years or older to take this course (Note: In New York State the minimum age to hunt is 12-years old).
<br><br>
<b>Course Length</b>
<br>
Minimum of 8 hours.
<br>
Bowhunter Education Certificate
<br>
Students must attend all sessions of the course, demonstrate proper attitude and safety, and pass a final exam of 40 questions. After successful completion of the course, students will receive a Bowhunter Education Certificate of Qualification, which is required in addition to a hunting license or hunter education certificate for purchasing a first-time bowhunting privilege in New York State.

			 		 </td>
			 </tr>
</tbody></table>
<br>


