---
{
  "layout": "base.njk",
  "permalink": "programs/deccamp.html",
  "title": "PTRC Scholarships to DEC Sportsman Camp — Pine Tree Rifle Club",
  "description": "Pine Tree Rifle Rifle Club Camp Scholarship Program 2020 As in previous years Pine Tree Rifle Club will Sponsor 4 children on a first come first basis , wh",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br><table role="presentation" class="legacy-7f31124c54">
<tbody><tr>
<th scope="col">
</th><td class="legacy-4555334f95">
<h2>Pine Tree Rifle Rifle Club Camp Scholarship Program 2020</h2>
<br>
As in previous years <u>Pine Tree Rifle Club will Sponsor 4 children on a first come first basis</u>, when registration starts, email paul.catucci@gmail.com and you will be email a code back to use.
The parents are responsible for transportation. PTRC will cover the Camp fee. "We will send the same child no more than twice".
<br><br>
<a href="https://dec.ny.gov/">www.dec.ny.gov</a>
<p>
2020 Camp registration opens at 1:00 PM on Sunday, January 26, 2020.
Camp Colby is open Weeks 1-5, Camps DeBruce and Colby will be offering one program each for ages 14-17 (Week 4: July 19-24),
and some of the Hunter Education program offerings have changed, so please review the schedules carefully at <a href="https://dec.ny.gov/">www.dec.ny.gov</a>
Read the Sponsor Letter (PDF) for more information.
</p>
<p>
Applications should be submitted online via the Summer Camps website.
</p>
<p>
Parents and guardians are encouraged to register early since some of the weeks fill up quickly.
</p>
<p>
For more information, please visit the DEC’s website at www.dec.ny.gov, call 518-402-8014,
visit “NYS DEC Summer Camps” on Facebook, or write to DEC Camps, 3rd Floor, 625 Broadway, Albany, New York 12233-5256.
</p>










</td>


</tr>
</tbody></table>
<br>
<br>


