---
{
  "layout": "base.njk",
  "permalink": "programs/dechuntsafety.htm",
  "title": "DEC Hunter ED — Pine Tree Rifle Club",
  "description": "Hunter Education The Hunter Education course is required for learning the necessary safety techniques and responsibilities as a hunter when using a gun, mu",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br>
<table role="presentation" class="legacy-3f28fdfe19">
 <tbody><tr>
   <td>
	<h1><b>Hunter Education</b></h1>
The Hunter Education course is required for learning the necessary safety techniques and responsibilities as a hunter when using a gun, muzzleloader or bow to pursue wild game.
<br>
Download the required manual and work sheet <a href="https://www.hunter-ed.com/newyork/manual/" target="_blank" rel="noopener noreferrer">here</a>
<br>
Additional requirements for bowhunting big game: If hunting deer or bear with a bow, you must also take a Bowhunter Education course.
<br>
<br>
<b>General Course Details and Requirements</b>
<br><br>
<b>Course Topics Covered</b>
<br><br>
•Firearm handling and safety techniques
<br>
•History of firearms
<br>
•Knowledge of firearms and ammunition
<br>
•Proper gun handling and storage
<br>
•Marksmanship fundamentals
<br>
•Specific laws and regulations
<br>
•Principles of wildlife management and wildlife identification
<br>
•Outdoor Safety
<br>
•Hunter ethics
<br>
•Hunter responsibility toward wildlife, the environment, landowners and the general public
<br><br>
<b>Age Restrictions/Requirements</b>
<br><br>
Students must be 11 years or older to take this course (Note: In New York State the minimum age to hunt is 12-years old).
<br>
Students 11 to 16-years old must have a signed  <a href="http://www.dec.ny.gov/docs/wildlife_pdf/permparent.pdf" target="blank">permission slip</a>(PDF)(54 KB) from a parent or legal guardian to allow for the handling and shooting of a firearm during this course.
<br><br>
<b>Course Length</b>
<br><br>
Minimum of 10 hours.
<br>
Hunter Education Certificate
<br>
Students must attend all sessions of the course, demonstrate proper attitude and safety, and pass a final exam of 50 questions. After successful completion of the course, students will receive a Hunter Education Certificate of Qualification, which is required for purchasing a first-time hunting license in New York State.
<br>
   </td>
 </tr>
</tbody></table>
<br>


