---
{
  "layout": "base.njk",
  "permalink": "programs/mcr.html",
  "title": "NRA Metallic Cartridge Reloading — Pine Tree Rifle Club",
  "description": "METALLIC CARTRIDGE RELOADING NRA Basic Metallic Cartridge Reloading Course Short Description: Teaches beginning reloaders the basic knowledge, skills, and ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<table role="presentation" class="legacy-d0cf14e5e0">
<tbody><tr>
<td>
<h2><b><span class="legacy-c353af57b2">METALLIC CARTRIDGE RELOADING</span></b></h2>
<b>NRA Basic Metallic Cartridge Reloading Course</b>
<br><br>
<b>Short Description:</b>
<br>
<ul class="legacy-orphan-list"><li>Teaches beginning reloaders the basic knowledge, skills, and attitude necessary to safely reload metallic cartridges.</li></ul>
<br>
<ul class="legacy-orphan-list"><li>The course is eight plus hours in length and is conducted in a classroom.</li></ul>
Each student is taught reloading safety; centerfire cartridge components; using reloading manuals; equipment; and the metallic cartridge reloading process.
<br>
<ul class="legacy-orphan-list"><li>Students will receive the NRA Guide to Reloading handbook, the Basic Reloading Student Exam,
a course completion certificate, NRA Gun Safety Rules brochure, a Basic Firearm Training Program brochure and a Course Evaluation form.</li></ul>
<br>
"	Please Note: There is a short-written test on the lesson material at the end of the course.
<br>
<br>
<b>There are no prerequisites for taking this course.</b>
<br>
Attendees should bring lunch, snacks, and safety glasses.
Everything else (equipment, components, tools, etc) will be supplied by the instructor.
<br>
</td>
</tr>
</tbody></table>



