---
{
  "layout": "base.njk",
  "permalink": "programs/nrahfs.html",
  "title": "NRA Firearm Safety — Pine Tree Rifle Club",
  "description": "NRA’S HOME FIREARM SAFETY COURSE This 4 hour course is a non-shooting course that teaches students the basic knowledge, skills, and explains the necessary ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br><br>
<table role="presentation" class="legacy-16ee914f2a">
<tbody><tr>
<td class="legacy-fb5ec070f2">
<h2>NRA’S HOME FIREARM SAFETY COURSE</h2>
</td>
</tr>
<tr>
<td>
<br>
 &nbsp;&nbsp;This 4 hour course is a non-shooting course that teaches students the basic knowledge, skills, and explains the necessary attitude for
safe handling, storage of firearms and ammunition in the home. The course will also familiarize participants with safe firearm handling
procedures and guidelines for storing pistols, rifles and shotguns in the home.
<br><br>
 &nbsp;This is a four hour course for safe gun handling that is conducted in the classroom only, NO LIVE FIRE!
<br><br>
 &nbsp;&nbsp;Students are taught NRA’s three golden rules for safe gun handling; primary causes of firearm accidents,
firearm parts and how to identify, load and unload different types of firearms. The different types and uses of ammunition, cleaning
and care of firearms.  Also, the benefits of becoming an active participant in the shooting sports. Students will receive the NRA Home
Firearm Safety handbook, NRA Gun Safety Rules brochure, Basic Firearm Training brochure, and course completion certificate. We provide
all firearms for this course
</td>
</tr>
</tbody></table>





