---
{
  "layout": "base.njk",
  "permalink": "programs/nrariflecourse.html",
  "title": "NRA Basic Rifle — Pine Tree Rifle Club",
  "description": "NRA Basic Rifle Course The NRA Basic Rifle Course is dedicated to instructing individuals in the advancement of proper shooting techniques. This is a cours",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<table class="legacy-padding-3772b3a1 legacy-border-10 legacy-3f86467718">

<tbody><tr>
       <td>
	   <div class="legacy-fb5ec070f2"><img src="nraemblem.jpg" width="207" height="214" alt="" class="legacy-a8488901d5"></div>
	   <br></td>
</tr>
</tbody></table>





