---
{
  "layout": "base.njk",
  "permalink": "programs/ppc.html",
  "title": "Pistol License Class — Pine Tree Rifle Club",
  "description": "PISTOL LICENSE CLASSES This is a required safety class for a Pistol License in NYS. Classes to be held at the Pine Tree Rifle Club have been approved by Fu",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<div dir="ltr"><div class="legacy-c353af57b2"><h1>PISTOL LICENSE CLASSES</h1></div>
<br>
<p></p><div class="legacy-c353af57b2"><span class="legacy-8820222f5e">This is a required safety class for a Pistol License in NYS.
<br>Classes to be held at the Pine Tree Rifle Club have been approved by Fulton, Montgomery,
<br>Schenectady, Herkimer and Saratoga Counties
<br>Instructors are NRA and PTRC certified, a number with Law Enforcement training as well.
<br>
<br>The class will start at 6:00 p.m. on Friday night until 10:00 p.m.
<br>On Saturday we will start again at 8:00 a.m. and it'll 4:30 with a half an hour for lunch.
<br>The final section held Monday 6PM till complete.
<br>Students will need to bring own lunch, water and coffee will be provided.
<br>Program includes hands on use of inert and real pistols (indoor range).
<br> The total cost that a class will be $175.
<br>You can either submit full payment of $175.00
<br>or to get your name on the list you may submit a $100.00 deposit that is non-refundable.
<br>Submit funds to Pine Tree Rifle Club as listed below
<br>Applicants please include a <b><u>telephone number, email in case the class fill</u>s</b>.
<br>Class size will be limited for saftey. No refund for a No Show!
<br>A Refund or re-schedule, only if you give 48 hour notice.
<br>This class is accepted by Fulton, Montgomery and Schenectady counties officially.
<br>Call your county Sheriff's Office in advance to confirm!
<br>Counties may change their policies without notice.
<br>
<br><br>PINE TREE RIFLE CLUB
<br>P.O. Box 45
<br>Johnstown, NY 12095
<br>Att:PLC</span>
<p></p></div></div>
<br>
<br>

<br>
<br>
<br>


