---
{
  "layout": "base.njk",
  "permalink": "programs/ptrcl4.html",
  "title": "PTRC LEVEL “4” DEFENSIVE SHOOTING — Pine Tree Rifle Club",
  "description": "PTRC LEVEL 4 COURSE AGENDA KEY TOPICS COVERED IN THIS COURSE 1.)Developing a Personal and Home Protection Plan 2). Self-Defense Firearm Basics 3). Live ran",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br><br>
<div class="legacy-c353af57b2"><h1>PTRC LEVEL 4 COURSE AGENDA<br>KEY TOPICS COVERED IN THIS COURSE</h1></div>
<br>
<table role="presentation" class="legacy-2dda5cd5ef">
<tbody><tr><td>
<span class="legacy-63a7ce21a5"><b>
1.)Developing a Personal and Home Protection Plan
<br>
2). Self-Defense Firearm Basics
<br>
3). Live range fire with concealed firearm (200 rounds)
<br>
<i>(classroom instruction only with Rifle and Shotgun)</i>
<br>
4). The Legal Use of Force
<br>
5). Deadly Encounters and the Aftermath
<br>
6). Gear and Gadgets
<br>
7). Basic and Advance Skills</b></span>
</td>
</tr>
</tbody></table>
<br><br><br><br>

<h2 class="legacy-h1"><span class="legacy-c353af57b2">MATERICALS &amp; REQUIREMENTS<br>FOR THE PTRC LEVEL 4 DEFENSIVE SHOOTING</span></h2>
<table role="presentation" class="legacy-2dda5cd5ef">
<tbody><tr>
<td>
Equipment needed:
<br>
A firearm of 38 caliber or larger used for carry conceal
<br>
Acarry conceal holster (side holster on belt)
<br>
At least two (2) magazines or a speed loader for the revoler,
<br>
(Semi-automatics preferred). Include a magazine holder or speed loader pouch for you belt
<br>
Hearing and eye protection is mandatory
<br>
You will need at least 200 rounds of ammunition for your firearm
<br>
A jacket or vest to conceal your firearm
<br>
Ground cover to kneel upon if needed (knee pads)
<br>
Dress for the weather!
<span class="legacy-63a7ce21a5"><br>
<i><b>PREREQUISITES:</b></i></span> Must be at least 21 years of age and possess a NY State Pistol License.
<br>
Have completed NRA Basic Pistol Course
<br>
Cost is $110.00 (non-refundable) Course is a minimum of 8 hours.
<br><br>
Any questions please call Doug: 518-773-3716
<br><br>
</td>
</tr>
</tbody></table>


