---
{
  "layout": "base.njk",
  "permalink": "programs/rso.html",
  "title": "NRA Range Safety Officer — Pine Tree Rifle Club",
  "description": "This course teaches the basic duties a Range Safety Officer performs. It provides a thorough introduction to: the role of Range Safety Officers (RSOs); ran",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<table role="presentation" class="legacy-16ee914f2a">
<tbody><tr>
<td class="legacy-fb5ec070f2">
<img src="rso01.jpg" width="320" height="320" alt="rso01 (800K)">
</td>
</tr>
<tr>
<td>
<p>
 &nbsp;This course teaches the basic duties a Range Safety Officer performs. It provides a thorough
introduction to: the role of Range Safety Officers (RSOs); range Standard Operating Procedures
(SOP); range safety briefings; range inspections and rules; emergency procedures; and how to
clear firearm stoppages and correct malfunctions. The skills acquired in this course require
regular practice which should initially take place under the supervision of a qualified
individual - such as an NRA Chief Range Safety Officer (CRSO).
</p>
<p>
  &nbsp;Course goal: To develop NRA Certified Range Safety Officers who will possess the
knowledge, skills and attitude essential to organizing, conducting, and supervising safe shooting
activities and range operations
</p>
<p>
	 &nbsp;LENGTH OF COURSE: 9 hours. The course length may vary depending on the
instructor/students ratio and the participant's abilities.
</p>
COURSE LESSIONS:
<div class="legacy-list">
Lesson 1: Introduction to the NRA Basic Range Safety Officer Course
</div>
<div class="legacy-list">
Lesson 2: The Role of the Range Safety Office and Range Standard Operating Procedures
</div>
<div class="legacy-list">
Lesson 3: Range Inspection and Range Rules
</div>
<div class="legacy-list">
Lesson 4: Range Safety Briefing
</div>
<div class="legacy-list">
Lesson 5: Emergency Procedures
</div>
<div class="legacy-list">
Lesson 6: Firearm Stoppages and Malfuntions
</div>
<div class="legacy-list">
Lesson 7: Test and Review
</div>
</td>
</tr>
</tbody></table>
<br><br>


