---
{
  "layout": "base.njk",
  "permalink": "programs/rsocourse01.html",
  "title": "Pine Tree Rifle Club - NRA Range Safety Officer Course",
  "description": "NRA RANGE SAFETY OFFICER COURSE This course teaches the basic duties a Range Safety Officer performs. It provides a thorough introduction to: the role of R",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<table role="presentation" class="legacy-16ee914f2a">
<tbody><tr>
<td><div class="legacy-c353af57b2"><h2>NRA RANGE SAFETY OFFICER COURSE</h2></div> </td>
</tr>
<tr>
<td>
<br>
 &nbsp;This course teaches the basic duties a Range Safety Officer performs. It provides a thorough introduction to: the role of Range Safety Officers (RSOs); range Standard Operating Procedures (SOP); range safety briefings; range inspections and rules; emergency procedures; and how to clear firearm stoppages and correct malfunctions. The skills acquired in this course require regular practice which should initially take place under the supervision of a qualified individual - such as an NRA Chief Range Safety Officer (CRSO).
<br><br>
 &nbsp;This course of study is being offered in two parts Tuesday August 25th, 2015 6PM-10PM and Thursday August 27th, 2015 6PM-10PM. The course length may vary depending on the instructor/students ratio and the participant's abilities. Program location will be the Pine Tree Rifle Club's main hall.
<br><br>
<b>COURSE LESSIONS:</b>
<br>
Lesson 1: Introduction to the NRA Basic Range Safety Officer Course
<br>
Lesson 2: The Role of the Range Safety Office and Range Standard Operating Procedures
<br>
Lesson 3: Range Inspection and Range Rules
<br>
Lesson 4: Range Safety Briefing
<br>
Lesson 5: Emergency Procedures
<br>
Lesson 6: Firearm Stoppages and Malfunction's
<br>
Lesson 7: Test and Review
<br><br>
For further information stop by our club Monday eve or Wednesday morning and speak with Peter Tautznik or
<br>
Steven H Riach. The number of participant's is limited.
</td>
</tr>
</tbody></table>
<br>





