---
{
  "layout": "base.njk",
  "permalink": "programs/rtbav.html",
  "title": "NRA Refuse to be A Victim — Pine Tree Rifle Club",
  "description": "Refuse To Be A Victim® Seminars teach methods to avoid dangerous situations and prevent criminal confrontations. Experts agree the most important factor in",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<table role="presentation" class="legacy-192bbbf900">
<tbody><tr>
<td class="legacy-fb5ec070f2">
<img src="rtbavlogo.gif" width="180" height="157" alt="rtbavlogo (15K)">
</td>
</tr>
<tr>
<td>
<br>
<p>
 &nbsp;Refuse To Be A Victim® Seminars teach methods to avoid dangerous situations and prevent criminal confrontations.
 Experts agree the most important factor in surviving a criminal attack is to have an overall safety strategy before you
 need it. Seminar topics address personal safety issues as well as home, automobile, telephone, technological, and travel
 security. Seminar participants are presented with a variety of common sense crime prevention and personal safety strategies
 and devices they may integrate into their daily lives.
</p>
<p>
 &nbsp;Refuse To Be A Victim® was developed by the National Rifle Association in 1993 in response to nationwide requests
 for crime prevention seminars. The program has been endorsed by members of the law enforcement community nationwide, such
 as Janice Hart, Certified Crime Prevention Specialist and Refuse To Be A Victim® Certified Instructor of Front Royal, Virginia.
 She said, "Crime Prevention is everyone's responsibility. Taking care of one's self is the priority. The skills taught in the
 Refuse To Be A Victim® course will help to prevent personal attacks and keep our communities safer. Refuse To Be A Victim® is
 the best personal safety and awareness program I have come across in my Crime Prevention career."
</p>
<p>
 &nbsp;The program is appropriate for teenagers and up. With more than four thousand instructors, seminars have been held in all
 50 states, the District of Columbia, Puerto Rico, Canada, Costa Rico, and Trinidad and Tobago.  Almost a 100 thousand men and
 women have benefited from the program and its life saving message.
</p>
</td>
</tr>
</tbody></table>


