---
{
  "layout": "base.njk",
  "permalink": "programs/scholarship.html",
  "title": "PTRC SCHOLARSHIP FUND — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB SCHOLARSHIP PROGRAM 2024 11th Annual PINE TREE RIFLE CLUB SCHOLARSHIP PROGRAM Here is the criteria;* 1. Must be a Junior member of PTR",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br>
<table class="legacy-border-5 legacy-14bdca057f">
<tbody><tr>
<td class="legacy-fb5ec070f2">
<br>
<h2>PINE TREE RIFLE CLUB SCHOLARSHIP PROGRAM</h2>
<br>
<b>2024 11th Annual PINE TREE RIFLE CLUB SCHOLARSHIP PROGRAM</b>
<br>
<br>
Here is the criteria;*
<br>
1.<b> Must be a Junior member of PTRC</b>*
<br>
2. Must be enrolled in higher education*
<br>
3. May only be awarded once*
<br>
4. (2+) $500.00 awarded for any expense, school, travel for school, books etc.*
<br>
5. Apply by writing an essay on the 2nd amendment or conservation. No more than 500 words.*
<br>
6. All essays must be in <b>NO LATER THAN  May 1st</b>, ( No Exceptions) winner will be asked to attend Future meeting.*
<br>
7. To apply send essay to;
<br>
<br>
PINE TREE RIFLE CLUB ATT: Paul Catucci
<br>
PO BOX 45
<br>
JOHNSTOWN, NEW YORK 12095
<br><br>
For further details call the club at 762-4033 any Monday Night
<br>
<br>
</td></tr>
</tbody></table>
<br>
<br>
<br>


