---
{
  "layout": "base.njk",
  "permalink": "programs/toys.html",
  "title": "Toys For Kids — Pine Tree Rifle Club",
  "description": "2023 program TOYS FOR Kids!!! Our 11th Annual Toys for KIDS program! We will be collecting toys and funds thru out the year for the kids and a family or tw",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<div class="legacy-c353af57b2">
<br>
<br>
<h1>2023 program TOYS FOR Kids!!!</h1>
<br>
<br>
<h2>Our 11th Annual Toys for KIDS program!
<br>
We will be collecting toys and funds thru out the year for the kids and a family or two.
<br>
We will adopted a local family or two in need providing most everything needed for a family christmas.
<br>
We wish to thank everyone in advance for supporting this cause.
</h2><div class="legacy-c353af57b2">
<br>




<br><br>


</div></div>
