---
{
  "layout": "base.njk",
  "permalink": "programs/wot.html",
  "title": "NRA Women On Target — Pine Tree Rifle Club",
  "description": "The National Rifle Association has a long standing department dedicated solely to serve Women's Programs. The mission is simple: Welcome, Support, Empower ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<table role="presentation" class="legacy-padding-93e20626 legacy-73907dbd23">

<tbody><tr>
       <td>
	       <div class="legacy-63a7ce21a5"><div class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-f98591319f"></span></span></span><div class="legacy-63a7ce21a5"><div class="legacy-63a7ce21a5"><div class="legacy-5890d3ed9f"><div class="legacy-5890d3ed9f"><div class="legacy-5890d3ed9f"><div class="legacy-5890d3ed9f">

                   <div class="legacy-fb5ec070f2"><img src="wot-logo.jpg" width="250" height="250" alt="wot-logo (7K)"> </div>
					  <br><br>
                    &nbsp;&nbsp;&nbsp; <span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">The National Rifle
                        Association has a long standing department
                        dedicated solely to serve<br>
                        Women's Programs. The mission is simple:
                        Welcome, Support, Empower and Serve the<br>
                        Women of the NRA.<br>
                        <br>
                        &nbsp;&nbsp;&nbsp; The Pine Tree Rifle Club
                        provides the opportunities that encourage women
                        to participate<br>
                        in the shooting and hunting sports. Our Clinic
                        comsists of teaching Safety, Shooting<br>
                        Techniques and Sportsmen ship for women. The
                        class is designed for women only so that<br>
                        the atmosphere is their area of interest.<br>
                        <br>
                        Basic class consists of:<br>
                        <br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Safety
                        class<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Pistol
                        identification, handling, aiming, breathing,
                        squeezing<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; and
                        shooting position with a pistol. (revolver or
                        semi-auto)<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Rifle
                        identification, handling, aiming, breathing,
                        squeezing<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and shooting
                        position with a rifle.<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Shotgun
                        identification, handling, aiming, breathing,
                        squeezing<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and shooting
                        position.<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Cleaning
                        of the firearms, storage, security and how to
                        purchase<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the firearm for
                        your needs.<br>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Class
                        evaluations and awarding of the Certificates.<br>
                        <br>
                        Classes consist of a minimum of eight (8) hours.<br>
                        There are three classes scheduled per year and
                        are limited to sixteen (16) students.<br>
                        These classes are conducted by the Pine Tree
                        Rifle Club volunteers.<br><br>
                      </span></span></div></div></div></div></div></div></div></div>
                      <span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><small><small><small><small><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">
                      </span></span></small></small></small></small>
          </span></span></span></span>
		  <span class="legacy-f98591319f"></span>
	   </td>
</tr>
</tbody></table>
<br>
<br>
<div class="legacy-c353af57b2">To obtain futher information you may call (518)762-4033 and leave a message or <a href="mailto:pinetreerifle@frontiernet.net">Email</a></div>
<br>
<br>


