---
{
  "layout": "base.njk",
  "permalink": "programs/youthra.html",
  "title": " — Pine Tree Rifle Club",
  "description": "Pine Tree Rile Club's Youth Program Children will learn Firearm and Archery safty and shoot on the range. Parents must stay with chid durning the entire cl",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br><br><br>
<table class="legacy-padding-33a3c91b legacy-border-10 legacy-b4e77d702c">

<tbody><tr>
       <td>
	   <br>
	   <span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"></span></span><div class="legacy-fb5ec070f2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"></span></span><div class="legacy-c353af57b2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Pine Tree Rile Club's Youth Program</span></span>
	   <br>
	   <br>Children will learn Firearm and Archery safty and shoot on the range.
	   <br>Parents must stay with chid durning the entire class!
	   <br>OPEN TO ALL AT NO COST FOR CHILDREN AGES 12 TO 17.
	   <br>Class is limited to 16 students!
	   <br>Rain or shine so dress for the weather.
	   <br>Must register at the club with Paul Catucci any Monday night (bring child's proof of age).
	   <br>
	   <br>Program dates to be announced for 2017.
	   <br><br>
	   </div></div>
	   </td>
</tr>
</tbody></table>




