

<br><br>
<div class="legacy-c353af57b2"><img alt="Pine Tree Rifle Club clubhouse in Johnstown, New York" src="pics/clubhouse5.jpg" height="300" width="900" class="legacy-a8488901d5">
<h1>PINE TREE RIFLE CLUB</h1>
<br>
<span class="legacy-8820222f5e">PO Box 45</span>&nbsp;
<span class="legacy-8820222f5e">Johnstown, New York</span>
<span class="legacy-8820222f5e">12095-0045</span>
<span class="legacy-8820222f5e">(518)762-4033</span>
<span class="legacy-8820222f5e"><a href="mailto:pinetreerifle@frontiernet.net">Email</a></span>

<br><br>
<a href="http://mapq.st/directions?q=419 Johnson Ave Ext.Johnstown, NY 12095-0045" target="_blank" rel="noopener noreferrer">MAP QUEST for DIRECTIONS to PINE TREE RIFLE CLUB</a>
<br><br>
<a href="index.html">Home</a>
</div>



