---
{
  "layout": "base.njk",
  "permalink": "admin/2021raffle.html",
  "title": "2021 Annual Raffle — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2021 = 22nd ANNUAL AUGUST RAFFLE Gift certificates are with RUNNINGS DATE WINNING # WINNING NAME SELLER PRIZE 08/01 328 Kristen Kenyon",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <span class="legacy-8f05af8d3a"><br>
    </span>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PINE TREE RIFLE CLUB 2021 = 22nd ANNUAL AUGUST RAFFLE<br>
      </span>
	    <b><br>Gift certificates are with
			<br><b>RUNNINGS</b>
			</b></div><div class="legacy-f98591319f">
    <br>
    <table class="legacy-padding-74761400 legacy-border-5 legacy-ddf3e1cec4">
      <tbody>
        <tr>
          <td class="legacy-57cb26864a">DATE<br>
          </td>
          <td class="legacy-57cb26864a">WINNING #<br>
					</td>
					<td class="legacy-57cb26864a">WINNING NAME<br>
          </td>
					<td class="legacy-57cb26864a">SELLER<br>
          </td>
					<td class="legacy-57cb26864a">PRIZE<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/01<br>
          </td>
          <td class="legacy-57cb26864a">328<br>
					</td>
					<td class="legacy-57cb26864a">Kristen Kenyon<br>
          </td>
					<td class="legacy-57cb26864a">Paul Christman<br>
          </td>

					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/02<br>
          </td>
          <td class="legacy-57cb26864a">661<br>
          </td>
					<td class="legacy-57cb26864a">John Markewitz<br>
          </td>
					<td class="legacy-57cb26864a">Jim Harrington<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/03<br>
          </td>
          <td class="legacy-57cb26864a">290<br>
          </td>
					<td class="legacy-57cb26864a">Rick Fraiser<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/04<br>
          </td>
          <td class="legacy-57cb26864a">235<br>
          </td>
					<td class="legacy-57cb26864a">Greg Havlicek<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/05<br>
          </td>
          <td class="legacy-57cb26864a">958<br>
          </td>
					<td class="legacy-57cb26864a">Chuck Thompson<br>
          </td>
					<td class="legacy-57cb26864a">Bob Burka<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/06<br>
          </td>
          <td class="legacy-57cb26864a">442<br>
          </td>
					<td class="legacy-57cb26864a">Evan Deuel<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/07<br>
          </td>
          <td class="legacy-57cb26864a">859<br>
          </td>
					<td class="legacy-57cb26864a">Tim Bleyl<br>
          </td>
					<td class="legacy-57cb26864a">Vern "Buck" Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/08<br>
          </td>
          <td class="legacy-57cb26864a">782<br>
          </td>
					<td class="legacy-57cb26864a">John Bennett<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/09<br>
          </td>
          <td class="legacy-57cb26864a">063<br>
          </td>
					<td class="legacy-57cb26864a">Tina O'Dell <br>
          </td>
					<td class="legacy-57cb26864a">Rick O'Dell<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/10<br>
          </td>
          <td class="legacy-57cb26864a">670<br>
          </td>
					<td class="legacy-57cb26864a">Jim Cannistraci <br>
          </td>
					<td class="legacy-57cb26864a">Paul Catucci<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/11<br>
          </td>
          <td class="legacy-57cb26864a">107<br>
          </td>
					<td class="legacy-57cb26864a">Paul Catucci<br>
          </td>
					<td class="legacy-57cb26864a">Paul Catucci<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/12<br>
          </td>
          <td class="legacy-57cb26864a">460<br>
          </td>
					<td class="legacy-57cb26864a">John Dorherty <br>
          </td>
					<td class="legacy-57cb26864a">John Dorherty<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/13<br>
          </td>
          <td class="legacy-57cb26864a">470<br>
          </td>
					<td class="legacy-57cb26864a">Bill Thornlow<br>
          </td>
					<td class="legacy-57cb26864a">Dave Bardasini<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/14<br>
          </td>
          <td class="legacy-57cb26864a">132<br>
          </td>
					<td class="legacy-57cb26864a">Ed Vozna<br>
          </td>
					<td class="legacy-57cb26864a">Steven Riach<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/15<br>
          </td>
          <td class="legacy-57cb26864a">206<br>
          </td>
					<td class="legacy-57cb26864a">Emory Chase<br>
          </td>
					<td class="legacy-57cb26864a">Emory Chase<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/16<br>
          </td>
          <td class="legacy-57cb26864a">792<br>
          </td>
					<td class="legacy-57cb26864a">Chad Claus<br>
          </td>
					<td class="legacy-57cb26864a">Mark Wendt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/17<br>
          </td>
          <td class="legacy-57cb26864a">915<br>
          </td>
					<td class="legacy-57cb26864a">Roger Trevett <br>
          </td>
					<td class="legacy-57cb26864a">Paul Christman<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/18<br>
          </td>
          <td class="legacy-57cb26864a">437<br>
          </td>
					<td class="legacy-57cb26864a">Travis Germain <br>
          </td>
					<td class="legacy-57cb26864a">Emory Chase<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/19<br>
          </td>
          <td class="legacy-57cb26864a">364<br>
          </td>
					<td class="legacy-57cb26864a">Carol Peron<br>
          </td>
					<td class="legacy-57cb26864a">Peter Tautznik<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/20<br>
          </td>
          <td class="legacy-57cb26864a">901<br>
          </td>
					<td class="legacy-57cb26864a">Jenne Hutchins <br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/21<br>
          </td>
          <td class="legacy-57cb26864a">686<br>
          </td>
					<td class="legacy-57cb26864a">Kari Hawkins<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/22<br>
          </td>
          <td class="legacy-57cb26864a">029<br>
          </td>
					<td class="legacy-57cb26864a">Owen Deuel<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/23<br>
          </td>
          <td class="legacy-57cb26864a">559<br>
          </td>
					<td class="legacy-57cb26864a">Jeremy Smith <br>
          </td>
					<td class="legacy-57cb26864a">Bob Burka<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/24<br>
          </td>
          <td class="legacy-57cb26864a">014<br>
          </td>
					<td class="legacy-57cb26864a">Richard Steding <br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/25<br>
          </td>
          <td class="legacy-57cb26864a">959<br>
          </td>
					<td class="legacy-57cb26864a">Dennis Reid <br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/26<br>
          </td>
          <td class="legacy-57cb26864a">859<br>
          </td>
					<td class="legacy-57cb26864a">Tim Bleyl<br>
          </td>
					<td class="legacy-57cb26864a">Vern "Buck" Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/27<br>
          </td>
          <td class="legacy-57cb26864a">304<br>
          </td>
					<td class="legacy-57cb26864a">Pelella Meyeel<br>
          </td>
					<td class="legacy-57cb26864a">Paul Catucci<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/28<br>
          </td>
          <td class="legacy-57cb26864a">472<br>
          </td>
					<td class="legacy-57cb26864a">Leonne Wilson <br>
          </td>
					<td class="legacy-57cb26864a">Jim Harrington<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/29<br>
          </td>
          <td class="legacy-57cb26864a">247<br>
          </td>
					<td class="legacy-57cb26864a">Joel Wilson<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/30<br>
          </td>
          <td class="legacy-57cb26864a">531<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet <br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/31<br>
          </td>
          <td class="legacy-57cb26864a">332<br>
          </td>
					<td class="legacy-57cb26864a">Beverly Bush <br>
          </td>
					<td class="legacy-57cb26864a">Aaron Miller<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
		<div class="legacy-c353af57b2">The Top seller awarded $200.00, sell 60 plus tickets earn free dues for 2022</div>
		<br>
		<br>
		<br>

</div>
