---
{
  "layout": "base.njk",
  "permalink": "admin/2022raffle.html",
  "title": "2022 Annual Raffle — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2022 = 23rd ANNUAL AUGUST RAFFLE Gift certificates are with RUNNINGS DATE WINNING # WINNING NAME SELLER PRIZE 08/01 675 Joyce Rajkowsk",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <span class="legacy-8f05af8d3a"><br>
    </span>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PINE TREE RIFLE CLUB 2022 = 23rd ANNUAL AUGUST RAFFLE<br>
      </span>
	    <b><br>Gift certificates are with
			<br><b>RUNNINGS</b>
			</b></div><div class="legacy-f98591319f">
    <br>
    <table class="legacy-padding-74761400 legacy-border-5 legacy-ddf3e1cec4">
      <tbody>
        <tr>
          <td class="legacy-57cb26864a">DATE<br>
          </td>
          <td class="legacy-57cb26864a">WINNING #<br>
					</td>
					<td class="legacy-57cb26864a">WINNING NAME<br>
          </td>
					<td class="legacy-57cb26864a">SELLER<br>
          </td>
					<td class="legacy-57cb26864a">PRIZE<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/01<br>
          </td>
          <td class="legacy-57cb26864a">675<br>
					</td>
					<td class="legacy-57cb26864a">Joyce Rajkowski<br>
          </td>
					<td class="legacy-57cb26864a">Jim Lias<br>
          </td>

					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/02<br>
          </td>
          <td class="legacy-57cb26864a">114<br>
          </td>
					<td class="legacy-57cb26864a">John Pashley<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/03<br>
          </td>
          <td class="legacy-57cb26864a">696<br>
          </td>
					<td class="legacy-57cb26864a">Dick Martish<br>
          </td>
					<td class="legacy-57cb26864a">Paul Christman<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/04<br>
          </td>
          <td class="legacy-57cb26864a">361<br>
          </td>
					<td class="legacy-57cb26864a">Tammie Zemkin<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/05<br>
          </td>
          <td class="legacy-57cb26864a">452<br>
          </td>
					<td class="legacy-57cb26864a">John Pradelski<br>
          </td>
					<td class="legacy-57cb26864a">Paul Catucci<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/06<br>
          </td>
          <td class="legacy-57cb26864a">318<br>
          </td>
					<td class="legacy-57cb26864a">Mike Galpin<br>
          </td>
					<td class="legacy-57cb26864a">Bill Meyers<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/07<br>
          </td>
          <td class="legacy-57cb26864a">749<br>
          </td>
					<td class="legacy-57cb26864a">Brett Preston<br>
          </td>
					<td class="legacy-57cb26864a">Mark Wendt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/08<br>
          </td>
          <td class="legacy-57cb26864a">311<br>
          </td>
					<td class="legacy-57cb26864a">Derrick Lewis<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/09<br>
          </td>
          <td class="legacy-57cb26864a">336<br>
          </td>
					<td class="legacy-57cb26864a">Marilyn Simek<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/10<br>
          </td>
          <td class="legacy-57cb26864a">104<br>
          </td>
					<td class="legacy-57cb26864a">Larry Nellis<br>
          </td>
					<td class="legacy-57cb26864a">Jeff Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/11<br>
          </td>
          <td class="legacy-57cb26864a">118<br>
          </td>
					<td class="legacy-57cb26864a">Matt Gifford<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/12<br>
          </td>
          <td class="legacy-57cb26864a">977<br>
          </td>
					<td class="legacy-57cb26864a">Tom Simek<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/13<br>
          </td>
          <td class="legacy-57cb26864a">027<br>
          </td>
					<td class="legacy-57cb26864a">Kristin Harshman<br>
          </td>
					<td class="legacy-57cb26864a">Jeff Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/14<br>
          </td>
          <td class="legacy-57cb26864a">732<br>
          </td>
					<td class="legacy-57cb26864a">Joel Bornt<br>
          </td>
					<td class="legacy-57cb26864a">Aaron Miller<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/15<br>
          </td>
          <td class="legacy-57cb26864a">730<br>
          </td>
					<td class="legacy-57cb26864a">Nicole Stock<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/16<br>
          </td>
          <td class="legacy-57cb26864a">661<br>
          </td>
					<td class="legacy-57cb26864a">John Syakowski<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/17<br>
          </td>
          <td class="legacy-57cb26864a">642<br>
          </td>
					<td class="legacy-57cb26864a">Chris Miller <br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/18<br>
          </td>
          <td class="legacy-57cb26864a">771<br>
          </td>
					<td class="legacy-57cb26864a">Tim Miller<br>
          </td>
					<td class="legacy-57cb26864a">Lorraine Diamond<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/19<br>
          </td>
          <td class="legacy-57cb26864a">277<br>
          </td>
					<td class="legacy-57cb26864a">Jessica Spance<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/20<br>
          </td>
          <td class="legacy-57cb26864a">418<br>
          </td>
					<td class="legacy-57cb26864a">Kathy Mosser<br>
          </td>
					<td class="legacy-57cb26864a">Paul Christman<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/21<br>
          </td>
          <td class="legacy-57cb26864a">304<br>
          </td>
					<td class="legacy-57cb26864a">Missy Dolan<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/22<br>
          </td>
          <td class="legacy-57cb26864a">730<br>
          </td>
					<td class="legacy-57cb26864a">Nicole Stock<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/23<br>
          </td>
          <td class="legacy-57cb26864a">337<br>
          </td>
					<td class="legacy-57cb26864a">Stacy Ashe<br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/24<br>
          </td>
          <td class="legacy-57cb26864a">192<br>
          </td>
					<td class="legacy-57cb26864a">Terry McCart<br>
          </td>
					<td class="legacy-57cb26864a">Bruce Gill<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/25<br>
          </td>
          <td class="legacy-57cb26864a">351<br>
          </td>
					<td jay="" hancock="" class="legacy-57cb26864a"><br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/26<br>
          </td>
          <td class="legacy-57cb26864a">456<br>
          </td>
					<td class="legacy-57cb26864a">John Swierzowski<br>
          </td>
					<td class="legacy-57cb26864a">Mark Wendt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/27<br>
          </td>
          <td class="legacy-57cb26864a">001<br>
          </td>
					<td class="legacy-57cb26864a">B Kimball<br>
          </td>
					<td class="legacy-57cb26864a">Aaron Miller<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/28<br>
          </td>
          <td class="legacy-57cb26864a">329<br>
          </td>
					<td class="legacy-57cb26864a">Mike Almy<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/29<br>
          </td>
          <td class="legacy-57cb26864a">168<br>
          </td>
					<td class="legacy-57cb26864a">Brian Manzen<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/30<br>
          </td>
          <td class="legacy-57cb26864a">344<br>
          </td>
					<td class="legacy-57cb26864a">Ralph Marotta<br>
          </td>
					<td class="legacy-57cb26864a">Derrick Brown<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/31<br>
          </td>
          <td class="legacy-57cb26864a">172<br>
          </td>
					<td class="legacy-57cb26864a">Kevin Joiner<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
		<div class="legacy-c353af57b2">The Top seller awarded $200.00, sell 60 plus tickets earn free dues for 2023</div>
		<br>
		<br>
		<br>

</div>
