---
{
  "layout": "base.njk",
  "permalink": "admin/2023raffle.html",
  "title": "2023 Annual Raffle — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2023 = 24th ANNUAL AUGUST RAFFLE Gift certificates are with RUNNINGS DATE WINNING # WINNING NAME SELLER PRIZE 08/01 100 Tami Miller Ar",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

    <span class="legacy-8f05af8d3a"><br>
    </span>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PINE TREE RIFLE CLUB 2023 = 24th ANNUAL AUGUST RAFFLE<br>
      </span>
	    <b><br>Gift certificates are with
			<br><b>RUNNINGS</b>
			</b></div><div class="legacy-f98591319f">
    <br>
    <table class="legacy-padding-74761400 legacy-border-5 legacy-ddf3e1cec4">
      <tbody>
        <tr>
          <td class="legacy-57cb26864a">DATE<br>
          </td>
          <td class="legacy-57cb26864a">WINNING #<br>
					</td>
					<td class="legacy-57cb26864a">WINNING NAME<br>
          </td>
					<td class="legacy-57cb26864a">SELLER<br>
          </td>
					<td class="legacy-57cb26864a">PRIZE<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/01<br>
          </td>
          <td class="legacy-57cb26864a">100<br>
					</td>
					<td class="legacy-57cb26864a">Tami Miller<br>
          </td>
					<td class="legacy-57cb26864a">Arron Miller<br>
          </td>

					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/02<br>
          </td>
          <td class="legacy-57cb26864a">375<br>
          </td>
					<td class="legacy-57cb26864a">Patty DeMagistris<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/03<br>
          </td>
          <td class="legacy-57cb26864a">664<br>
          </td>
					<td class="legacy-57cb26864a">Tom Smith<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/04<br>
          </td>
          <td class="legacy-57cb26864a">709<br>
          </td>
					<td class="legacy-57cb26864a">Jon Janco<br>
          </td>
					<td class="legacy-57cb26864a">Rick O'Dell<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/05<br>
          </td>
          <td class="legacy-57cb26864a">258<br>
          </td>
					<td class="legacy-57cb26864a">Brenda Dunn<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/06<br>
          </td>
          <td class="legacy-57cb26864a">056<br>
          </td>
					<td class="legacy-57cb26864a">Ed Knott<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/07<br>
          </td>
          <td class="legacy-57cb26864a">586<br>
          </td>
					<td class="legacy-57cb26864a">Marvin Smith<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/08<br>
          </td>
          <td class="legacy-57cb26864a">436<br>
          </td>
					<td class="legacy-57cb26864a">Holly Szumowski<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/09<br>
          </td>
          <td class="legacy-57cb26864a">860<br>
          </td>
					<td class="legacy-57cb26864a">Brian Westfall<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/10<br>
          </td>
          <td class="legacy-57cb26864a">693<br>
          </td>
					<td class="legacy-57cb26864a">Bill Meyers<br>
          </td>
					<td class="legacy-57cb26864a">Bill Meyers<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/11<br>
          </td>
          <td class="legacy-57cb26864a">584<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">Tom Cocker<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/12<br>
          </td>
          <td class="legacy-57cb26864a">725<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">Jack Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/13<br>
          </td>
          <td class="legacy-57cb26864a">462<br>
          </td>
					<td class="legacy-57cb26864a">Leonce J Wilson<br>
          </td>
					<td class="legacy-57cb26864a">Jim Harrington<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/14<br>
          </td>
          <td class="legacy-57cb26864a">573<br>
          </td>
					<td class="legacy-57cb26864a">Joel Patenaude<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/15<br>
          </td>
          <td class="legacy-57cb26864a">033<br>
          </td>
					<td class="legacy-57cb26864a">Jon Janco<br>
          </td>
					<td class="legacy-57cb26864a">Tina O'Dell<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/16<br>
          </td>
          <td class="legacy-57cb26864a">115<br>
          </td>
					<td class="legacy-57cb26864a">Barney Spenser<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/17<br>
          </td>
          <td class="legacy-57cb26864a">805<br>
          </td>
					<td class="legacy-57cb26864a">Cary Zelich<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/18<br>
          </td>
          <td class="legacy-57cb26864a">852<br>
          </td>
					<td class="legacy-57cb26864a">Greg Saterlee<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/19<br>
          </td>
          <td class="legacy-57cb26864a">927<br>
          </td>
					<td class="legacy-57cb26864a">Jack Willmott<br>
          </td>
					<td class="legacy-57cb26864a">Emory Chase<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/20<br>
          </td>
          <td class="legacy-57cb26864a">039<br>
          </td>
					<td class="legacy-57cb26864a">Heather Hart<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/21<br>
          </td>
          <td class="legacy-57cb26864a">154<br>
          </td>
					<td class="legacy-57cb26864a">Ralph Reid<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/22<br>
          </td>
          <td class="legacy-57cb26864a">523<br>
          </td>
					<td class="legacy-57cb26864a">Jim Rodger<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/23<br>
          </td>
          <td class="legacy-57cb26864a">260<br>
          </td>
					<td class="legacy-57cb26864a">Jack Leslie<br>
          </td>
					<td class="legacy-57cb26864a">Bruce Gill<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/24<br>
          </td>
          <td class="legacy-57cb26864a">330<br>
          </td>
					<td class="legacy-57cb26864a">Jeff Lee<br>
          </td>
					<td class="legacy-57cb26864a">Jim Hines<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/25<br>
          </td>
          <td class="legacy-57cb26864a">065<br>
          </td>
					<td class="legacy-57cb26864a">Gary Hernigle<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/26<br>
          </td>
          <td class="legacy-57cb26864a">479<br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/27<br>
          </td>
          <td class="legacy-57cb26864a">367<br>
          </td>
					<td class="legacy-57cb26864a">Ed Sturgess<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/28<br>
          </td>
          <td class="legacy-57cb26864a">827<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">Avie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/29<br>
          </td>
          <td class="legacy-57cb26864a">770<br>
          </td>
					<td class="legacy-57cb26864a">Debby Hupkes<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/30<br>
          </td>
          <td class="legacy-57cb26864a">668<br>
          </td>
					<td class="legacy-57cb26864a">Tami Miller<br>
          </td>
					<td class="legacy-57cb26864a">Arron Miller<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/31<br>
          </td>
          <td class="legacy-57cb26864a">624<br>
          </td>
					<td class="legacy-57cb26864a">Becky Bascom<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
		<div class="legacy-c353af57b2">The Top seller awarded $200.00, sell 60 plus tickets earn free dues for 2024</div>
		<br>
		<br>
		<br>

</div>
