---
{
  "layout": "base.njk",
  "permalink": "admin/2025raffle.html",
  "title": "2025 Annual Raffle — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB 2025 = 26th ANNUAL AUGUST RAFFLE Gift certificates are with RUNNINGS DATE WINNING # WINNING NAME SELLER PRIZE 08/01 763 Kathy VanAlsty",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

    <span class="legacy-8f05af8d3a"><br>
    </span>
    <div class="legacy-c353af57b2"><span class="legacy-43e254f1ee">PINE TREE RIFLE CLUB 2025 = 26th ANNUAL AUGUST RAFFLE<br>
      </span>
	    <b><br>Gift certificates are with
			<br><b>RUNNINGS</b>
			</b></div><div class="legacy-f98591319f">
    <br>
    <table class="legacy-padding-74761400 legacy-border-5 legacy-ddf3e1cec4">
      <tbody>
        <tr>
          <td class="legacy-57cb26864a">DATE<br>
          </td>
          <td class="legacy-57cb26864a">WINNING #<br>
					</td>
					<td class="legacy-57cb26864a">WINNING NAME<br>
          </td>
					<td class="legacy-57cb26864a">SELLER<br>
          </td>
					<td class="legacy-57cb26864a">PRIZE<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/01<br>
          </td>
          <td class="legacy-57cb26864a">763<br>
					</td>
					<td class="legacy-57cb26864a">Kathy VanAlstyne<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>

					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/02<br>
          </td>
          <td class="legacy-57cb26864a">091<br>
          </td>
					<td class="legacy-57cb26864a">Dick Sena<br>
          </td>
					<td class="legacy-57cb26864a">Ed Sturgess<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/03<br>
          </td>
          <td class="legacy-57cb26864a">709<br>
          </td>
					<td class="legacy-57cb26864a">Ron Kruger<br>
          </td>
					<td class="legacy-57cb26864a">Jim Forsey<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/04<br>
          </td>
          <td class="legacy-57cb26864a">386<br>
          </td>
					<td class="legacy-57cb26864a">Bill Verklier<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/05<br>
          </td>
          <td class="legacy-57cb26864a">079<br>
          </td>
					<td class="legacy-57cb26864a">Robert Johnson<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/06<br>
          </td>
          <td class="legacy-57cb26864a">204<br>
          </td>
					<td class="legacy-57cb26864a">Bill Meyers<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/07<br>
          </td>
          <td class="legacy-57cb26864a">909<br>
          </td>
					<td class="legacy-57cb26864a">Mark Wendt<br>
          </td>
					<td class="legacy-57cb26864a">Emory Chase<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/08<br>
          </td>
          <td class="legacy-57cb26864a">627<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/09<br>
          </td>
          <td class="legacy-57cb26864a">318<br>
          </td>
					<td class="legacy-57cb26864a">Chris Goodemote<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/10<br>
          </td>
          <td class="legacy-57cb26864a">481<br>
          </td>
					<td class="legacy-57cb26864a">Lev Zelikman<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/11<br>
          </td>
          <td class="legacy-57cb26864a">111<br>
          </td>
					<td class="legacy-57cb26864a">Jon Miller<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/12<br>
          </td>
          <td class="legacy-57cb26864a">836<br>
          </td>
					<td class="legacy-57cb26864a">Bill Denman<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/13<br>
          </td>
          <td class="legacy-57cb26864a">171<br>
          </td>
					<td class="legacy-57cb26864a">Kim Cummings<br>
          </td>
					<td class="legacy-57cb26864a">Ed Sturgess<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/14<br>
          </td>
          <td class="legacy-57cb26864a">382<br>
          </td>
					<td class="legacy-57cb26864a">Rocky Warner<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/15<br>
          </td>
          <td class="legacy-57cb26864a">672<br>
          </td>
					<td class="legacy-57cb26864a">Larry Flood<br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/16<br>
          </td>
          <td class="legacy-57cb26864a">602<br>
          </td>
					<td class="legacy-57cb26864a">Elaine Pedrick<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/17<br>
          </td>
          <td class="legacy-57cb26864a">336<br>
          </td>
					<td class="legacy-57cb26864a">Steve Rivera<br>
          </td>
					<td class="legacy-57cb26864a">Jim Forsey<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/18<br>
          </td>
          <td class="legacy-57cb26864a">630<br>
          </td>
					<td class="legacy-57cb26864a">Pam Bray<br>
          </td>
					<td class="legacy-57cb26864a">Maria Cozzolino<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/19<br>
          </td>
          <td class="legacy-57cb26864a">117<br>
          </td>
					<td class="legacy-57cb26864a">Debby Hupkes<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/20<br>
          </td>
          <td class="legacy-57cb26864a">606<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet<br>
          </td>
					<td class="legacy-57cb26864a">Harold Achzet<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/21<br>
          </td>
          <td class="legacy-57cb26864a">892<br>
          </td>
					<td class="legacy-57cb26864a">Ryan Abel<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/22<br>
          </td>
          <td class="legacy-57cb26864a">008<br>
          </td>
					<td class="legacy-57cb26864a">Nate Fuller<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/23<br>
          </td>
          <td class="legacy-57cb26864a">500<br>
          </td>
					<td class="legacy-57cb26864a">Ken Zemken<br>
          </td>
					<td class="legacy-57cb26864a">Rob Hutchins<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/24<br>
          </td>
          <td class="legacy-57cb26864a">061<br>
          </td>
					<td class="legacy-57cb26864a">Tammy VanAlstyne<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/25<br>
          </td>
          <td class="legacy-57cb26864a">043<br>
          </td>
					<td class="legacy-57cb26864a">Brian Spinks<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/26<br>
          </td>
          <td class="legacy-57cb26864a">833<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/27<br>
          </td>
          <td class="legacy-57cb26864a">487<br>
          </td>
					<td class="legacy-57cb26864a">Rylan Bornt<br>
          </td>
					<td class="legacy-57cb26864a">Aaron Miller<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/28<br>
          </td>
          <td class="legacy-57cb26864a">431<br>
          </td>
					<td class="legacy-57cb26864a">Joran May<br>
          </td>
					<td class="legacy-57cb26864a">Chris Monty<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/29<br>
          </td>
          <td class="legacy-57cb26864a">677<br>
          </td>
					<td class="legacy-57cb26864a">Luigi Lanzi<br>
          </td>
					<td class="legacy-57cb26864a">Vern Gifford<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/30<br>
          </td>
          <td class="legacy-57cb26864a">937<br>
          </td>
					<td class="legacy-57cb26864a">Sonia Rissmeyer<br>
          </td>
					<td class="legacy-57cb26864a">Alvie Gallt<br>
          </td>
					<td class="legacy-57cb26864a">$300 or a $450 gift certificate<br>
          </td>
        </tr>
        <tr>
          <td class="legacy-57cb26864a">08/31<br>
          </td>
          <td class="legacy-57cb26864a">308<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">Todd Lewis<br>
          </td>
					<td class="legacy-57cb26864a">$300.00<br>
          </td>
        </tr>
      </tbody>
    </table>
		<br>
		<br>
		<br>

</div>
