---
{
  "layout": "base.njk",
  "permalink": "admin/board.html",
  "title": "OFFICERS/TRUSTEES/COMMITTEES — Pine Tree Rifle Club",
  "description": "Board of Directors OFFICERS 2024/25 President - Steven H Riach Vice President - Rick O'Dell Treasurer - William Meyers Membership Secretary - Joe Meek Reco",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---




	  <meta name="title" content="PINE TREE RIFLE CLUB">
	  <meta name="description" content="RIFLE HANDGUN SHOTGUN BOW">
	  <meta name="keywords" content="REC SPORTS">
	  <meta name="author" content="Pine Tree Rifle Club">
	  <meta name="reply-to" content="pinetreerifle@frontiernet.net">
	  <meta name="category" content="Recreation &amp; Sport">
	  <meta name="rating" content="Safe For Kids">
	  <meta name="robots" content="all">
	  <meta name="revisit-after" content="30 days">
<br>
<br>
<br>
<p class="legacy-fb5ec070f2"><span class="legacy-b902eeb30e">Board of Directors</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-43e254f1ee">OFFICERS 2024/25</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">President - Steven H Riach</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Vice President - Rick O'Dell</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Treasurer - William Meyers</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Membership Secretary - Joe Meek</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Recording Secretary - Mark Wendt</span></p>
<br>
<br>
<p class="legacy-fb5ec070f2"><span class="legacy-43e254f1ee">TRUSTEES 2025-2026</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Peter Tautznik</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Ken Benton</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Jim Fox</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Emory Chase</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8820222f5e">Rob Hutchins</span></p>
<br>
<p class="legacy-fb5ec070f2"><span class="legacy-43e254f1ee">Committees 2025</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Audit Chair - Andrea Hauser</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">August Raffle 2025 - Alvie Gallt</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Bar</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Buildings -</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Club Historian - Peter Betz</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Club House - Emory Chase</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Conservation - </span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Forestry Management - Jim Fox</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">DEC Hunter Ed - Steven H Riach</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Grounds - Peter Tautznik</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Political Action - Paul Adamkoski</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Education Program's Director - Peter Tautznik</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Chief Range Safety Officer - Steven H Riach</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Archery Programs - </span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Archery 3D - Emory Chase/Jim Forsey/</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Youth Programs - Jim Fox</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">200yd Range Programs - Ken Benton</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">50yd Range Programs - Rob Hutchins</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Small Bore Travel Team - Bruce Gill</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Skeet/Trap - Rick O'Dell</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Facebook page - Paul Catucci</span></p>
<p class="legacy-fb5ec070f2"><span class="legacy-8f05af8d3a">Website - Steven H Riach</span></p>
<br>
<br>
<div class="legacy-c353af57b2"><a href="../index.html"><img src="../pics/bullet.bmp" alt="Return to homepage"></a></div>
<br>




