---
{
  "layout": "base.njk",
  "permalink": "admin/feedback.html",
  "title": "Feedback Form — Pine Tree Rifle Club",
  "description": "Feedback Form Enter your name, e-mail and comments about our web-site, services and products. Then click Submit to send your comments. To clear the form, c",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---


<h1>Feedback Form</h1>

<p>Enter your name, e-mail and comments about our web-site, services and products.
Then click <i>Submit</i> to send your comments. To clear the form, click <i>Reset</i>.</p>


<form name="Feedback_form" action="mailto:riachs@frontiernet.net" method="post" enctype="text/plain">
<table role="presentation" class="legacy-671d5b0937">
<tbody><tr>
  <td class="legacy-ae28122bc1"><label for="feedback-name">Name</label></td>
  <td><input name="Name" id="feedback-name" size="30" type="text"></td>
</tr>
<tr>
  <td class="legacy-ae28122bc1"><label for="feedback-email">E-mail</label></td>
  <td><input type="email" name="Email" id="feedback-email" size="30"></td>
</tr>
<tr>
  <td class="legacy-5b2142616c"><label for="feedback-comments">Comments</label></td>
  <td><textarea name="Comments" id="feedback-comments" rows="5" cols="40"></textarea></td>
</tr>
<tr>
  <td>
  </td>
  <td>
  <button type="submit" name="Submit">Submit</button>&nbsp;<button type="reset" name="Reset">Reset</button>
  </td>
</tr>
</tbody></table>
</form>

<br>


