---
{
  "layout": "base.njk",
  "permalink": "admin/life.html",
  "title": "Newest LIFE Member — Pine Tree Rifle Club",
  "description": "Our Newest Life Member as of 03/13/2024 Barbara Tautznik Life Member as of 09/13/2023 Mark Wendt Life Member as of 04/12/2023 Norm Clo Life Member as of 04",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

	<br>
<div class="legacy-fb5ec070f2">
<h2>Our Newest Life Member as of 03/13/2024</h2><div>
</div><h1><b><u><b>Barbara Tautznik</b></u></b></h1>
<br>
<h2>Life Member as of 09/13/2023</h2>
<h2 class="legacy-h1"><b><u><b>Mark Wendt</b></u></b></h2>
<br>
<h2>Life Member as of 04/12/2023</h2>
<h2 class="legacy-h1"><b><u><b>Norm Clo</b></u></b></h2>
<br>
<h2>Life Member as of 04/13/2022</h2>
<h2 class="legacy-h1"><b><u><b>Wayne Schermerhorn</b></u></b></h2>
<br>
<h2>Life Member as of 01/13/2021</h2>
<h2 class="legacy-h1"><b><u><b>Rocky Ruby</b></u></b></h2>
<br>
At our general membership meeting of January 13th, 2021 we honored one Edward Rocky Ruby with Life Membership!
<br>
Rocky has been a member of PTRC since 1970!
<br>
<br>

<h2>Life Member as of 01/09/2019</h2>
<h2 class="legacy-h1"><b><u><b>Michael S Kowalski</b></u></b></h2>
<br>
At the meeting of January 9th 2019 we honored Michael Kowalski with life membership!
<br>
Michael has been an outstanding board member for the past five years.
<br>
Mike has led many projects and his done thousands of hours in free labor for the good of the club.
<br>
Michael has earned the respect of everyone he is come in contact with and has been a fantastic team player.
<br>
We appreciate Mike and that's why we decided to bestow this Honor on him.
<br>
Paul Catucci
<br>
President PTRC
<br>
<br>
<br>
<h2>Life Members as of 04/12/2017</h2>
<h2 class="legacy-h1"><b><u><b>Alvie Gallt &amp; Steven H. Riach</b></u></b></h2>
<br>
At last night's meeting, April 12, 2017 it was brought up to vote Alvie Gallt and Steven Riach in as Life Members.
<br>
We are proud to honor 2 great men, who work very hard at our club.
<br><br>
 &nbsp;<b>Alvie</b> has taken on several projects and has completed them in record time. He also has been in the Education Program and makes sure the "house" is set to receive guest.
<br>
He is a Rifle, Pistol and DEC Hunter Safety Instructor. He and his wife Holly can be found in the Kitchen working at every event and club suppers.
<br><br>
 &nbsp;<b>Steven</b> is on the executive Board as membership Chair. He is also in our Education Program. He is a Rifle, Shotgun, Pistol, CRSO, DEC and CCW Instructor.
<br>
He is also the webmaster for our website. He started the educational videos shown before our meetings. He also is a major help with our youth members.
<br>
Steven can be counted to help with new shooters and will volunteer for many club projects.
<br><br>
Both men are Veterans and served this country bravely. I'm Proud to call them friends. PTRC is a better place because of them.
                                                            <br>Paul Catucci
                                                            <br>President PTRC




	<h2>Life Member as of 11/11/2015</h2>
	<h2 class="legacy-h1"><b><u>Peter Tautznik</u></b></h2>
	&nbsp;At our last meeting on 11/11/15 Peter Tautznik was voted in as life member.
	<br>
	Peter was approved 100% by the BOD, and nominated at the meeting by Alvie Gallt.
	<br>
	Peter not only works countless hours at the club involved in almost every project, he takes care of the grounds,
	<br>is lead instructor for our education classes, and has made our club a lot better place.
	<br>
	&nbsp;It is fitting we made Peter a life member on Veterans Day, Peter a Vietnam Veteran with a career in our Nation's Military.
	<br>Peter is a great Veteran, man, club member and friend.

	<br>
		<div class="legacy-fb5ec070f2">
		<h2>Life Member as of 04/08/2015</h2>
	<h2 class="legacy-h1"><b><u>Thomas J Lorey</u></b></h2>
	<br>
	<div class="legacy-c353af57b2">Tom has been a member of our club since 1982.
	<br>His Dad Dick Lorey was also a life member.
	<br>Tom has always supported PTRC in the community as well as at our club.
	<br>He was nominated by Judge Richard Giardino, and voted on at our April Meeting.
	<br>We congratulate our Sheriff who has make national attention protecting our 2nd Amendment Rights.
  <br> PTRC President Paul Catucci
  </div>
	<br>
	<div class="legacy-fb5ec070f2">
		<h2>Life Member as of 06/11/2014</h2>
	<h2 class="legacy-h1"><b><u>Paul Catucci</u></b></h2>
<table role="presentation" class="legacy-cc16e6c996">
<tbody><tr>
<td> &nbsp;&nbsp;It is an honor to announce that at the June 11, 2014 Business Meeting Paul Catucci was nominated and unanimously (with a standing ovation)
chosen to be the most recent Life Member of the Pine Tree Rifle Club. During the past 12 years Paul has served as a trustee and President of the club.
Because of his foresight and personal initiative, programs and activities such as Women on Target, the offering of NRA rifle and pistol courses,
the Steak Bake, the Chicken Barbeque and the Chili Contest, were started. In addition, with his support, activities such as the 22 bench rest league,
the indoor pistol league and Thursday night trap have flourished. Originally, there were 3 men involved in Monday night shooting
(Paul was one of the 3) and now there is a very large group. Suppers have grown from 30-40 people to over 80, and membership has grown
from just over 350 to 800. Paul's mantra is that "It has to be for the good of the club and membership", and this has led to diverse,
financially sound and growing organization that is the envy of many rifle clubs in the area.
<br><div class="legacy-c353af57b2">Paul Christman
<br>Vice President PTRC</div>
</td>
</tr>
</tbody></table>

	</div>
	<br>
	<div class="legacy-fb5ec070f2">
	<h2>Life Member as of 05/14/2014</h2>
	<h2 class="legacy-h1"><u>Dick Bumpus</u></h2>
	<br>
	Our members voted in tonight May 14, 2014 the newest life member Mr. Dick Bumpus.
	<br>
	Dick has been a member of PTRC for 25 years and had been a past member of the board of directors.
	<br>
	He wrote and we received 3 grants from the NRA.
	<br>
	He has also been the chairman of the friends of the NRA.
	<br>
	Dick for many years have trained new hunters in DEC hunter safety classes, and NRA classes.
	<br>
	He is a great choice for a life member of our club. <u>Thank you Dick,  for all you do!</u>
<br>
Paul Catucci, Club President
</div>
  	<br>
	<div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-8820222f5e">Life Member as of 10/09/2013</span></div></div>
	<br>
	<div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-43e254f1ee"><b><u>Paul Christman</u></b></span></div>
  	<br>
	<p>
	We would like to congratulate our newest life member, our Vice President Paul Christman.
	<br>Paul has been a member for over 20 years and has been on the board of directors for 12 years.
	<br>He has been club vice president for the last 4 years.
	<br>Paul is a dedicated, hard working person who always helps out when he can.
	<br>He has spent countless hours at the club working in the kitchen, building the new skeet house, or any other project that comes up.
	<br>If you need to describe Paul in one word you would say <b><u>helpful</u></b>.
	<br>He along with his wife Sandy are great club members and we are lucky to have them here.
	<br>Paul has always supported the club and we are proud to give him the honor of life member.
	</p>
	<br>
	<div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-8820222f5e">Life Member as of 07/10/2013</span></div></div>
	<br>
    <div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-43e254f1ee"><b><u>John Del Savio</u></b></span></div></div>
    <br>
	<p>
	&nbsp;&nbsp;Our newest Life Member is John Del Salvio, John has been a member since he was 18 years of age.
	A long time member of over 40+ years! John has shot to some of the best people in the country
	and has much success winning a lot of matches. He has been on the board of directors of our club for
	at least the last 4~5 years as a trusted leader. He spear headed the range development as well as
	founded the Monday night league which now has over 40 members.
	<br>&nbsp;&nbsp;John has work hard to bring Pine Tree back to what we are today.
	We are proud of John and wish him great health and honor him as a life member.
	John is writing a book on the history of Pine Tree Rifle Club, you would not believe all the great things
	that happen on our grounds!
	<br>Bless you John, you are a great Board Member and Friend.
	</p>
	<br>
	PHOTO AT BOTTOM
    <br>
	<div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-8820222f5e">Life Member as of 10/10/2012</span></div></div>
	<br>
    <div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><span class="legacy-43e254f1ee"><b><u>Harold Achzet</u></b></span></div>
    </div>
    <br>
    <p>&nbsp; Harold was born on July 24, 1943. He is the "baby" of 12
      brothers and sisters. He
      married the love of his life, Venessa, on June 6, 1964 and they
      had a daughter, Kelly,
      On April 23, 1966. Harold worked at Poly Ply, NEDCO and KeyMark
      before going to
      Work for Fulton County for 18 years and was able to retire in
      2005.
    </p>
    &nbsp; His hobbies include hunting, fishing and taking care of stray
    cats. Over the years he
    Has shot several deer on hunting trips with his brothers and
    friends. When he goes
    Fishing, he always says he caught some but released them all.
    Sometimes people
    Wonder about all that. Ha-ha. His love of cats is extraordinary. As
    of right now, he
    takes care of 7 outside cats and has 2 adopted inside cats (Baby and
    Tiger) that were
    Strays. He made a huge cat condo for these outside cats and put
    animal heating pads
    In the condo to keep them warm and they have heated food bowls too.
    <p>&nbsp; Harold is a gentle man with lots of love to give. He's
      always there for his family and
      Friends and has a contagious laugh that you can't ignore. He just
      loves being a member
      Of the Pine Tree and helping others whenever he can at the club
      and loves trying to
      Make the club the best that it can be. The above was written by
      Kelly Aczhet, Harold's daughter. </p>
    &nbsp; I met Harold about 5 years ago, and if we had a "Man of the
    Year" @ Pine Tree he would have won most of the time.
    He is always there to help make his club better, as a board member
    he works hard, always takes on the tough jobs,
    and is a wealth of knowledge. I always said Harold is one of the
    nicest men I have ever met. We are lucky to have
    him as a member and I am proud to announce him our newest life
    member. <br>
    <br>
    <br>
    <div class="legacy-c353af57b2"><img src="haroldjohn.jpg" alt="" height="675" width="900" class="legacy-a8488901d5"></div>
    <div class="legacy-c353af57b2">For those that dont know - Harold is the second form the left in front
      and John is far right and Paul with glasses is standing behind Harold.
    </div>

</div></div></div>
