---
{
  "layout": "base.njk",
  "permalink": "admin/missionstatement.html",
  "title": "Mission Statement — Pine Tree Rifle Club",
  "description": "MISSION STATEMENT Encouragement of rifle and pistol shooting, clay target shooting, and archery, among the residents of our community, with a view toward a",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

  <br>
	<table bordercolorlight="#33FF00" class="legacy-padding-3772b3a1 legacy-border-10 legacy-474ee6a404">
	<tbody><tr>
       <td>
	   <div class="legacy-fb5ec070f2"><div class="legacy-c353af57b2"><h2>MISSION STATEMENT</h2></div></div>
 	   &nbsp;&nbsp;Encouragement of rifle and pistol shooting, clay target shooting, and archery, among the residents of our community, with a view toward a better knowledge
       on the part of such citizens, of the safe handling and proper care of firearms as well as improved marksmanship.
	   <br><br>
       &nbsp;To propagate,protect and aid in the distribution of fish and game.
	   <br><br>
       &nbsp;To aid in reforestation and the prevention of forest fires.
	   <br><br>
       &nbsp;To work for the enactment of sound conservation measures, to promote the observance of measures, and to oppose all measures detrimental to sound conservation.
	   <br><br>
       &nbsp;To instruct our junior members in the proper handling of firearms, and the true meaning of sportsmanship.
	   <br><br>
       &nbsp;&nbsp;To support sound legislation pertaining to ownership and use of firearms, and oppose restrictive legislation which may be detrimental to the interest of this club
       in accordance with our 2nd amendment rights to keep and bear arms, as per the Constitution of the United States of America.
	   <br><br>
	   </td>
	  </tr>
	 </tbody></table>
	 <br>


