---
{
  "layout": "base.njk",
  "permalink": "admin/mr.html",
  "title": "Membership Requirememts — Pine Tree Rifle Club",
  "description": "Membership Requirements PTRC By Laws Article III Sections 1 and 2 Titled MEMBERSHIP Must be a citizen of the United State Must be at least 18 years of age.",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br>
<br>
<div class="legacy-e7362678a6"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-f98591319f">Membership Requirements</span></span></span><br>
<br>
<ul class="legacy-cdd66632f4">
			<li>PTRC By Laws Article III Sections 1 and 2 Titled MEMBERSHIP</li>
			<li>Must be a citizen of the United State</li>
      <li>Must be at least 18 years of age.<br></li>
      <li>Complete a membership application, available on-line and at the club house.</li>
      <li>Secure a sponsor - In order to become a member of Pine Tree Rifle Club, you must be sponsored by a PTRC member.</li>
      <li>Any applicant who is not an NRA member must complet an NRA membership application coincident with their application for membership to the Pine Tree Rifle Club.</li>
      <li>Submit your application, with a $10 non- refundable fee to Pine Tree Rifle Club, PO Box 45, Johnstown, NY 12095</li>
      <li>Upon acceptance of your application, You will be notified of a new candidates meeting and must attend with your sponsor.
      </li>
    </ul>
<a href="../index.html"><img src="../pics/bullet.bmp" alt="Return to homepage"></a>
</div>


