---
{
  "layout": "base.njk",
  "permalink": "admin/newsboard.html",
  "title": "Pine Tree Rifle Club News Board",
  "description": "Useful Idiots; Saul Alinsky died about 43 years ago, but his writings influenced those in political control of our nation today....... Recall that Hillary ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<table role="presentation" class="legacy-3f28fdfe19">
<tbody><tr><td>
<br><br>
<div class="legacy-c353af57b2"><img src="namvets.jpg" width="400" height="297" alt="namvets (22K)"></div>
<br><hr><br>
Useful Idiots;
 <br>
Saul Alinsky died about 43 years ago, but his writings influenced those in political control of our nation today....... Recall that Hillary did her college thesis on his writings and Obama writes about him in his books.
Died: June 12, 1972, Carmel-by-the-Sea, Monterey County, CA.
Education: University of Chicago
Spouse: Irene Alinsky
Books: Rules for Radicals, - Reveille for Radicals.
<br>
Anyone out there think that this stuff isn't happening today in the U.S.?
<br>
All eight rules are currently in play.
<br>
How to create a socialist state by Saul Alinsky:
<br>
There are eight levels of control that must be obtained before you are able to create a socialist state.
<br>
The first is the most important.
<br>
1) <u>Healthcare -  Control healthcare and you control the people</u>
<br>
2) Poverty -  Increase the Poverty level as high as possible, poor people are easier to control and will not fight back if you are providing everything for them to live.
<br>
3) Debt -  Increase the debt to an unsustainable level. That way you are able to increase taxes, this will produce more poverty.
<br>
4) <span class="legacy-5c2f84ebef">Gun Control -  Remove the ability to defend themselves from the Government. That way you are able to create a police state</span>.
<br>
5) Welfare - Take control of every aspect of their lives (Food, Housing, and Income)
<br>
6) Education -  Take control of what people read and listen to Take control of what children learn in school.
<br>
7) Religion -  Remove the belief in God from the Government and schools.
<br>
8) Class Warfare - Divide the people into the wealthy and the poor. This will cause more discontent and it will be easier to take (Tax) the wealthy with the support of the poor.
<br><br>
Does any of this sound like what is happening to the United States?
<br><br>
Alinsky merely simplified Vladimir Lenin's original scheme for world conquest by communism, under Russian rule.

Stalin described his converts as "Useful Idiots." The Useful Idiots have destroyed every nation in which they have seized power and control.
It is presently happening at an alarming rate in the U.S.
<br>
If people can read this and still say everything is just fine, they are "useful idiots".
<hr>
</td></tr>
<tr><td>
<br><br>
 Written by a gunsmith that knows his stuff. Anyone can Google StG'44 and read the history.
 <br>Hugo Schmiesser (of Schmeisser Machine pistol fame) had a team which sought to develop new "wonder weapons" to win the war.
 They identified a gap in the German small arms inventory which was inadequate rates of fire from their Mauser bolt action rifles.
 They wanted a single-man-carried fully automatic light weight gun firing a rifle cartridge.
 They designed the gun around a new cartridge which was a shortened version of their 7.92mm x 57mm Mauser round which became the 7.92mm x 33mm or 7.92 Kurz, or "short" in English.
 Naturally the bullet was shortened proportionally. They had a few prototypes that failed but the final version, the "Machinepistole '43" was presented to Hitler on the Russian Front.
 He had forbidden new small arms development and this project was executed behind his back.
 In a desperate moment he asked his staff to specify what was needed to win, and was presented with this new gas-operated lightweight machine gun.
 He promptly named it "Sturmgehwer ": assault weapon. The AK47 is a rip off of this design. Hugo Schmeisser was captured and worked with Sgt. Kalashnikov at his design bureau.
 Therefore, any weapon that has the same features and functions as a Stg.'44 is an assault weapon, that is; it must be a lightweight, fully automatic, gas operated aircooled weapon
 supplied by a box magazine and capable of being carried, operated, loaded and maintained by one soldier.
 This means that your AR-15 is not an assault weapon. <u>It does not matter if an untruth is repeated a million times, it will still be untrue</u>.
 You can research this but that's the story.
 </td></tr>
</tbody></table>
<br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: hitler (21K)</span></div>
<hr>
		<br><br>
		<div class="legacy-c353af57b2"><a href="https://www.youtube.com/watch?v=zYPhCmXB-f8" target="_blank" rel="noopener noreferrer"><span class="legacy-63a7ce21a5">John Stossel - MYTH -Gun Control Reduces Crime</span></a></div>
<br>
<hr>
<br>
<div class="legacy-c353af57b2">
<b><i>This is a gotta have one!</i></b>
<br>We have a Book about the History Pine Tree Rifle Club coming out soon. The Book was written by john DelSavio and will sell for $12.95.
<br>The first printing should be out in the next 2 weeks. It Has a lot of facts as well as old pictures of the club. The history of the club will impress!
<br>You can reserve a copy by paying in advance any Monday Night.
</div>
<br>
<hr>
<br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: pcaward (105K)</span><span class="missing-image">Image unavailable: pc1award (152K)</span>
</div>
<br>
<hr>
<br>
		<div class="legacy-fb5ec070f2"><a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=PQvW1xl76cQ" target="blank"> <div class="legacy-f98591319f"><h2>VIDEO of PTRC April 19th 2014 PROTEST</h2></div> </a> </div>

<br>


