---
{
  "layout": "base.njk",
  "permalink": "admin/ptrcms.html",
  "title": "PTRC Membership Secertary — Pine Tree Rifle Club",
  "description": "Dues cycle & rates January 1st - December 31st Annual single membership 18-69yrs of age is $75.00 per calendar year with a current NRA membership. Married ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br><br><br>
<br>
<br>
<table class="legacy-border-10 legacy-ab3ad00b2b">
<tbody><tr>
		<td class="legacy-fb5ec070f2">
				<span class="legacy-63a7ce21a5"><b>
				Dues cycle &amp; rates
				<br>
				January 1st - December 31st
				<br>Annual single membership 18-69yrs of age is $75.00 per calendar year with a current NRA membership.
				<br>Married couple of same address is $130.00 with current NRA memberships.
				<br>Junior membership = Must be 10 years old and up - fee is $1.00<br>
				<br>Annual dues for members 70+ years young shall be $65.00
				<br>(2007 Bylaws changed to read all new members shall be/become a member of the NRA,
				<br>Members pre September 07 must submit an additional $15.00 per year if not NRA member)
				<br>
				<br>   Dues paid between February 1st - February 28th will be charged a late fee of $25.00
				<br>If dues are not paid by February 28th midnight your membership shall be withdrawn.
				<br>
				<br>
				<br>As of March 1st and beyond to be reinstated you must;
				<br>Submit an updated application with a $45.00 reinstatement fee plus one years dues
				<br>and show proof of current NRA membership or enroll thru club.
				<br>
				</b></span>
		</td>
</tr>
</tbody></table>


