---
{
  "layout": "base.njk",
  "permalink": "admin/rangesch.html",
  "title": "Range Schedule — Pine Tree Rifle Club",
  "description": "All Ranges are Closed Wednesday Indoor range closed when Hall is in use Indoor Range Schedule Monday - Pistol Tuesday - Smallbore Wednesday - Closed Thursd",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<table class="legacy-padding-3772b3a1 legacy-border-10 legacy-da36c9efda">

<tbody><tr>
       <td>
	   <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a"></span>&nbsp;</p>
       <p class="legacy-fb5ec070f2"><strong><u><span class="legacy-117d8db3c8">All Ranges are Closed Wednesday </span></u></strong></p>
       <p class="legacy-fb5ec070f2"><strong><u><span class="legacy-117d8db3c8">Indoor range closed when Hall is in use</span></u></strong></p>

	   <br>
	   <div class="legacy-fb5ec070f2"><span class="legacy-8820222f5e"><strong><u>Indoor Range Schedule</u></strong></span></div>
<p>
</p><blockquote dir="ltr" class="legacy-a44850c008">
  <p><span class="legacy-8f05af8d3a">Monday - Pistol</span></p>
  <p><span class="legacy-8f05af8d3a">Tuesday - Smallbore</span></p>
  <p><span class="legacy-8f05af8d3a">Wednesday - Closed</span></p>
  <p><span class="legacy-8f05af8d3a">Thursday - Archery / Pistol League Oct - April 5:30-8:30PM</span></p>
  <p><span class="legacy-8f05af8d3a">Friday - Smallbore
  competitions (evenings per schedule)</span></p>
  <p><span class="legacy-8f05af8d3a">Saturday - Open</span></p>
  <p><span class="legacy-8f05af8d3a">Sunday - Morning Pistol, Afternoon Archery</span></p>
  <p>&nbsp;</p>
  <p class="legacy-fb5ec070f2"><strong><u><span class="legacy-8820222f5e">Trap and Skeet</span></u></strong></p>
  <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a">Tuesday - weather permitting Skeet 9AM-</span></p>
  <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a">Thursday - weather permitting Skeet 9AM- Trap 5PM-</span></p>
  <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a">Saturday - all year Skeet 9AM-</span></p>
  <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a">Sunday - all year Skeet 9AM-
</span></p>
  <p class="legacy-fb5ec070f2"><strong><u><span class="legacy-8820222f5e">Main Range</span></u></strong></p>
  <p class="legacy-4555334f95"><span class="legacy-8f05af8d3a">Open year round every day 9AM till dark except Wednesday<br>Special Note<br>Winter months road to main range closed to vehicular traffic, the range itself remain OPEN.</span></p>
</blockquote>
	   <br>
	   </td>
</tr>
</tbody></table>
<br>


