---
{
  "layout": "base.njk",
  "permalink": "admin/shotgun.html",
  "title": "PTRC Shotgun pattern frame — Pine Tree Rifle Club",
  "description": "Image unavailable: shotgunframe (222K) A new ideal for bird shot patterning. Heavy 2x4 frame work with 4 heavy casters to make it easy to move. Backer is h",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: shotgunframe (222K)</span></div>
<br><br>
<div class="legacy-c353af57b2">A new ideal for bird shot patterning. Heavy 2x4 frame work with 4 heavy casters to make it easy to move.
<br>Backer is heavy chicken wire, simply use metal clips to hold your paper target to wire.</div>
<br>


