---
{
  "layout": "base.njk",
  "permalink": "admin/specialevent.html",
  "title": "SPECIAL EVENT — Pine Tree Rifle Club",
  "description": "SPECIAL EVENT June 16th at 7PM to benefit the K9 Division of the Fulton County Sheriff's Department Brought to you by Richard Giardino An evening with Bill",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><h1>SPECIAL EVENT</h1></div>
<div class="legacy-c353af57b2"><h2>June 16th at 7PM to benefit the K9 Division of the Fulton County Sheriff's Department</h2></div>
<div class="legacy-c353af57b2"><h3>Brought to you by Richard Giardino</h3></div>
<br>
<table role="presentation" class="legacy-192bbbf900">
<tbody><tr><td>
 &nbsp;An evening with <b>Bill Clark</b>. He will speak about his experiences in Vietnam, as a homicide detective on the NYPD , including the Son of Sam case and his role as a producer of NYPD Blue.
Read below, he is known for his work in Vietnam during the war working with K9's and later on the "Son of Sam" case in New York City and later his work on the hit show NYPD Blue. He will speak about the "Son of Sam" case!
<br><br>
 &nbsp;<b>Admission will be just $5.00</b> <u>with all going to the K9 benefit ride 2015 for the Fulton County Sheriff's Department</u>. Refreshments will be served.
<br><br>
 &nbsp;Born Newfoundland Clark grew up in Brooklyn, NY. He is a veteran NYPD Detective First Grade and television Writer and Executive Producer. Clark joined David Milch and Steven Bochco's NYPD Blue in the first season as technical consultant and continued to draw on his twenty-five years experience with New York undercover and homicide units to ensure that the series accurately and realistically portrayed the work of New York City detectives. He went on to win two Emmy Awards, and was also honored with a Writers Guild of America a Peabody Award and two Humanitas Prize.
Detective Bill Clark's police work and odd twists of fate that solved the case of The Son of Sam killer. Detectives traced a parking ticket issued on the night of what turned out to be his final murder to a car registered to a 24-year-old postal worker living in Yonkers: David R. Berkowitz. He confessed to the crimes and is serving several life sentences.
<br><br>
<b>Military</b>
<br>
 &nbsp;At age 17, Clark joined the United States Army with tours of duty in Europe and Vietnam as a member of the Infantry Division where he served as a scout dog handler, walking point with his German Shepard Dog, Mox, with the Forty-Sixth Infantry Platoon Scout Dog, Second Battalion, 14th Infantry Regiment.
While in the NYPD he joined the Army Reserve entering at the rank of Staff Sargent and retiring in 1989 as a Major.
<br><br>
<b>Tickets will be limited to 200 and will be out soon!</b>
</td></tr>
</tbody></table>


