---
{
  "layout": "base.njk",
  "permalink": "admin/srr.html",
  "title": "Safety Rules and Regulations — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB \"SAFETY RULES AND REGULATIONS\" The Pine Tree Rifle Club is a private organization. Use of the firing ranges is available only to paid-",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<table class="legacy-padding-3772b3a1 legacy-border-10 legacy-158a160fb5">
<tbody><tr>
	   <td><div class="legacy-c353af57b2"><b><span class="legacy-8820222f5e">PINE TREE RIFLE CLUB "SAFETY RULES AND REGULATIONS"</span></b></div></td>
</tr>
<tr>
       <td>
	   <p>
        &nbsp;&nbsp;The Pine Tree Rifle Club is a private organization. Use of the firing ranges is available only to paid-up
        members in good standing, and their guest. Guests must be accompanied by a member whenever on club property.
       </p>
	   <p>
	   &nbsp;&nbsp;Safety for all concerned, Club and Shooters, is the main reason for establishing the following rules. No member's right
	   to use the ranges will be interfered with if the rules are strictly followed. The club has been accident free, and it is
	   everybody's job to keep our record clean!
	   </p>
	   <div class="legacy-list">01. No alcoholic beverages are permitted on or near any firing range.</div>
	   <div class="legacy-list">02. All firearms must be pointed in a safe direction at all times. This means down range when on a firing range. Be particularly
	   careful about this point when opening the slide or removing the magazine from a pistol.</div>
	   <div class="legacy-list">03. A range officer will check the firing line when two or more people are shooting. One person will be selected as range officer
	   by the shooters present.</div>
	   <div class="legacy-list">04. The range officer will not permit anyone  to go down range until the line has been checked for the following.
	   <div class="legacy-subitem">&nbsp;&nbsp;A. All actions-cylinders-bolts-slides are open and empty with an ECI inserted (Empty Chamber Indicator)</div>
	   <div class="legacy-subitem">&nbsp;&nbsp;B. Magazines and or clips are removed from pistols and rifles.</div>
	   <div class="legacy-subitem">&nbsp;&nbsp;C. Shooters are not to handle firearms. (Do your sight adjustments only after the range is declared safe for
	   shooting). Only after the range officer is satisfied that the line is clear and the RED FLASHING SAFETY LIGHTS ARE ON will people
	   be allowed to proceed down range.</div>
	   </div>
	   <div class="legacy-list">05. Proper ear and eye protection must be worn by those who are shooting and anyone else on or near the firing line.</div>
		 <div class="legacy-list">06. ECI's (empty chamber indicators) are mandatory for safety!</div>
	   <div class="legacy-list">07. Don't ask to go down range to check your target after each shoot is fired. Be considerate of the other shooters.
	   Either bring a spotting scope or be patient.</div>
	   <div class="legacy-list">08. Shoot paper targets only. Do not shoot anything else without permission of the Board of Directors.</div>
	   <div class="legacy-list">09. Firearms that are deemed illegal by the state are not to be brought onto club property.</div>
	   <div class="legacy-list">10. Ensure all cased firearms are unloaded before entering club property.</div>
	   <div class="legacy-list">11. All firearms are to be loaded only when on a proper firing range and only after the range officer states that the
	   range is safe for shooting.</div>
	   <div class="legacy-list">12. Members are to display their buttons and or membership card if requested to do so by any other member. The club
	   grounds are available to paid-up members and their guests only. All others must leave the property immediately upon request
	   or be dealt with by our local law enforcement for trespassing.</div>
	   <div class="legacy-list">13. Any club member who observes dangerous, unsafe or any other improper conduct occurring on club property is authorized
	   to direct those involved to immediately stop or leave the club property. The act shall be reported to a club officer as soon as
	   possible. The information will include the nature of the concern and the names of persons involved.</div>
	   <p></p><div class="legacy-fb5ec070f2"><u>INDOOR RANGE USE</u></div>
	   <div class="legacy-list">01. Where they apply, All of the above rules are to be followed when shooting indoors.</div>
	   <div class="legacy-list">02. Standard Full Metal Jacket and Hollow Point bullets are allowed! No +P, +P+ or Mag are allowed.</div>
	   <p></p>
	   </td>
</tr>
</tbody></table>



