---
{
  "layout": "base.njk",
  "permalink": "admin/clover/Payment Center.htm",
  "title": "Secure online payment for membership — Pine Tree Rifle Club",
  "description": "Annual dues for membership from 18 to 69 is $75.00 with current NRA membership. Members 70 years of age and up $55.00 w/proof of NRA membership & expiratio",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br><br>
<table class="legacy-border-10 legacy-5c2499f8dd">
<tbody><tr>
<td>
<br>
<div class="legacy-list">
Annual dues for membership from 18 to 69 is $75.00 with current NRA membership.
Members 70 years of age and up $55.00 w/proof of NRA membership &amp; expiration date,
Date of Birth. Married couple of same address $130.00 with current NRA memberships.
(Married w/one 70 &amp; up $95.00 both 70 &amp; up $90.00 w/proof of NRA membership &amp; Date of Birth)
Junior memberships 10yrs of age and up $1.00.
</div>
<div class="legacy-list">
Dues paid between February 1st - February 28th will be charged a late fee of $25.00
If dues are not paid by February 28th midnight your membership shall be withdrawn.
</div>
<div class="legacy-list">
As of March 1st and beyond to be reinstated you must;
Submit an updated application with a $45.00 reinstatement fee plus one years dues
and show proof of current NRA membership or enroll thru club.
</div>
<div class="legacy-list">
Detailed information on back of our club application as to fees.
</div>
<div class="legacy-list">
Any questions email our Membership Chair Kevin Capobianco
<br>
</div>
</td>
</tr>
<tr>
<td>
<div class="legacy-list">
<br>
<div class="legacy-c353af57b2"><b>Her is our secure on-line payment system - link listed below!</b></div>
</div>
<br>
<div class="legacy-list">
<div class="legacy-c353af57b2">
<a href="https://link.clover.com/urlshortener/Cw2m6v" target="_blank" rel="noopener noreferrer" class="legacy-6e3b1789ea">PTRC PAY NOW</a>
</div>
</div>
<br><br>
</td>
</tr>
</tbody></table>


