---
{
  "layout": "base.njk",
  "permalink": "fireside/082014.html",
  "title": "It’s been sometime since I’ve put together anything for the Fireside at the Pine Tree",
  "description": "A BIT OF PTRC HISTORY RETURNS It’s been sometime since I’ve put together anything for the Fireside at the Pine Tree. That hiatus was for good cause though,",
  "legacyHead": "\n\n\n<style>\n\n</style>",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true,
  "legacyBodyClass": "legacy-4e35bb64b7"
}
---


<div class="WordSection1">

<p class="MsoTitle">A BIT OF PTRC HISTORY RETURNS</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">It’s been sometime since I’ve put together anything for the
Fireside at the Pine Tree. That hiatus was for good cause though, as much of my
time was directed at research and writing a book about the history of the Pine
Tree Rifle club. The book should be available August 13<sup>th</sup> at the
monthly members meeting or soon after.</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">While piecing together the clubs 77 years of history several
members approached me with PTRC memorabilia. Most of the items are old photos,
club pins, and early membership <span class="GramE">id</span> cards. Also there
were several jacket patches as well. These are the patches that were given to
the shooters who attended the benchrest matches between 1947 and 1987. They are
colorful reminders of those grand rifle matches held at the club when the top
shooters in the world flocked to our firing line.</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">On May 31, 2014, 36 benchrest competitors came to the firing
line to take part in a registered IBS benchrest match at the PTRC. It had been
27 years earlier that the last IBS benchrest match was held at the club, and a
few of the competitors made mention that they had shot on our range back then.
One of them a gray haired gent handed me two old PTRC match patches, and said
that he wanted to donate them back to the club. I thanked him for the patches
and assured him that they would be added to the clubs archives.</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">With all the details of running the match that day I didn’t
have time to take a good look at the patches till that evening. One of the
patches was from the 1985 IBS International Championship Matches held at the
PTRC. There were 9 different countries represented on the patch as can be seen
in the present of their flags. It is rich in color and design as can be seen in
the photo.</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">The second patch is from what I believe may have been the
last IBS match held at the club back in 1987. That patch denotes it as the Ken
Gooberlet Memorial Shoot. I remember Ken and how he loved the shooting sports
and the PTRC. </p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">We are starting to have a nice collection of club
memorabilia, and I hope it continues to grow. It represents a physical link to
our club’s history and should be persevered and displayed. At present we are
limited to a small space where this done in the lounge area of the clubhouse.
It is my hope that as the collections grows a proper display is established for
all members to view and enjoy. </p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal">If you have any old photos, pins, patches, or other PTRC
treasures of the club’s past I urge you to donation these items to the club.
You will be helping preserve our clubs history. To donate items contact John
Del Savio at the club or any member of the club’s board of directors.</p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal legacy-079dcfc61e">May all your shots find
their intended mark, John Del Savio</p>
<br><br>
<div class="legacy-c353af57b2">
<span class="missing-image">Image unavailable: patch1985 (599x640) (336K)</span>
&nbsp;
<span class="missing-image">Image unavailable: patch1987 (637x640) (356K)</span>
</div>
<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal"><span>&nbsp;</span></p>

<p class="MsoNormal"><span class="legacy-a79eda2293">&nbsp;</span></p>

</div>



