---
{
  "layout": "base.njk",
  "permalink": "fireside/22rimfirehistory.html",
  "title": "22rimfirehistory — Pine Tree Rifle Club",
  "description": "A Brief History of the 22 Rimfire Cartridge Chronological development of the 22 caliber rimfire cartridge. By, John Del Savio I have prepared this brief hi",
  "legacyHead": "\n\n\n\n<style>\n\n</style>",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false,
  "legacyBodyClass": "legacy-01ee776810"
}
---

    <div class="WordSection1">
      <p class="MsoNormal legacy-c6610e6d72"><b><span class="legacy-e2366f52c2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">A Brief History of the 22
                Rimfire Cartridge</span></span><span></span></span></b></p>
      <p class="MsoNormal legacy-c6610e6d72"><span class="legacy-cba1d419ae"><span>&nbsp;</span></span></p>
      <p class="MsoNormal legacy-c6610e6d72"><b><i><span class="legacy-cba1d419ae"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Chronological<span class="legacy-a79eda2293">&nbsp;
                  </span>development of the 22 caliber<span class="legacy-a79eda2293">&nbsp;
                  </span>rimfire cartridge.</span></span><span></span></span></i></b></p>
      <p class="MsoNormal legacy-079dcfc61e"><b><i><span class="legacy-13dd06ee0d"><span>&nbsp;</span></span></i></b></p>
      <p class="MsoNormal legacy-079dcfc61e"><span class="legacy-8e9e8b00c5"><span class="legacy-0bcfec8242">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">By, John Del
              Savio</span></span><span></span></span></p>
      <p class="MsoNormal legacy-c6610e6d72"><span>&nbsp;</span></p>
      <p class="MsoNormal"><span class="legacy-0bcfec8242">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;
            </span></span></span><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">I have
            prepared this brief history pertaining to the development of
            the 22 rimfire
            cartridge for those who wish to know the secession of events
            leading to the
            development of the 22 rimfire cartridge as we know it today.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; In<span class="legacy-a79eda2293">&nbsp; </span>a 1831 patent<span class="legacy-a79eda2293">&nbsp; </span>a thin walled
            cartridge case with priming
            compound<span class="legacy-a79eda2293">&nbsp; </span>contained
            within the rim was
            filed. History is rather scant of what transpired over the
            next 14 years before
            the introduction of the Flobert 22 BB cap.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; In 1845 the
            Flobert<span class="legacy-a79eda2293">&nbsp;
            </span>BB cap was introduced to the world. This is a 22
            round ball pressed into
            a rimmed version of a percussion musket priming cap. Thus
            forming a self
            contained cartridge, but not having gun powder for a
            propellant. It relying
            solely on the priming compound to propel the projectile. The
            power level of this
            cartridge was not sufficient for much beyond short range
            target shooting. Never
            the less the tiny cartridge became very popular for indoor
            target shooting in
            what was referred to as Parlor rifles and pistols.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Much the way that people play dart,
            or other indoor games of
            skill so were the Parlor guns used.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1857 the 22
            short cartridge was developed for Smith &amp;
            Wesson’s first revolver. It had a longer case and a powder
            charge of 4 grains
            of black powder. This cartridge also used a conical shaped
            projectile.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; In 1871 the 22
            Long cartridge was developed in an effort to
            add power to the 22 cartridge that would make it suitable
            for small game
            hunting. The cartridge case was lengthen and the powder
            charge increased to 5
            grains of black powder. The long continued to use the same
            conical shaped
            projectile as the shot cartridge did.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1880 the 22
            Extra long cartridge<span class="legacy-a79eda2293">&nbsp; </span>(or
            22-7-45) hit the market in an effort to
            further push the 22 rimfire as a effective small game
            cartridge. This cartridge
            had a much longer case length , used a 45 grain conical
            projectile and a 7
            grain charge of black powder. It was never very popular and
            reported to foul
            the rifles bore rather quickly. It is dropped from the ammo
            catalogs in 1935,
            but firearms produced<span class="legacy-a79eda2293">&nbsp; </span>for
            this seems to
            have stopped in 1916 or earlier. </span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1887 the J.
            Steven Arms &amp; Tool Co. developed the 22 Long
            Rifle cartridge. They used the 22 Long cartridge case and
            gave it a powder
            charge of 5 grains of fine<span class="legacy-a79eda2293">&nbsp;
            </span>black powder.
            The 29 grain bullet used in the 22 long cartridge was
            replaced wit a 40 grain
            conical. Stevens also recognized that the heavier projectile
            used in the new
            cartridge needed a faster twist rate to the rifling and thus
            they provided in
            their rifles. The success of this tiny rimfire cartridge is
            legendary. It
            continues to this day as the most ever produced firearm
            cartridge.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1890 The 22 WRF
            and the Remington version of that (22
            Remington Special) were introduced. </span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1925 Marked
            another quantum leap for the rimfire cartridge
            (and center fire as well) in that a new non-corrosive
            priming compound was
            being used in the production of ammunition. The old original
            priming compound
            used in ammunition prior to 1925 is the main cause of the
            damage found in the
            bore of many fine old firearm. </span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp; 1959 Winchester
            introduces their new 22 Rim Fire Magnum. It
            was an instant success and continues to be so to this day.
            With it’s copper
            jacketed bullet and a muzzle velocity of 1800 FPS+ it a
            great small game
            cartridge.</span></span></p>
      <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span></span><span class="legacy-2b41566dfc"></span> <br>
          </span></span></p>
    </div>


