---
{
  "layout": "base.njk",
  "permalink": "fireside/fireside.html",
  "title": "FIRESIDE PTRC — Pine Tree Rifle Club",
  "description": "FIRESIDE was Elmer Keith a ? 22 Rimfire History 1950 Wildcat Cartridge Found Ruger 204 part 1 Ruger 204 part 2 A Bit More of PTRC History",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": false
}
---

<br><br><br>
<table class="legacy-padding-3772b3a1 legacy-border-5 legacy-17314207e3">

<tbody><tr>
       <td class="legacy-fb5ec070f2"><h1>FIRESIDE</h1></td>
</tr>
<tr>
       <td><a href="keith.html">was Elmer Keith a ?</a></td>
</tr>
<tr>
       <td><a href="22rimfirehistory.html">22 Rimfire History</a><a></a></td>
</tr>
<tr>
       <td><a href="wildcat.html">1950 Wildcat Cartridge Found</a></td>
</tr>
<tr>
        <td><a href="204ruger1.pdf">Ruger 204 part 1</a></td>
</tr>
<tr>
       <td><a href="204ruger2.pdf">Ruger 204 part 2</a></td>
</tr>
<tr>
       <td><a href="082014.html">A Bit More of PTRC History</a></td>
</tr>
<tr>
       <td></td>
</tr>

</tbody></table>




