---
{
  "layout": "base.njk",
  "permalink": "fireside/keith.html",
  "title": "keith — Pine Tree Rifle Club",
  "description": "Was Elmer Keith a Benchrest Shooter? By John Del Savio It was on an evening in February a few years back while at the Pine Tree Rifle Club when the topic o",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

    <br>
    <meta http-equiv="Content-Type" content="text/html;
      charset=ISO-8859-1">

    <p class="MsoNormal legacy-fb5ec070f2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Was

              Elmer Keith a Benchrest Shooter?</span></span></span></span></p>
    <p class="MsoNormal legacy-0accc82736"><span class="legacy-63a7ce21a5">By John Del Savio</span></p>
    <p class="MsoNormal"><span>&nbsp;</span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">It was on an evening in February a
          few years back while at the Pine Tree Rifle Club when the
          topic of Elmer Keith came up. Several club members were gather
          in the club’s pub area<span class="legacy-a79eda2293">&nbsp; </span>after
          some informal (indoors range) pistol practice, and the
          conversations was the expected of firearms, hunting and so on.
          I remember that evening well as it was snowing heavy and the
          warmth of the club house fire place was very comforting. One
          of the Members made mention of deer hunting with a revolver in
          44 magnum. One thing lead to another about the 44 magnum and
          its inventor, Elmer Keith. </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">When I made mention that Elmer Keith
          was once at the Pine Tree Rifle Club back in the 1950’s, I was
          asked<span class="legacy-a79eda2293">&nbsp; </span>“Was Elmer
          Keith a Benchrest shooter?”. I did hear that he was at the
          PTRC, but I didn’t know if he was a BR Shooter. I set forth to
          find out.</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Not many of today’s handgun
          enthusiasts under the age of 50 may know who Elmer Keith was,
          but he was a well know writer back in the mid 20<sup>th</sup>
          century and the Father of the 44 Remington Magnum cartridge.
          Elmer wrote of hunting with hand guns and was always an
          advocate of large diameter heavy bullets, in both handguns and
          rifles. Elmer didn’t just write about them he used then and
          knew about what he wrote first hand.</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">That question sparked my interest.<span class="legacy-a79eda2293">&nbsp; </span>I started an
          investigation with a call to a good friend who was a Benchrest
          Shooter back in the early 1950’s at the PTRC. Wally Hart of
          Hart Rifle in Nescopeck, PA was present at nearly all of the
          early BR matches that took place at the PTRC. When I asked
          Wally if he remember Elmer Keith being a BR shooter he said
          no, however he did remember Elmer being at the PTRC once.
          Wally told me that he was passing through and stopped to see
          what was going on at the match.</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Elmer Keith lived in Salmon, Idaho
          and Johnstown, New York was more that a hop, skip, and a
          pistol shot from his home. So now there was a new question to
          find an answer for, why was Elmer passing through Johnstown. </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Recently I acquired an old group
          photograph take at the PTRC back in 1955 that is proof
          positive that Elmer was indeed at the PTRC. In the photo below
          he can be seen standing 3rd in from the right in the second
          row. That’s Elmer fore sure with both his cigar and Stetson
          hat. </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;<br>
          </span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span><br>
          </span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: 1955A.jpg</span></div>
    <p class="MsoNormal"><span>&nbsp;</span></p>
    <p class="MsoNormal"><span>&nbsp;</span><br>
    </p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">In the photo below a close up of that
          end of the group photo shows not only Elmer Keith clearly but
          some others that are quite notable</span>.</span> </p>
    <br>
    <div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: 1955.jpg</span></div>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span><br>
        </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Front row at the left is Olive
          Walker, her daughter, and husband Mike Walker with the sun
          glasses on.<span class="legacy-a79eda2293">&nbsp; </span>Mike
          Walker is the inventor or the .222 Remington and designer or
          the Remington 700 rifle, as well as much more of what made
          Remington’s rifles famous for accuracy.</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Standing in the 4<sup>th</sup> row
          with ball caps on and eye glasses are Bob Hart and son,<span class="legacy-a79eda2293">&nbsp; </span>a very young Wally
          Hart. </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">In the third row down from the top on
          the far right with the striped shirt is Sonny Starin, and to
          the left of his is Frank Hubbard one of the founding fathers
          of modern Benchrest shooting.</span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span>&nbsp;</span></span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Getting back to why Elmer Keith was
          at the PTRC has been discovered. It was in 1955 that Remington
          Arms, and Smith &amp; Wesson announced their joint effort and
          introduced the 44Remington Magnum cartridge in the new Smith
          &amp; Wesson model 29 as the most powerful handgun in the
          world. Elmer Keith had just left the Remington Arm Plant at
          Illion, New York and was on his way to the Smith &amp; Wesson
          in </span></span></p>
    <p class="MsoNormal"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">In Springfield, Mass. Working on the
          joint project. Having a friend in Johnstown, NY Elmer stopped
          to stay the night with his friend. His friend told him of the
          PTRC and that there was an important rifle match being held
          and the two went to visit. They just happened to be there when
          the group photo was taken. So as Paul Harvey would say, “Now
          you know the rest of the story“. </span></span></p>
    <meta name="ProgId" content="Word.Document">
    <meta name="Generator" content="Microsoft Word 12">
    <meta name="Originator" content="Microsoft Word 12">




    <style>

</style><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="legacy-c353af57b2"><br>
    </div>


