---
{
  "layout": "base.njk",
  "permalink": "activities/3Darchery.html",
  "title": "PTRC 3D Archery — Pine Tree Rifle Club",
  "description": "Image unavailable: 20213darchery (262K)",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: 20213darchery (262K)</span></div>


