---
{
  "layout": "base.njk",
  "permalink": "activities/countrynight.html",
  "title": "PTRC Country Night 2016 — Pine Tree Rifle Club",
  "description": "Image unavailable: OCT16countrynightposter (417K)",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: OCT16countrynightposter (417K)</span></div>



