---
{
  "layout": "base.njk",
  "permalink": "activities/ppsl.html",
  "title": "PTRC Practical Pistol Shooting League — Pine Tree Rifle Club",
  "description": "Practical Pistol Shooting League",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<div class="legacy-c353af57b2"><h2>Practical Pistol Shooting League</h2></div>


