---
{
  "layout": "base.njk",
  "permalink": "activities/ptrcfs.html",
  "title": "Pine Tree Rifle Club FUN SHOOTS",
  "description": "Fathers Day Fun shoot/breakfast 06/17/2018 Image unavailable: ptrcfd (194K) 2014",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br>
<br>
<div class="legacy-fb5ec070f2"><h3>Fathers Day Fun shoot/breakfast 06/17/2018</h3></div>
<br>
<br>
<div class="legacy-c353af57b2"><span class="missing-image">Image unavailable: ptrcfd (194K)</span></div>
<div class="legacy-fb5ec070f2">2014</div>
<br>
<br>


