---
{
  "layout": "base.njk",
  "permalink": "activities/skeet.html",
  "title": "Skeet — Pine Tree Rifle Club",
  "description": "SKEET Link to a very short (2:14) intro to How to Shoot Skeet Skeet is defined as a form of trap shooting in which two traps are used and targets are hurle",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<br><br>
 <table class="legacy-padding-74761400 legacy-border-5 legacy-498a88730e">
      <tbody>
        <tr>
          <td class="legacy-4d524dc3cb">
            <div class="legacy-fb5ec070f2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><span class="legacy-f98591319f"><br>
                      SKEET</span></span></span></span><br>
											Link to a very short (2:14) intro to <a href="https://www.youtube.com/watch?v=-PXM39Q5GiA" targer="_blank">How to Shoot Skeet</a>
            </div>
            <br>
            <div class="legacy-4555334f95"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">&nbsp;&nbsp;&nbsp;
                  Skeet is defined as a form of trap shooting in which
                  two traps are used and targets are hurled singly or in
                  pairs at varying elevations and speeds so as to</span></span><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">
                  simulate the angles and flight taken by game birds. A
                  round of skeet provides the opportunity to shoot 25
                  clay targets from a field layout of eight stations.</span></span><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">
                  Some "birds" will be crossing targets while others are
                  going away or incoming. All birds leave the trap house
                  at approximately 41 miles per hour, but because</span></span><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">
                  of the varying angles between the shooter and the
                  bird, the perceived speed changes on each station</span></span><br>
              <br>
							<div class="legacy-c353af57b2"><img src="Skeetlayout02.jpg" width="499" height="254" alt="Skeetlayout02 (24K)"></div>
							<br>
              &nbsp;&nbsp;&nbsp; <span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">There are several state and
                  national organization which hold sheet competitions.
                  <br>But at Pine Tree we only shoot skeet as recreation
                  where the only competition is
                  an individual trying to "go straight" and break all 25
                  targets. <br>The skeet fields (we have two) are open to
                  the public with shooting commencing at 9:00AM onTuesdays
                  Thursdays, Saturday and Sundays <br>and usually winding
                  down by noon. You can use almost any shotgun model or
                  action to shoot skeet, but the most success comes with<br>
                  open chokes and smaller sized shot.<br>
                  <br>
                  &nbsp;&nbsp;&nbsp; Please feel free to stop anytime we
                  are open, for coffee, to watch or to try a round. We
                  always have members on hand who enjoy helping
                  beginners and giving advice.<br>
                </span></span>
              <div class="legacy-fb5ec070f2"><span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5">Hope to see
                    you!</span></span><br>
              </div>
              <span class="legacy-63a7ce21a5"><span class="legacy-63a7ce21a5"><br>
                </span></span></div>
          </td>
        </tr>
      </tbody>
    </table>

<br><br>


