---
{
  "layout": "base.njk",
  "permalink": "3D/3D.html",
  "title": "PTRC 3D Archery Schedule 2025 — Pine Tree Rifle Club",
  "description": "",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": false
}
---

<div class="legacy-c353af57b2"><img src="20253Dflyer.jpg" width="704" height="825" alt="20253Dflyer (1055K)"></div>


