---
{
  "layout": "base.njk",
  "permalink": "3D Results.html",
  "title": "3D Results — Pine Tree Rifle Club",
  "description": "3-D shoot August 19, 2007 40 Shooters Open 1. Ron Young 368 Hunter 1. Jim Forsey 390 2. Bill Hudson 388 3. Bob Perry 378 Seniors 1. Gene Saraka 385 1. Paul",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---
<div>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">3-D shoot August 19, 2007<span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>40 Shooters<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><sup><span class="legacy-8bb700ef68">&nbsp;<span></span></span></sup></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Open<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-47b02994fc"><span class="legacy-8bb700ef68">1.</span><span class="legacy-698360ccdf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="legacy-8bb700ef68">Ron Young
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
368<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Hunter<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-47b02994fc"><span class="legacy-8bb700ef68">1.</span><span class="legacy-698360ccdf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="legacy-8bb700ef68">Jim
Forsey&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
390<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-47b02994fc"><span class="legacy-8bb700ef68">2.</span><span class="legacy-698360ccdf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="legacy-8bb700ef68">Bill
Hudson&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="legacy-eca49921cb">&nbsp;</span>388<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-47b02994fc"><span class="legacy-8bb700ef68">3.</span><span class="legacy-698360ccdf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="legacy-8bb700ef68">Bob
Perry&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp; 378<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Seniors<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">1. Gene Saraka&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
385<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">1. Paul
Hochmuth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
385<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">2. Pete
Delos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
383<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">3. Stuart
Powers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
377<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Traditional<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">1. Larry
Spinak&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
294<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Women<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">1. Julia
Hochmuth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
386<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Juniors<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-47b02994fc"><span class="legacy-8bb700ef68"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span class="legacy-698360ccdf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="legacy-8bb700ef68">Maxwell
Christman<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">Cubs<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-8bb700ef68">1.Spencer
Frenyea&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
312<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8bb700ef68">&nbsp;<sup><span></span></sup></span></p></div>



