---
{
  "layout": "base.njk",
  "permalink": "Board.html",
  "title": "Board — Pine Tree Rifle Club",
  "description": "McWeb Software - WYSIWYG HTML Web page editor, Javascript effects and DHTML scripts Board of Directors Paul Catucci - President Art Posluszny - Vice Presid",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---
<div class="legacy-fb5ec070f2"><span class="legacy-fa099a5cd3"></span>&nbsp;</div>


<p class="legacy-fb5ec070f2"> <a href="http://www.mcwebsoftware.com" class="legacy-93df803cbd">McWeb Software - WYSIWYG HTML Web page editor, Javascript effects and DHTML scripts</a><span class="legacy-fa099a5cd3">Board
of Directors</span></p>
<p class="legacy-fb5ec070f2">Paul Catucci &nbsp;- President</p>
<p class="legacy-fb5ec070f2">Art Posluszny&nbsp;- Vice President</p>
<p class="legacy-fb5ec070f2">Robert Johnson - Treasurer</p>
<p class="legacy-fb5ec070f2">Mark Wendt - Recording Secretary</p>
<p class="legacy-fb5ec070f2">Tony Basile - Membership Secretary</p>
<p class="legacy-fb5ec070f2"> Ken Andersen&nbsp;- Trustee</p>
<p class="legacy-fb5ec070f2"> Paul Christman- Trustee</p>
<p class="legacy-fb5ec070f2">John Del Savio&nbsp;- Trustee</p>
<p class="legacy-fb5ec070f2">Jim Hines- Trustee</p>
<p class="legacy-fb5ec070f2">Harry Phelps- Trustee</p>
<p class="legacy-fb5ec070f2">&nbsp;</p>
<p class="legacy-fb5ec070f2">&nbsp;</p>
<p class="legacy-fb5ec070f2">    &nbsp;</p>
<p class="legacy-fb5ec070f2">    &nbsp;</p>

