---
{
  "layout": "base.njk",
  "permalink": "CurrentMonth.html",
  "title": "Current Month — Pine Tree Rifle Club",
  "description": "July 2010 Sunday Monday Tuesday Wednesday Thursday Friday Saturday 1 2 3 4 Independence Day 5 Independence Day Observed 6 7 8 9 10 11 12 Board Meeting 7pm ",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---

<div>
<div class="legacy-fb5ec070f2"><span class="legacy-75c7bb63b3">
</span>&nbsp;</div>
<div class="legacy-fb5ec070f2">&nbsp;</div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-6eed863552">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">July
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-a38cd72f0f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-7fba701086">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4<span>&nbsp; </span>Independence Day</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5 Independence Day</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp; </span>Observed</span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">10</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12 Board Meeting
    7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14 Membership 7pm</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15 Federation 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18<span>&nbsp; </span>3D Bow Shoot</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21<span>&nbsp; </span>  </span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24<span>&nbsp; </span>Hunter Ed – Gun Course</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28&nbsp; Steak Bake</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pre-Sale Only</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">31</span></p></td></tr></tbody></table></div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-c4b5ad44c4">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">August
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-c274b8e1e5">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4&nbsp; New Members</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">&nbsp;&nbsp;&nbsp; Induction Meeting</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">&nbsp;&nbsp;&nbsp;&nbsp; 7 PM</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9<span>&nbsp;
      </span>Board Meeting 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376">10<span>&nbsp; </span></span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11<span>&nbsp; </span>Membership 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12<span>&nbsp; </span>Federation 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14<span>&nbsp; </span>Hunter Ed- Bow Course</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18<span>&nbsp; </span>Chicken BBQ</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Pre-sale
      Only</span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21<span>&nbsp; </span>Women on Target</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22<span>&nbsp; </span>3D Bow Shoot</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">31</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td></tr></tbody></table></div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-6eed863552">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">September
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-a38cd72f0f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-7fba701086">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1<span>&nbsp;
      </span>New Members </span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp; </span>Induction
      6:00</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp; </span>Board Meeting
      7pm</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6<span>&nbsp;
      </span>Labor Day</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8<span>&nbsp;
      </span>Membership 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9<span>&nbsp;
      </span>Federation 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">10</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15<span>&nbsp; </span>Supper 6:30pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19<span>&nbsp; </span>3D Bow Shoot</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29<span>&nbsp; </span>Hunter Ed. Waterfowl</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td></tr></tbody></table></div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-6eed863552">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">October
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-a38cd72f0f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-480f8a5ac7">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-57b79bc07f">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-57b79bc07f">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-57b79bc07f">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-503b3fbba6">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-503b3fbba6">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-6fda371ae2">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6<span>&nbsp;
      </span>New Members</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp; </span>Induction
      6pm</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp; </span>Board Meeting
      7pm</span></span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9</span></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-6fda371ae2">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">10</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11<span>&nbsp; </span>Columbus Day</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13<span>&nbsp; </span>Membership 7pm</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14 Federation 7pm</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16<span>&nbsp; </span>Women’s Pheasant Hunt</span></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-6fda371ae2">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-6fda371ae2">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29</span></p></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td></tr>
  <tr class="legacy-deb75fed62">
    <td class="legacy-6fda371ae2">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">31</span></p></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-472da292ec">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-646044f95e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td></tr></tbody></table></div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-17cb29f8d7">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">November
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-3143caee4c">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-eb502fc698">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-699f153210">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-699f153210">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-699f153210">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-699f153210">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-eb502fc698">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-cb2642df68">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-155e0c8e38">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3<span>&nbsp;&nbsp; New Member</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb"><span>&nbsp;&nbsp;&nbsp;&nbsp; Induction
      Meeting</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb"><span>&nbsp;&nbsp;&nbsp;&nbsp; 7 PM</span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8<span>&nbsp;
      </span>Board Meeting 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">10<span>&nbsp; </span>Membership 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11 Veteran’s Day</span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span>&nbsp;&nbsp;&nbsp;&nbsp; </span>Federation
      7pm</span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17<span>&nbsp; </span>Supper 6:30pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25<span>&nbsp; </span>Thanksgiving Day</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-5a3e1bdecb">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-439b2b190e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-439b2b190e">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-155e0c8e38">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td></tr></tbody></table></div><span class="legacy-75c7bb63b3"><br class="legacy-9ab4744c7e"></span>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
<div class="legacy-fb5ec070f2">
<table class="legacy-padding-33a3c91b legacy-border-1 legacy-86abeb5a52">
  <tbody>
  <tr class="legacy-c24152db6b">
    <td colspan="7" class="legacy-6eed863552">
      <p class="MonthNames legacy-97645c01c5"><span class="legacy-e8e9ee09d2">December
      2010</span></p></td></tr>
  <tr class="legacy-8c061bd208">
    <td class="legacy-a38cd72f0f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Sunday </span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Monday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Tuesday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Wednesday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Thursday</span></strong></p></td>
    <td class="legacy-9dae8be75a">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Friday</span></strong></p></td>
    <td class="legacy-6614aced5f">
      <p class="Weekdays legacy-97645c01c5"><strong><span class="legacy-03a32a8010">Saturday</span></strong></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-7fba701086">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-d5aac5763c">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td>
    <td class="legacy-247249ccf3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">1<span>&nbsp;
      New Member </span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb"><span>&nbsp;&nbsp;&nbsp;&nbsp;Induction
      Meeting</span></span></p>
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb"><span>&nbsp;&nbsp;&nbsp; 7 pm</span></span><span></span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">2</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">3</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">4</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">5</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">6<span>&nbsp;
      </span>Board Meeting 7pm</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">7</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">8 Membership 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">9<span>&nbsp;
      </span>Federation 7pm</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">10</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">11</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">12</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">13</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">14</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">15</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">16</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">17</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">18</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">19</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">20</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">21</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">22</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">23</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">24</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">25<span>&nbsp; </span>Christmas Day</span></p></td></tr>
  <tr class="legacy-b85613d042">
    <td class="legacy-c0e7131bd3">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">26</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">27</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">28</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">29</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">30</span></p></td>
    <td class="legacy-b59ed7c288">
      <p class="Dates legacy-97645c01c5"><span class="legacy-9fdb19cacb">31</span></p></td>
    <td class="legacy-99da68109a">
      <p class="Dates legacy-97645c01c5"><span class="legacy-c3b97501f8"><span class="legacy-6d36112376"><span></span></span></span></p><br></td></tr></tbody></table></div>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-6d36112376"><span></span></span></p>
</div>


