---
{
  "layout": "base.njk",
  "permalink": "Fireside.html",
  "title": "Fireside — Pine Tree Rifle Club",
  "description": "New Range Master Station Erected at the Pine Tree Rifle Club Range. Back in 2002 there rifle range at the Pine Tree Rifle club was showing it’s age. It had",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---
<div>
<div class="legacy-fb5ec070f2"><strong><em><span class="legacy-0d8eb86a94">New Range Master
Station Erected at the Pine Tree Rifle Club Range.</span></em></strong></div>
<div>&nbsp;</div>
<div><strong><em><span class="legacy-303f3ed109">&nbsp;Back in 2002 there rifle range
at the Pine Tree Rifle club was showing it’s age. It had been some time since
the last of the big benchrest shoots were hosted by the club and the range was
being used mostly by club members to sight in the hunting rifles. The old
benchrest were anything but level and stable. The roof over the firing line was
leaking, and the range master station where the matches were run from had become
a catch all for junk, and a home to paper wasp. Club member Frank VanAuskas, a
new probationary member at that time, need to fulfill work hours to complete his
membership at the PTRC was recruited to help me with the clean up and repair of
the RMS. The club was about to host The Rifleman’s Challenge match and would
need the RMS to run the match. After several evenings that Frank and I worked on
the RMS it was looking good again. The junk was removed, the roof repaired, the
wasp were evicted, and the building painted. It was set for the match that was
only a few weeks away. </span></em></strong></div>
<div>&nbsp;</div>
<div><strong><em><span class="legacy-303f3ed109">&nbsp;Only a few yards away from the
RMS there was a large poplar tree that was leaning towards it. PTRC authorities
were informed of the problem and I was assured it would be addressed. The
decision to cut the tree down was made and someone also informed the dept. of
Murphy’s Law. </span></em></strong></div>
<div>&nbsp;</div><div class="legacy-f98591319f"><div class="legacy-a8f4a90dad"><div class="legacy-303f3ed109">
<div><br><span class="missing-image">Image unavailable: A1.jpg</span></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Murphy’s law at work! Bulls Eye!</div>
<div>&nbsp;</div>
<div>&nbsp;I’m not sure who the wan-a-be Paul Bunion was that is responsible for
this unfortunate incident, and it really doesn’t matter. This was an unexpected
set back but it didn’t hamper the Rifleman’s Challenge Match. The Match was run
safely and a total success. However the rifle range has been without a range
master station since then. </div>
<div>&nbsp;</div>
<div>&nbsp;Over the past three years the increased activity on the club’s rifle
range has lead to the need for a RMS once again. Since 2006 there has been&nbsp;
56 rimfire rifle matches, three Rifleman’s Challenge Matches, three Pistol
matches, and two Oktoberfest matches, 5 NRA WOT programs, and several Hunter
safety classes held on the rifle range. The need for a RMS was clear.</div>
<div>&nbsp;</div>
<div>&nbsp;Once again the generosity of our club members was called up on to
help finance the&nbsp; project. As usual they didn’t let us down. Funds were
raised, materials donated , and several members volunteered to help with the
projects labor.</div>
<div>&nbsp;</div>
<div>&nbsp;At the time of this writing (Sept. 17th, 2009) the new RMS is 99%
finished and will be ready for the club’s Oktoberfest rifle match on the 19th.
The finishing touches will be applied on the 18th, and it will be ready.</div>
<div>&nbsp;</div>
<div>&nbsp;When I took the concept of a new RMS being erected to the PTRC Board
of Directors back in February of 2009 they gave their approval. I would like to
thank them for their consent, and continued support of the restoration of the
club‘s rifle range. Paul Catucci ( PTRC Pres.) along with the rest of the BOD
officers have been very supportive of the entire rifle range restoration.
Without their approval none of our rifle range improvements could have been
possible. We owe that a tip of the hat and a big THANK
YOU!<br>&nbsp;<br>&nbsp;July 8, 2009 ground was broke and the new RMS project
started. I would like to make mentioned of those club members that labored on
the project and contributed to it with materials.</div>
<div>&nbsp;</div>
<div>Bob Mulhaul, Jr. Dean, Richard Johnson, Diana Pasho, Mike Gugenberger, Mike
Johnson, Mike Kowalski, Paul Kuse, Ken Andersen, John Lavallee, Harold Miller,
Paul Cornell, Peter Betz, Doug Moore, Dick Martish, Wayne Schermerhorn, Frank
VanAuskas, Bill Meyers, Tom Orlando, Dick Bumpus, Harold Achzet, Mark Dusler,
Paul Shaw. </div>
<div>&nbsp;</div>
<div>&nbsp;If I have failed to make mention of anyone that has contributed
please forgive me for the over sight.</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span class="missing-image">Image unavailable: DSC00762.JPG</span></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Nearing completion September 16th, 2009</div>
<div>&nbsp;</div>
<div><br>&nbsp;The new RMS will control the range safety lights, PA system, and
will provide the Range Master&nbsp; a view to safely manage any activities that
will be held on the range. It is a true asset to a rifle range that our club
members can be proud of. </div>
<div>&nbsp;</div>
<div>&nbsp;I’d like to make mention of the many improvements that have been made
to the club’s rifle range since the restoration project started back in 2006.
They have all been funded by club members, and it is through their effort that
we now have a fine and safe rifle range.</div>
<div>&nbsp;</div>
<div>New roof over the firing line.<br>Range road graded and crushed stone
applied.<br>Concrete pad under the roof of the firing line.<br>New Range
Office.<br>New electrical service.<br>39 new benchrest.<br>Installation of
safety lights.<br>20 new target frames for matches to accommodate 39 shooters at
any range distance.<br>Removal of old electric lines, poles, and other
hazards.<br>Grading of the ground behind the firing line to promote
drainage.<br>New range Master Station with PA system.</div>
<div>&nbsp;</div>
<div>&nbsp;Our Club now has one of the finest rifle ranges in the state! My hat
is of to all club members that have made this a reality. THANK YOU!</div>
<div>&nbsp;</div>
<div><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
May all your shots find their intended mark, John Del Savio</div>
<div>&nbsp;</div></div></div></div></div>



