---
{
  "layout": "base.njk",
  "permalink": "Newsletter.html",
  "title": "Newsletter — Pine Tree Rifle Club",
  "description": "Hi All, Summer is here! Hope everyone can enjoy it while we got it. The steak bake tickets are out and for sale. The date is July 28th and the time is 6:00",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": false,
  "historical": true
}
---
<div>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Hi
All,<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Summer is here! Hope everyone can enjoy it while we
got<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">it. The steak bake tickets
are out and for sale. The date is July 28th<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">and the time is 6:00PM.<span class="legacy-eca49921cb">&nbsp; </span>Please be sure to get your ticket now.
We<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">will hold it to 150 this
year. Here is the menu; a rib eye steak<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">(boneless) baked potato,
green beans and corn. The price is a low<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">$12.00 per person and as
always pre-sale only.<span class="legacy-eca49921cb">&nbsp; </span>Our chicken
BBQ is<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">right around the corner 3
weeks later also pre-sale and at 6:00PM. The<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">tickets for the chicken BBQ
will be $9.00 each. Those tickets will be<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">out at the steak
bake.<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Peter Tautznik our chairman for our first motorcycle
event<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">at Pine Tree. We would like
to help support the Fulton county sheriff<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">K9 unit. We will hold a
benefit ride, chicken BBQ and entertainment at<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">the club on September 11th,
2010. Now here is the deal; bring your<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">motorcycle to Pine Tree at
1:00PM Sept 11th. The cost is $20.00 for<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">rider, you get a Pine Tree
Motorcycle pin, Chicken BBQ, a chance to<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">win prizes, entertainment
from “THE OUTLAWS” from 4:00PM until 8:00PM<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">and go for a ride. Only
bikes will be allowed to park in the lot.<span class="legacy-eca49921cb">&nbsp;
</span>If<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">you bring a rider you can
buy a dinner ticket for $10.00. You are also<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">welcome if don’t have a
bike, dinner tickets will be $10.00 per<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">person, pins will also be
for sale. We ask you make a donation to the<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">cause. We will be selling
hamburgers and hotdogs starting at 1:00PM<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">the ride will start at
2:30PM and dinner served at 5:00PM. An early<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">registration is encouraged.
We need help. Please call Pete @ 8538605<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">or me
@8485376.<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>The raffle tickets are still out. I now have 60 for
sale.<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Please call if you can help.
Please remember this is your club. We<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">keep doing club improvements
and keep the dues low because of our<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">events and our raffle is the
biggest money maker we have. With over<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">500 members again “If you
buy 1 ticket and sell 1, we are done” Help<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">your club and yourself. If
you have tickets to turn in call me. I need<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">all tickets and cash back no
later then July 26th. With your help we<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">can sell out and maximize
profit for the club.<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">New members meeting are
being moved from Mondays to the Wednesday before </span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">the board meeting.<span class="legacy-eca49921cb">&nbsp; </span>Please note that the meeting for July
will be June 30th.<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Meetings<span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>June 14th &amp; July 11<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">New Members<span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>June
30th &amp; August 4th<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Steak Bake<span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>July
28<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Chicken BBQ<span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp; </span>August
18<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">-- <span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">&nbsp;<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">Paul
Catucci<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">762-2921<span></span></span></p>
<p class="MsoNormal legacy-620b568d9d"><span class="legacy-aca1694536">paul.catucci@gmail.com<span></span></span></p>
<p class="MsoNormal legacy-97645c01c5">&nbsp;<span></span></p></div>



