---
{
  "layout": "base.njk",
  "permalink": "Oktoberfest.html",
  "title": "Oktoberfest — Pine Tree Rifle Club",
  "description": "PINE TREE RIFLE CLUB September 22, 2007 SCHÜTZENFEST RIFLE MATCH It’s been some time since the roar of a rifle match rolled across the rifle range at the P",
  "legacyHead": "",
  "legacyBodyAttributes": "",
  "isHome": false,
  "hasHeading": true,
  "historical": true
}
---
<div>
<p class="MsoNormal legacy-1e7fcb9a18"><span id="_x0000_t75" stroked="f" filled="f" path="m@4@5l@4@11@9@11@9@5xe" coordsize="21600,21600"><span joinstyle="miter"></span><span><span eqn="if lineDrawn pixelLineWidth 0"></span><span eqn="sum @0 1 0"></span><span eqn="sum 0 0 @1"></span><span eqn="prod @2 1 2"></span><span eqn="prod @3 21600 pixelWidth"></span><span eqn="prod @3 21600 pixelHeight"></span><span eqn="sum @0 0 1"></span><span eqn="prod @6 1 2"></span><span eqn="prod @7 21600 pixelWidth"></span><span eqn="sum @8 21600 0"></span><span eqn="prod @7 21600 pixelHeight"></span><span eqn="sum @10 21600 0"></span></span><span gradientshapeok="t"></span><span aspectratio="t"></span></span><span id="_x0000_i1025" type="#_x0000_t75" class="legacy-2ef506d9e0"></span></p>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-8820222f5e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<h1 class="legacy-97645c01c5"><b><i><span class="legacy-959d49173e"><span class="legacy-bdbea7bdf0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PINE TREE RIFLE CLUB<span></span></span></span></i></b></h1>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-362e9067af"><span class="legacy-bdbea7bdf0"><span class="legacy-eca49921cb">&nbsp;</span><span></span></span></span></p>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-362e9067af"><span class="legacy-bdbea7bdf0">September 22, 2007<span></span></span></span></p>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-eca49921cb"><span class="legacy-bdbea7bdf0"></span></span>&nbsp;</p>
<h2 class="legacy-h1 legacy-97645c01c5"><span class="legacy-bdbea7bdf0"><span class="legacy-3ba8d37beb">SCHÜTZENFEST
RIFLE MATCH</span><span class="legacy-928f669120"><span></span></span></span></h2>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-8820222f5e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc"><span class="legacy-8820222f5e">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class="legacy-1783397e8e">It’s been some time since the roar
of a rifle match rolled across the rifle range at the PINE TREE RIFLE CLUB of
Johnstown, New York, however the bright early fall morning air of September
22<sup>nd</sup> was filled the reports of high-powered rifles firing in
competition! <span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">It was also the
morning of the PINE TREE RIFLE CLUB’S first annual Oktoberfest. What is more
fitting then a rifle match in the morning and wonderful food, music, and
Ice-cold beer in the warm afternoon! <span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">The rifle match was a
novel match that was put together for the fun of it, and not a registered match
for big money or Hall of Fame status. It was designed to allow the shooters to
use their hunting rifles and military rifles on a playing field that they all
could compete and have a chance to show off their skills.<span class="legacy-eca49921cb">&nbsp; </span>The Match was a 10 shot match fried from
the benchrest at a distance of 200-yards. The shooters had a time limit of five
minutes to fire their rounds at a bowling pin at the 100-yard line and two 6”
heavy steel plates at the 200-yard line. Once a shooter had dropped the pin and
the plates they could fire their remaining ammo at the score target and earn
their points. There were only 10 rounds of ammo allotted to the shooter in the
match, so they had to be careful to knock out the pin and the steel target with
a minimum amount for ammo expended. <span></span></span></span></p>
<p class="MsoBodyText legacy-97645c01c5"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Shooters from four States and in a wide age group all were on the firing
line with a diverse array of rifles. They did their best to hit the 1 ½” bulls
eye that was some times very hard to see in the heat mirage of the early
mornings air</span></p>
<p class="MsoBodyText legacy-97645c01c5"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></p>
<h2 class="legacy-97645c01c5"><span class="legacy-bdbea7bdf0">Match
Results<span class="legacy-1783397e8e"><span></span></span></span></h2>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoBodyText legacy-97645c01c5"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Taking the first place trophy for the match was none other then the PINE
TREE RIFLE CLUB’S own Mr. Harold Miller. Harold used a Remington 700 rifle in
223 Remington with hand-loaded ammo to fire a perfect score of 175 points.
<b><i>Nice shooting<span></span></i></b></span></p>
<p class="MsoNormal legacy-97645c01c5"><b><i><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">Harold!!!!!!!<span></span></span></span></i></b></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-eca49921cb">&nbsp;</span>Steven Troy, Richard Maretzo, Charles
Marshall, and John A Del Savio all had a match score of 174 points, and were
locked in a four-way tie.<span class="legacy-eca49921cb">&nbsp; </span>The four
men were called to the firing line and competed in a five shot match at
200-yards to break the tie. When the smoke cleared Del Savio have fired a
possible target with 250 points, and Maretzo a score of 248 points. The four-way
tie was clearly broke.<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-362e9067af"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Second place was awarded to the PTRC Match Director John A Del Savio who
used a Remington 700 VS in 308 Winchester with hand-loaded
ammo.<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>In third Place was long time club member Doctor Richard Maretzo, who also
shot a Remington 700 VS in 223 Remington with Black Hills
Ammo.<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-eca49921cb">&nbsp;</span>Range Master Mr. Joel Huntzinger awarded
match trophies to Miller, Del Savio and Maretzo. The Miller, and Del Savio
trophies were place in the PTRC main clubhouse and remain there on display.
<span></span></span></span></p>
<p class="MsoBodyText legacy-97645c01c5"><span class="legacy-bdbea7bdf0">. </span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-bdbea7bdf0"><span class="legacy-1783397e8e"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><i><span class="legacy-3e69984efc"><span class="legacy-8820222f5e">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></i></b><span class="legacy-1783397e8e">An event of this size is the work of many people behind
the scenes putting in a bunch of good old fashion labor, and there were several.
It was the efforts of Jr. Dean, Harold Miller, Richard Bumpas, Corbett Godwin,
Richard Johnson, Bob O’Kosky, Paul Kuse, Mike Gugenberger, Gina Denise, Amanda
Ianotti, as well as a few other new club members that (please forgive me I don’t
know their names yet) that made the event the total success it was. <b><i>THANK
YOU ALL!<span></span></i></b></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-bdbea7bdf0"><span class="legacy-1783397e8e">Mister Joel
Huntzinger, a long time member of the PTRC severed duty as the Range Master for
the Match and did a great job of keeping the match safe and running on time. Ms.
Gina Denise helped with the scoring of the targets and posting the scoreboard.
Amanda Ianotti was the cheerful young lady that took care of registering the
shooters, and staging the shooters in match relays. Their efforts were a major
factor in having the event run with out error. I tip my hat to them, and again
say <b><i>THANK</i></b></span><b><i><span class="legacy-8820222f5e"> </span></i></b><b><i><span class="legacy-1783397e8e">YOU.<span></span></span></i></b></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-362e9067af"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">In closing I would
like to say that I believe that all who attended the match had a safe and fun
experience.<span class="legacy-eca49921cb">&nbsp; </span>As the range staff
started breaking down the range equipment there were many shooters who asked
when the next match would be held. There are no other matches planed for 2007,
however we will have a schedule of matched posted some time in January of
2008.<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-362e9067af"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><b><i><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">Once again, my thanks
to all those who made the match a success.<span></span></span></span></i></b></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>May all your shots find their intended mark, John A Del Savio
<span></span></span></span></p>
<p class="MsoNormal legacy-0519e6900a"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0"><span class="legacy-3e69984efc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-97645c01c5"><span class="legacy-1783397e8e"><span class="legacy-eca49921cb"><span class="legacy-bdbea7bdf0">&nbsp;</span></span><span id="_x0000_i1026" type="#_x0000_t75" class="legacy-eae75e395b"><span class="legacy-bdbea7bdf0"> </span></span><span class="legacy-eca49921cb"><span class="legacy-bdbea7bdf0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span id="_x0000_i1027" type="#_x0000_t75" class="legacy-4bc9ea3bde"></span><span class="legacy-bdbea7bdf0"><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="legacy-eca49921cb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span id="_x0000_i1028" type="#_x0000_t75" class="legacy-eae75e395b"><span class="legacy-bdbea7bdf0"> </span></span><span></span></span></p>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p>
<p class="MsoNormal legacy-1e7fcb9a18"><span class="legacy-1783397e8e"><span class="legacy-bdbea7bdf0">&nbsp;<span></span></span></span></p></div>



